#landingpage-fsafe-go .body-top {
  margin: auto;
  height: 500px;
  width: 100vw;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
#landingpage-fsafe-go .body-top-2 {
  margin: auto;
  height: 500px;
  width: 100vw;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
#landingpage-fsafe-go .body-top-3 {
  margin: auto;
  height: 500px;
  width: 100vw;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
#landingpage-fsafe-go .body-top-4 {
  margin: auto;
  height: 500px;
  width: 100vw;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
#landingpage-fsafe-go .body-top-5 {
  margin: auto;
  height: 500px;
  width: 100vw;
  position: relative;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
#landingpage-fsafe-go .header-title {
  width: 100%;
}
#landingpage-fsafe-go .popup-content-top {
  width: 500px;
  padding: 24px;
  z-index: 1000;
  position: absolute;
  background: #fff;
  border-radius: 16px;
  left: 8%;
  bottom: -10%;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.08);
}
#landingpage-fsafe-go .popup-content-top h4 {
  margin-top: 32px !important;
}
#landingpage-fsafe-go .popup-content-top h1 {
  color: #3d3d3d;
  font-family: "VL-AmpleSoft", sans-serif !important;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#landingpage-fsafe-go .img-top {
  width: 100%;
  position: relative;
}
#landingpage-fsafe-go .page-content {
  margin: auto;
}
#landingpage-fsafe-go .page-content li {
  list-style: disc;
}
#landingpage-fsafe-go .item-1 {
  /* margin: 60px 0; */
  background: #fff;
  padding: 120px 8% 80px;
  position: relative;
  margin: auto;
  bottom: 0;
}
#landingpage-fsafe-go h2 {
  color: #3d3d3d;
  font-family: "VL-AmpleSoft", sans-serif !important;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 24px;
}
#landingpage-fsafe-go h3 {
  color: #3d3d3d;
  font-family: "VL-AmpleSoft", sans-serif !important;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 36px;
}
#landingpage-fsafe-go h4 {
  font-size: 16px;
}
#landingpage-fsafe-go .popup-content-top p {
  color: var(--Icon-Text-Primary, #3d3d3d);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 8px 0;
}

#landingpage-fsafe-go .popup-content-top u {
  color: var(--Icon-Text-Primary, #3d3d3d);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

#landingpage-fsafe-go .popup-content-top span {
  color: var(--Brand-Blue-Primary, #4564ed);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#landingpage-fsafe-go .item-1 p {
  color: #888;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 8px;
}
#landingpage-fsafe-go .img-col-6 img {
  padding: 40px;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}

#landingpage-fsafe-go header ul,
#landingpage-fsafe-go .body-content-page-detail ul {
  padding-left: 1.5rem;
}

#landingpage-fsafe-go li {
  color: #3d3d3d;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 4px 0;
}
#landingpage-fsafe-go .item-2 {
  margin: 60px 8%;
}
#landingpage-fsafe-go .item-package {
  margin: 60px 8%;
}
#landingpage-fsafe-go .col-6 {
  width: 50%;
  margin: 16px 0;
  padding: 0 50px;
}
#landingpage-fsafe-go svg {
  margin-bottom: 16px;
}
#landingpage-fsafe-go .item-content-4 {
  margin: 0 4%;
}

@media only screen and (max-width: 1098px) {
  #landingpage-fsafe-go .col-6 {
    width: 100%;
  }
  #landingpage-fsafe-go .body-top,
  #landingpage-fsafe-go .body-top-2,
  #landingpage-fsafe-go .body-top-3,
  #landingpage-fsafe-go .body-top-4,
  #landingpage-fsafe-go .body-top-5 {
    background-position: top;
  }
  #landingpage-fsafe-go .item-page-margin {
    height: 40px;
  }
}
@media only screen and (min-width: 1099px) {
  #landingpage-fsafe-go .col-6 {
    width: 50%;
  }
  #landingpage-fsafe-go .body-top,
  #landingpage-fsafe-go .body-top-2,
  #landingpage-fsafe-go .body-top-3,
  #landingpage-fsafe-go .body-top-4,
  #landingpage-fsafe-go .body-top-5 {
    background-position: right;
  }
  #landingpage-fsafe-go .item-page-margin {
    height: 160px;
  }
}
@media (max-width: 767px) {
  #landingpage-fsafe-go .h80-mobile {
    height: 90px !important;
  }

  #landingpage-fsafe-go .item-content-4 {
    margin: 0 4%;
  }

  #landingpage-fsafe-go .body-top {
    background-size: contain;
    height: 360px;
    background-image: url("https://hi-static.fpt.vn/sys/hifpt/pnc_pdx/landingpage-fsafe-go/page-detail/banner-page-1.png");
  }
  #landingpage-fsafe-go .body-top-2 {
    background-size: contain;
    height: 360px;
    background-image: url("https://hi-static.fpt.vn/sys/hifpt/pnc_pdx/landingpage-fsafe-go/page-detail/banner-page-2.png");
  }
  #landingpage-fsafe-go .body-top-3 {
    background-size: contain;
    height: 360px;
    background-image: url("https://hi-static.fpt.vn/sys/hifpt/pnc_pdx/landingpage-fsafe-go/page-detail/banner-page-3.png");
  }
  #landingpage-fsafe-go .body-top-4 {
    background-size: contain;
    height: 360px;
    background-image: url("https://hi-static.fpt.vn/sys/hifpt/pnc_pdx/landingpage-fsafe-go/page-detail/banner-page-4.png");
  }

  #landingpage-fsafe-go .body-top-5 {
    background-size: contain;
    height: 360px;
    background-image: url("https://hi-static.fpt.vn/sys/hifpt/pnc_pdx/landingpage-fsafe-go/page-detail/banner-page-5.png");
  }
  #landingpage-fsafe-go .popup-content-top {
    left: 50%;
    bottom: -10%;
    transform: translate(-50%, 0);
    width: 90%;
  }
  #landingpage-fsafe-go h3 {
    height: 50px;
  }
  #landingpage-fsafe-go .col-6 {
    padding: 0;
  }
  #landingpage-fsafe-go .img-col-6 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  #landingpage-fsafe-go .item-1 {
    padding: 60px 8% 80px;
  }

  #landingpage-fsafe-go .img-col-6 img {
    padding: 16px;
    background: #fff;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    object-fit: scale-down;
    /* justify-content: flex-end; */
    display: flex;
  }
  #landingpage-fsafe-go .body-top-5 .popup-content-top {
    bottom: 10%;
  }
  #landingpage-fsafe-go .page-content-5 {
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  #landingpage-fsafe-go .h80-mobile {
    height: 50px !important;
  }

  #landingpage-fsafe-go .item-content-4 {
    margin: 0 8%;
  }

  #landingpage-fsafe-go .body-top {
    background-size: cover;
    height: 500px;
    background-image: url("https://hi-static.fpt.vn/sys/hifpt/pnc_pdx/landingpage-fsafe-go/page-detail/bg-page-top-1.png");
  }
  #landingpage-fsafe-go .body-top-2 {
    background-size: cover;
    height: 500px;
    background-image: url("https://hi-static.fpt.vn/sys/hifpt/pnc_pdx/landingpage-fsafe-go/page-detail/bg-page-top-2.png");
  }
  #landingpage-fsafe-go .body-top-3 {
    background-size: cover;
    height: 500px;
    background-image: url("https://hi-static.fpt.vn/sys/hifpt/pnc_pdx/landingpage-fsafe-go/page-detail/bg-page-top-3.png");
  }
  #landingpage-fsafe-go .body-top-4 {
    background-size: cover;
    height: 500px;
    background-image: url("https://hi-static.fpt.vn/sys/hifpt/pnc_pdx/landingpage-fsafe-go/page-detail/bg-page-top-4.png");
  }

  #landingpage-fsafe-go .body-top-5 {
    background-size: cover;
    height: 500px;
    background-image: url("https://hi-static.fpt.vn/sys/hifpt/pnc_pdx/landingpage-fsafe-go/page-detail/bg-page-top-5.png");
  }
  #landingpage-fsafe-go .popup-content-top {
    width: 500px !important;
    left: 10%;
    bottom: -10%;
    transform: none;
  }
  #landingpage-fsafe-go .item-1 {
    padding: 120px 8% 80px;
  }
  #landingpage-fsafe-go h3 {
    height: 48px;
  }
  #landingpage-fsafe-go .col-6 {
    padding: 0 50px;
  }
  #landingpage-fsafe-go .img-col-6 {
    width: 100%;
  }
  #landingpage-fsafe-go .img-col-6 img {
    padding: 40px;
    background: #fff;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    object-fit: scale-down;
    /* justify-content: flex-end; */
    display: flex;
  }
}
#landingpage-fsafe-go .row {
  display: flex;
  align-items: flex-start;
}
#landingpage-fsafe-go .footer ul {
  padding-left: 0 !important;
}
