.video-modal-div>.content {
  display: block;
}


/* video thumbnail grid */
.video-modal-div>.content .video-thumb-grid {
  position: relative;
  font-size: 0;
  /* collapse the white-space */
  width: 996px;
  /* width: calc(100% - 4rem); */
  height: 354px;
  margin: 0 auto;
  text-align: center;
}

.video-modal-div>.content .video-thumb {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  width: calc((100% - 0rem));
  height: 0;
  /* padding-top: calc(((100% - 4rem) / 1) * 0.5625); */
  padding-top: calc(((58% - 4.5rem) / 1) * 0.5625);
  overflow: hidden;
  position: relative;
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
  -webkit-transition: all 0.2s ease-out 0.05s;
  transition: all 0.2s ease-out 0.05s;
  position: relative;
}

.video-modal-div>.content .video-thumb:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  /* box-shadow: 0 2px 4px rgba(13,1,61,0.35); */
}

.video-modal-div>.content .video-thumb img.img-thumb-video {
  display: block;
  width: 100%;
  height: 100%;
  /*positioninsidethe16:;
  9container*/
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*clippingforsourceimagesthatareletterboxed*/
  object-fit: cover;
  object-position: 50% 50%;
  background: #2b2b2b;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.i-video-1 {
  position: absolute;
  width: 72px;
  height: 72px;
  top: calc(50% - 36px);
  left: calc(50% - 36px);
  opacity: 1;
  -webkit-transition: all 0.2s ease-out 0.05s;
  transition: all 0.2s ease-out 0.05s;
  /* border: 1px solid #fffdfe; */
  padding: 2px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.video-modal-div>.content .video-thumb:hover .i-video-1 {
  opacity: 0.6;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* Video Modal
-----------------------------------------*/
.video-modal,
.video-modal .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
}

.video-modal {
  overflow: hidden;
  position: fixed;
  /* fixed > chay binh thuong khi ko nam trong swipe, dua vao swiper se ko chay*/
  position: absolute;
  /*nam trong swiper ok chay */
  opacity: 0.0;

  -webkit-transform: translate(500%, 0%);
  transform: translate(500%, 0%);

  -webkit-transition: -webkit-transform 0s linear 0s;
  transition: transform 0s linear 0s;


  /* using flexbox for vertical centering */

  /* Flexbox display */
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  /* Vertical alignment */
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.video-modal .overlay {
  /* z-index: 0; */
  z-index: 9990;
  background: rgba(0, 0, 0, .7);
  /* overlay color */

  opacity: 0;
  -webkit-filter: blur(120px);
  -moz-filter: blur(120px);
  -o-filter: blur(120px);
  -ms-filter: blur(120px);
  filter: blur(120px);

  /* -webkit-transition: opacity 0.2s ease-out 0.05s;
  transition: opacity 0.2s ease-out 0.05s; */
}


.video-modal-content {
  position: relative;
  /* top: 10px; */
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  z-index: 9999;

  margin: 0 auto;

  overflow-y: visible;

  background: #000;

  width: calc(100% - 12em);
  height: 0;
  padding-top: calc((100% - 12em) * 0.5625);
  /* 16:9 calc */
}

/* Scaling to fit within the current Viewport size:
   When viewport aspect ratio is greater than 16:9
   work off the height instead of the width for calc */
@media (min-aspect-ratio: 16/9) {
  .video-modal-content {
    width: 0;
    height: calc(100vh - 10em);
    padding-top: 0;
    padding-left: calc((100vh - 10em) * 1.7778);
    /* 16:9 calc */
  }
}


/* modal close button */
.close-video-modal {
  display: block;
  position: absolute;
  right: -8px;
  top: -8px;
  z-index: 99;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.close-video-modal .xclose {
  background: linear-gradient(to right, #fe9737, #FE5D0C, #ff4920, #ff4920);
  padding: 8px;
  width: 24px;
  height: 24px;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
}

/* set the iframe element to stretch to fit its parent element */
iframe#youtube {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  background: #000;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
}

/* show the modal: 
   add class to the body to reveal */
.show-video-modal .video-modal {
  opacity: 1.0;

  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
}

.show-video-modal .video-modal .overlay {
  opacity: 1.0;
}

.show-video-modal .video-modal-content {
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
}

@media screen and (min-width: 1919px) {
  .video-modal-div>.content .video-thumb-grid {
    height: 500px;
  }

}

@media screen and (min-width: 1400px) and (max-width: 1599px) {
  .video-modal-div>.content .video-thumb-grid {
    width: 90%;
  }
}

@media screen and (min-width: 1600px) {
  .video-modal-div>.content .video-thumb-grid {
    /* width: 1500px; */
    width: 1200px;
  }
}

@media (max-width: 992px) {
  .video-modal-div>.content .video-thumb-grid {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .video-modal-div>.content .video-thumb img.img-thumb-video {
    width: calc(100% - 30px);
    height: 100%;
    margin: 0 auto;
  }

  .video-modal-div>.content .video-thumb-grid {
    width: 100%;
    height: 215px;
  }

  .video-modal-content {
    width: calc(100% - 1em);
    padding-top: calc((100% - 1em) * 0.5625);
  }

  .video-modal-div>.content {
    margin-bottom: 50px;
  }
}

/* Mobile Layout Tweaks - side margins reduced */
@media (max-width: 640px) {
  .video-modal-content {
    width: calc(100% - 1em);
    padding-top: calc((100% - 1em) * 0.5625);
    /* 16:9 calc */
  }
}

@media screen and (max-width: 540px) {
  .video-modal-div>.content .video-thumb img.img-thumb-video {
    /* width: 95%;
    height: 260px; */
  }

  .i-video-1 {
    position: absolute;
    width: 66px;
    height: 66px;
    top: calc(50% - 33px);
    left: calc(50% - 33px);
  }

  .video-modal-div>.content .video-thumb-grid {
    height: 320px !important;
  }
  .video-modal-div>.content .video-thumb {
    padding-top: calc(((160% - 4.5rem) / 1) * 0.5625);
    /* display: contents; */
    display: block;
    margin-bottom: 50px;
    height: 100%;
  }

  .video-modal-div>.content .video-thumb img.img-thumb-video {
    width: 100%;
  }

  .video-modal-div>.content {
    margin-bottom: 70px;
  }
  .video-modal .overlay {
    background: rgba(0, 0, 0, .75);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  }
}

@media screen and (max-width: 479px) {
  .video-modal-div>.content .video-thumb img.img-thumb-video {
    /* height: 182px; */
  }

  .i-video-1 {
    position: absolute;
    width: 66px;
    height: 66px;
    top: calc(50% - 40px);
    left: calc(50% - 33px);
  }

  .video-modal-div>.content .video-thumb-grid {
    height: 280px !important;
  }
}

@media screen and (max-width: 360px) {
  .video-modal-div>.content .video-thumb img.img-thumb-video {
    /* height: 172px; */
  }
}

@media screen and (min-height: 600px) and (max-height: 767px) {
  .video-modal-div>.content .video-thumb {}

  .video-modal-div>.content .video-thumb-grid {
    /* height: 310px; */
    height: auto;
  }

  .video-modal-div>.content .video-thumb {
    /* width: calc((86% - 0rem)); */
    width: 100%;
    /* padding-top: calc(((49% - 4.5rem) / 1) * 0.5625); */
    padding-top: calc(((55% - 4.5rem) / 1) * 0.5625);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}