@media screen and (max-width:1400px){
  .prettyGirl{
    height: 92vh;
  }
  .prettyGirl1{
    height: 90vh;
  }
  .section2 .blockContent .aboutWifi,
  .section3 .blockContent .aboutWifi{
    left: -32px
  }
}
@media screen and (max-width:1366px){

}
@media screen and (max-width:1200px){
    .slideDesktop .s1--colText h5, 
    .slideDesktop .s2--colText h5, 
    .slideDesktop .s3--colText h5{
      font-size:42px
    }
    .section0 .blockText {
      padding: 0 12px;
    }
    .section2 .blockContent .aboutWifi h4,
    .section3 .blockContent .aboutWifi h4{
      font-size: 33px;
      line-height: 46px;
    }
    .section2 .blockContent .aboutWifi div,
    .section3 .blockContent .aboutWifi div{
      font-size: 22px;
    }
    .section2 .blockContent .aboutWifi, 
    .section3 .blockContent .aboutWifi {
      left: -60px;
    }
    .prettyGirl {
      height: 88vh;
    }
    .prettyGirl1 {
      height: 87vh;
    }
    .slideDesktop .s1--colImg{
      text-align: center;
    }
    .slideDesktop .s1--colImg img{
      width: 90%;
    }
    .slideDesktop .s2--colImg img {
      width: 128%;
    }
    .slideDesktop .s3--colImg>div:nth-of-type(1){
      padding-right: 0;
    }
    .slideDesktop .s3--colImg>div:nth-of-type(2){
      padding-left: 0;
    }
    .slideDesktop.wifi .s1--colImg img {
      width: 100%;
    }
  }
  /* end 1200 */
  @media screen and (max-width:1024px){
    .section0 .blockText{
      padding: 0;
    }
    .luxWifiL{
      right: calc(50vw + 216px);
    }
    .luxWifiR{
      left: calc(50vw + 150px);
    }
    .section2 .blockContent img {
      height: 74%;
      right: -90px;
    }
    .section2 .blockContent .aboutWifi{
      left: -48px;
      height: 70vh;
    }
    .section3 .blockContent img{
      height: 72%;
      right: -90px;
    }
    .section3 .blockContent .aboutWifi{
      left: -48px;
      height: 70vh;
    }
    .experience{
      padding-left: 0;
      padding-right: 0;
    }
    .slideDesktop .s3--colImg img,
    .slideDesktop .s3--colImg img{
      max-height: unset;
      /* max-width: 230px; */
      max-width: 270px;
    }
    .slideDesktop .s3--colText{
      top: 0px;
      line-height: 36px;
      text-align: center;
      padding-top: 120px;
    }
    .slideDesktop .s3--colText div{
      padding-bottom: 4px;
    }
    .slideDesktop .s3--colText p>span{
      display: inline-block;
    }
    .slideDesktop .s3--colImg>div:nth-of-type(2) {
      top: 204px;
    }
    .ss2Bg{
      background-size: auto 100vh;
      background-position: -372px center;
    }
    .slideDesktop .s1--colText{
      top: 100px;
      padding-left: 0;
      padding-right: 0;
    }
    .slideDesktop .s1--colText h5, 
    .slideDesktop .s2--colText h5, 
    .slideDesktop .s3--colText h5 {
      font-size: 40px;
    }
    .slideDesktop .s2--colText {
      position: relative;
      top: 129px;
      padding-left: 32px;
      padding-right: 0;
    }
    .slideDesktop .s3--colImg>div:nth-of-type(1){
      top: 0;
      padding-top: 60px;
    }
    .slideDesktop .s3--colImg>div:nth-of-type(2){
      top: 0;
      padding-top: 204px;
    }
    .experience .title {
      padding-top: 52px;
    }

    .video-bg-container.is_desktop{
      display: none;
    }
    .is_video-mobile{
      display: block;
      height: 100vh;
      width: 100%;
    }
    .is_video-mobile iframe{
      height: 100%;
      width: 100%;
    }
    .slideDesktop.wifi .s1--colImg .line-1{
      top: 149px;
      right: 278px;
    }
    .slideDesktop.wifi .s1--colImg .line-2 {
      bottom: 3px;
      right: 229px;
    }
    .slideDesktop.wifi .s1--colImg .line-3 {
      top: 138px;
      right: 263px;
    }
  }
  /* end 1024 */
  @media screen and (max-width:992px){
    .slideDesktop .s1--colImg img, 
    .slideDesktop .s2--colImg img{
      max-width: 480px;
      margin: 60px auto 0;
      display: block;
    }
    .slideDesktop .s1--colText,
    .slideDesktop .s2--colText,
    .slideDesktop .s3--colText{
      /* top: unset */
    }
   
    .section.section4 .fp-slides{
      display: inline-block;
    }
    .slideDesktop .s3--colImg img{
      max-height: 310px;
      max-width: 250px;
    }
    .slideDesktop .s3--colImg .blockText {
      padding: 8px 12px 8px;
    }
    .slideDesktop .s3--colText h5{
      padding-top: 68px;
    }
    .slideDesktop .s1--colText h5, 
    .slideDesktop .s2--colText h5, 
    .slideDesktop .s3--colText h5 {
      font-size: 37px;
    }
    .slideDesktop .s1--colImg,
    .slideDesktop .s1--colText{
      height: 424px;
    }
    .slideDesktop .s1--colText{
      padding-top: 69px;
      top: 76px;
    }
    .section2 .blockContent img {
      height: 80%;
      right: -76px;
    }
    .slideDesktop .s2--colImg,
    .slideDesktop .s2--colText{
      height: 400px;
      top: unset;
    }
    .slideDesktop .s2--colText{
      padding-top: 90px;
    }
    .slideDesktop.wifi .s1--colImg {
      top: 0;
    }
    .slideDesktop.wifi .s1--colText {
      top: 0;
      padding-top: 0;
    }
    .slideDesktop.wifi .s1--colImg, .slideDesktop .s1--colText {
      height: auto;
    }
    body{
      width: 100% !important;
      overflow-x: hidden !important;
    }
  }
/* end 992 */
  @media screen and (max-width:820px){
    body{
      width: 100% !important;
      overflow-x: hidden !important;
    }
  /* section4 */
  .section.section4,
  .section.section4 .fp-tableCell,
  .section.section5,
  .section.section5 .fp-tableCell,
  .section.section6,
  .section.section6 .fp-tableCell,
  .section.section7,
  .section.section7 .fp-tableCell,
  .section.section8,
  .section.section8 .fp-tableCell{
    height: auto !important;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .fp-tableCell, .section.section5{
    padding-bottom: 0;
  }
    .section.section9,
    .section.section9 .fp-tableCell{
      height: auto !important;
    }
    .section.section4 .fp-tableCell{
    }
    .section.section4 .fp-slidesContainer{
      width: 100% !important;
    }
    .section.section4 .fp-slidesContainer .fp-slide{
      width: 100% !important;
    }
    .slideDesktop .s1--colImg,
    .slideDesktop .s1--colText{
      width: 100%
    }
    .showMobile .s1--colImg,
    .showMobile .s1--colText{
      width: 100%;
      text-align: center;
    }
    .experience .title{
      position: unset;
      padding-top: 80px;
    }
    .slideDesktop .s1--colImg img,
    .showMobile .s1--colImg img {
      width: 100%;
      max-width: 420px;
      margin: 0 auto;
      display: block;
    }
    .slideDesktop .s1--colText, 
    .slideDesktop .s2--colText,
    .slideDesktop .s3--colText
    .showMobile .s1--colText, 
    .showMobile .s2--colText,
    .showMobile .s3--colText {
      position: unset;
      padding-left: 15px;
      text-align: center;
    }

    .slideDesktop .s2--colImg img,
    .showMobile .s2--colImg img {
      width: 100%;
      max-width: 420px;
      margin: 0 auto;
      display: block;
    }
    .slideDesktop .s1--colText ul,
    .showMobile .s1--colText ul{
      text-align: left;
    }
    .slideDesktop .s3--colImg>div:nth-of-type(1),
    .slideDesktop .s3--colImg>div:nth-of-type(2),
    .showMobile .s3--colImg>div:nth-of-type(1),
    .showMobile .s3--colImg>div:nth-of-type(2){
      top: unset;
    }
    .slideDesktop .s3--colImg img,
    .showMobile .s3--colImg img{
      max-height: unset;
      width: 100%;
      max-width: 300px;
    }
    .slideDesktop .s3--colImg,
    .showMobile .s3--colImg{
      float: unset !important;
    }
    .slideDesktop .s3--colImg>div,
    .showMobile .s3--colImg>div{
      padding-top: 32px;
    }
    .slideDesktop .s3--colImg .blockText,
    .showMobile .s3--colImg .blockText {
      padding: 12px 12px 8px;
    }
    /* section4 */
    /* section7 */
    .worldMapBg {
      height: 100%;
      background-size: 100%;
    }
    .personGroup{
      height: 100%;
      background-size: 130%;
    }
    .section8 .content{
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .luxWifiR{
      left: unset;
      right: 0;
      width: 300px;
      background-size: auto 80%;
    }
    .luxWifiL{
      width: 256px;
      background-size: auto 80%;
    }
    .section0 .blockText {
      padding: 0 200px;
    }
    .section2 .blockContent img, 
    .section3 .blockContent img {
      height: 66%;
    }
    .section2 .blockContent .aboutWifi,
    .section3 .blockContent .aboutWifi{
      left: 15px;
      height: 580px;
    }
    .net-package .titlePrice{
      width: 100%;
      padding-left: 32px;
      padding-right: 32px;
    }
    .blockListTech>.showDesktop{
      display: none;
    }
    .blockListTech>.showMobile{
      display: block;
    }
    .showMobile .s1--colText{
      top: 0;
    }
    .section0 .slogan .sloganBlock{
      width: auto;
    }
    .is_video-mobile{
      height: 600px;
    }
    .mask-video-mobile{
      height: calc(50% - 40px);
    }
    .mask-video-mobile_b{
      height: calc(50% - 100px);
      top: calc(50% + 45px);
    }
  }
  @media screen and (max-width:768px){
    .section.section1{
      height: 424px !important;
    }
    .section.section1 .fp-tableCell{
      height: 424px !important;
    }
    .section2 .blockContent img{
      height: 57%;
      right: 0;
    }
    .section3 .blockContent img {
      height: 63%;
      right: 0
    }
    .experience .title div{
      font-size: 38px;
    }
    .slideDesktop .s1--colText h5, 
    .slideDesktop .s2--colText h5, 
    .slideDesktop .s3--colText h5,
    .showMobile .s1--colText h5, 
    .showMobile .s2--colText h5, 
    .showMobile .s3--colText h5 {
      font-size: 38px;
      margin-bottom: 2px;
    }
    .ss2Bg{
      background-position: -258px center;
    }
    .section2 .blockContent .aboutWifi h4, 
    .section3 .blockContent .aboutWifi h4 {
      font-size: 30px;
      line-height: 40px;
    }
    .section2 .blockContent .aboutWifi div, 
    .section3 .blockContent .aboutWifi div {
      font-size: 20px;
    }
    .section2 .blockContent .aboutWifi, 
    .section3 .blockContent .aboutWifi {
      height: 67vh;
      left: 25px;
    }
    .slideDesktop .s1--colText, 
    .slideDesktop .s2--colText, 
    .slideDesktop .s3--colText,
    .showMobile .s1--colText, 
    .showMobile .s2--colText, 
    .showMobile .s3--colText{
      padding-left: 0;
    }
    .slideDesktop .s1--colText ul,
    .showMobile .s1--colText ul{
      padding: 0 20% 32px;
    }
    .slideDesktop .s1--colImg, 
    .slideDesktop .s1--colText,
    .showMobile .s1--colImg, 
    .showMobile .s1--colText{
      height: auto;
    }
    .slideDesktop .s2--colText{
      padding-top: 20px;
    }
    .showMobile .s2--colText{
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .slideDesktop .s2--colText p,
    .showMobile .s2--colText p{
      padding: 0 80px;
    }
    .slideDesktop .s2--colImg, 
    .slideDesktop .s2--colText,
    .showMobile .s2--colImg, 
    .showMobile .s2--colText {
      height: auto;
    }
    .slideDesktop .s3--colText,
    .showMobile .s3--colText{
      padding-top: 0;
    }
    .slideDesktop .s3--colText h5,
    .showMobile .s3--colText h5 {
      padding-top: 40px;
      margin-bottom: 2px;
      border-top: 1px solid #EBEBEB;
    }
    .slideDesktop .s3--colText,
    .showMobile .s3--colText{
      padding-left: 15px;
    }
    .slideDesktop .s3--colText p,
    .showMobile .s3--colText p{
      font-size: 18px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .fp-responsive .col-xs-12.s3--colImg img{
      margin-bottom: 8px;
    }
    .slideDesktop .s3--colImg>div:nth-of-type(1),
    .showMobile .s3--colImg>div:nth-of-type(1){
      padding-right: 15px;
    }
    .slideDesktop .s3--colImg>div:nth-of-type(2){
      padding-top: 24px;
      padding-left: 15px;
    }
    .showMobile .s3--colImg>div:nth-of-type(2){
      padding-top: 36px;
      padding-left: 15px;
    }
    .section.section4 #slide2 .fp-tableCell{
      padding-bottom: 0;
    }
    .slideDesktop .s1--colText h5,
    .showMobile .s1--colText h5{
      padding-top: 60px;
    }
    .slideDesktop .s1--colImg img,
    .showMobile .s1--colImg img{
      position: relative;
      right: -36px;
    }
    .section0 .slogan .sloganBlock{
      width: 100%;
    }
    .section0 .blockText {
      padding: 0 178px;
    }

    .showMobile.wifi .s1--colText{
      padding-left: 0;
      padding-right: 0;
    }
    .showMobile.wifi .s1--colImg img{
      right: unset;
    }
    .showMobile.wifi .s1--colText b{
      font-size: 20px;
    }
    .showMobile.wifi .s1--colText b.pad {
      padding-top: 30px;
      display: block;
    }
    .showMobile.wifi .s1--colImg {
      height: 310px;
      overflow-y: hidden;
      margin-top: 20px;
    }
    .is_video-mobile {
      height: 500px;
    }
  } 
/* end 768 */
  @media screen and (max-width:540px){
    .slideDesktop .s3--colImg img,
    .showMobile .s3--colImg img{
      max-width: 280px;
      margin-bottom: 8px;
    }
    .section.section0,
    .section.section0 .fp-tableCell{
      /* height: 480px !important; */
      height: 70vh !important;
    }
    .section0 .blockText {
      padding: 0 15px;
    }
    .section0 .slogan h3,
    .section0 .slogan .ceo{
      display: none;
    }
    .blockSloganMobile{
      display: block;
      /* font-family: 'Polar'; */
      font-family: 'SVN-Gilroy';
      line-height: 26px;
      color: #000;
      padding: 20px 48px;
      text-align: center;
    }
    .blockSloganMobile h3 {
      /* font: 400 16px/26px 'Polar'; */
      font: 400 16px/26px 'SVN-Gilroy';
      position: relative;
    }
    .blockSloganMobile h3 .iSloganL, 
    .blockSloganMobile h3 .iSloganR {
      position: relative;
    }
    .blockSloganMobile h3 .iSloganL::after {
      content: "";
      position: absolute;
      left: -28px;
      top: -8px;
      width: 20px;
      height: 20px;
      background: url('../images/slgoan_icon_l_b.svg') center no-repeat;
      background-size: 16px;
    }
    .blockSloganMobile h3 .iSloganR::after{
      content: "";
      position: absolute;
      right: -28px;
      bottom: -8px;
      width: 20px;
      height: 20px;
      background: url('../images/slgoan_icon_r_b.svg') center no-repeat;
      background-size: 16px;
    }
    .blockSloganMobile .ceo>div {
      font-size: 17px;
      font-weight: 600;
      padding-top: 20px;
    }
    .blockSloganMobile .ceo>p {
      font-size: 14px;
      font-family: 'SVN-Gilroy';
      font-weight: 300;
    }
    .section0 .slogan img{
      width: 180px;
      margin-bottom: 0;
    }
    .luxWifiR {
      width: 162px;
      background-size: auto 224px;
      height: 277px;
      /* top: calc(50vh - 240px); */
      top: calc(35vh - 135px)
    }
    .luxWifiL {
      width: 150px;
      background-size: auto 240px;
      height: 240px;
      right: unset;
      /* top: calc(50vh - 124px); */
      top: calc(35vh + 20px);
    }
    .section.section2,
    .section.section2 .fp-tableCell
    {
      height: auto !important;
    }
    
    .section2 .blockContent .aboutWifi{
      display: none;
    }

    .section.section2 .aboutWifiMobile{
      display: block;
      padding-left: 30px;
      padding-right: 30px;
    }
    .ss2Bg{
      height: 500px;
    }
    .section2 .blockContent{
      height: 100%;
    }
    .section3 .blockContent .aboutWifi{
      display: none;
    }
    .section.section3 .aboutServiceMobile{
      display: block;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 20px;
    }
    .section.section3, .section.section3 .fp-tableCell {
      height: auto !important;
    }
    .ss3Bg{
      height: 500px;
    }
    .section3 .blockContent{
      height: 100%;
    }
    .slideDesktop .s1--colText h5, 
    .slideDesktop .s2--colText h5, 
    .slideDesktop .s3--colText h5,
    .showMobile .s1--colText h5, 
    .showMobile .s2--colText h5, 
    .showMobile .s3--colText h5 {
      font-size: 24px;
      margin-bottom: 0;
    }
    .slideDesktop .s1--colText h5,
    .showMobile .s1--colText h5{
      padding-top: 40px;
      line-height: 32px;
      margin-bottom: 8px;
    }
    .experience .title div {
      font-size: 29px;
      letter-spacing: -0.4px;
    }
    .slideDesktop #slide3 .fp-tableCell{
      padding-top: 0;
    }
    .slideDesktop .s3--colImg>div:nth-of-type(1){
      /* border-top: 1px solid #e5e5e5; */
    }
    .slideDesktop .s3--colText h5,
    .showMobile .s3--colText h5 {
      padding-top: 70px;
      font-size: 24px;
      margin: 0;
      border-top: 1px solid #e5e5e5;
    }
    .slideDesktop .s1--colImg,
    .showMobile .s1--colImg{
      top: 0;
    }
    .slideDesktop .s1--colText div, 
    .slideDesktop .s2--colText div,
    .showMobile .s1--colText div, 
    .showMobile .s2--colText div{
      font-size: 18px;
      line-height:28px;
      padding-bottom: 16px;
    }
    .slideDesktop .s1--colText div,
    .showMobile .s1--colText div{
      line-height: 1;
    }
    .slideDesktop .s3--colText div,
    .showMobile .s3--colText div{
      font-size: 18px;
      line-height: 1.5;
    }
    .slideDesktop .s2--colText div span,
    .showMobile .s2--colText div span{
      display: block;
    }
    .slideDesktop .s3--colText p,
    .showMobile .s3--colText p{
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    .personGroup{
      background: url('../images/person-group-m.png') center 163px no-repeat;
      background-size: auto 247px;
    }
    .section8 .content .title{
      font-size: 24px;
    }
    .slideDesktop .s2--colImg,
    .showMobile .s2--colImg{
      top: 0px;
    }
    .slideDesktop .s1--colText ul li,
    .showMobile .s1--colText ul li{
      margin: 10px 0;
    }
    .slideDesktop .s1--colText ul,
    .showMobile .s1--colText ul{
      margin-left: 12px;
      padding: 0 48px;
    }
    .slideDesktop .s1--colText p, 
    .slideDesktop .s2--colText p, 
    .slideDesktop .s3--colText p,
    .showMobile .s1--colText p, 
    .showMobile .s2--colText p, 
    .showMobile .s3--colText p {
      font-size: 16px;
    }
    .slideDesktop .s3--colImg>div,
    .showMobile .s3--colImg>div {
      padding-top: 0px;
    }
    .section2 .blockContent img, .section3 .blockContent img {
      height: 400px;
    }
    .section8 .content .title p{
      line-height: 1;
    }
    .section8 .content .desc{
      font-size: 16px;
      letter-spacing: -0.4px;
      padding-top: 14px;
    }
    .slideDesktop .s2--colText p,
    .showMobile .s2--colText p {
      padding: 0 20px;
    }
    .section.section4, .section.section4 .fp-tableCell{
      padding-top: 0;
    }
    .showMobile .s2--colText{
      padding-bottom: 0;
    }
    .showMobile.wifi .s1--colText{
      text-align: left;
      padding-left: 15px;
      padding-right: 15px;
    }
    .showMobile.wifi .s1--colText ul{
      margin-left: 0;
      padding: 0px;
    }
    .showMobile.wifi .s1--colText h5{
      border-top: 1px solid #e5e5e5;
    }
    .showMobile.wifi .s1--colImg{
      height: 280px;
      overflow-y: hidden;
      margin-top: 20px;
    }
  }
  /* end 540 */

  @media screen and (max-width:479px){
    .net-package .titlePrice .text-p span{
      display: block;
    }
    .slideDesktop .s3--colText p,
    .showMobile .s3--colText p{
      display: none
    }
    .slideDesktop .s3--colText p.p479,
    .showMobile .s3--colText p.p479{
      display: block;
      padding-top: 16px;
    }
    .section.section0, 
    .section.section0 .fp-tableCell{
      /* height: 380px !important; */
      height: 70vh !important;
    }
    .luxWifiL {
      width: 117px;
      background-size: auto 196px;
      height: 240px;
      right: unset;
      /* top: calc(50vh - 278px); */
      top: calc(35vh + 20px);
    }
    .luxWifiR {
      width: 142px;
      background-size: auto 224px;
      height: 277px;
      /* top: calc(50vh - 371px); */
      /* top: calc(50vh - 276px); */
          top: calc(35vh - 135px);
    }
    .blockSloganMobile h3 {
      font: 500 15px/26px 'SVN-Gilroy';
      position: relative;
    }
    .blockSloganMobile {
      display: block;
      font-family: 'SVN-Gilroy';
      line-height: 26px;
      color: #000;
      padding: 20px 20px;
      text-align: center;
    }
    .blockSloganMobile h3 .iSloganL::after{
      left: -18px;
    }
    .blockSloganMobile h3 .iSloganR::after{
      right: -24px;
    }
    .blockSloganMobile h3 .iSloganL{
      padding-left: 8px;
    }
    .section.section2 .aboutWifiMobile{
      padding-left: 10px;
      padding-right: 10px;
    }
    .section.section2 .aboutWifiMobile .decs, 
    .section.section3 .aboutServiceMobile .decs {
      font-size: 16px;
      margin-bottom: 30px;
    }
    .section.section2 .aboutWifiMobile .note, 
    .section.section3 .aboutServiceMobile .note{
      letter-spacing: -0.2px;
    }
    .section.section2 .aboutWifiMobile h4, 
    .section.section3 .aboutServiceMobile h4{
      font-size: 24px;
      line-height: 34px;
    }
    .section.section3 .aboutServiceMobile{
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 0;
    }
    .section.section3 .aboutServiceMobile .note{
      border-bottom: 1px solid #EBEBEB;
      padding-bottom: 60px;
    }
    .experience .title{
      padding-top: 60px;
    }
    .experience .title div{
      font-size: 24px;
    }
    .experience .title p{
      font-size: 18px;
    }
    .experience .title div {
      font-size: 24px;
      line-height: 38px;
      padding-top: 12px;
    }
    .ss2Bg, .ss3Bg {
      height: 420px;
    }
    .section.section8, 
    .section.section8 .fp-tableCell{
      height: 400px !important;
    }
    .slideDesktop .s1--colText ul,
    .showMobile .s1--colText ul{
      padding: 0px 15px;
    }
    .is_video-mobile {
      height: 340px;
    }
  }
  /* end 479 */
@media screen and (max-width:428px){
  .luxWifiL{
    top: calc(50vh - 245px);
  }
  .luxWifiR{
    top: calc(50vh - 344px);
  }
  .slideDesktop .s1--colText,
  .showMobile .s1--colText{
    padding-top: 0;
  }
  .slideDesktop .s1--colImg img,
  .showMobile .s1--colImg img{
    right: -32px;
  }
}
@media screen and (max-width:390px){
  .luxWifiR {
    width: 134px;
    background-size: auto 224px;
    height: 277px;
    top: calc(50vh - 346px);
  }
  .luxWifiL {
    width: 114px;
    background-size: auto 196px;
    height: 240px;
    right: unset;
    top: calc(50vh - 252px);
  }
  .net-package .titlePrice .text-p span{
    display: inline-block;
  }
  .section2 .blockContent img, .section3 .blockContent img {
    height: 372px;
  }

}
@media screen and (max-width:375px){
  .luxWifiL {
    width: 110px;
    background-size: auto 196px;
    height: 240px;
    right: unset;
    top: calc(50vh - 204px);
  }
  .luxWifiR {
    width: 134px;
    background-size: auto 224px;
    height: 277px;
    top: calc(50vh - 284px);
  }
}