.video-bg-container {
    position: relative;
    overflow: hidden;
    height: 100vh;
}
.video-bg-player,
.video-bg-overlay,
.video-bg iframe {
    position: absolute;
}
.video-bg-player,
.video-bg iframe {
    pointer-events: none;
}
.video-bg-player {
    top: 50%;
    left: 50%;
    width: 120%;
    height: 0;
    padding-bottom: 66.25%;
    transform: translate(-50%, -50%);
}
.video-bg-overlay,
.video-bg iframe {
    width: 100%;
    height: 100%;
}
.video-bg-overlay {
    transition: all 0.25s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.video-bg-overlay--fadeOut {
    visibility: hidden;
    opacity: 0;
}
.video-bg iframe {
    top: 0;
    left: 0;
}