@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
#mute {
  position: absolute;
  left: 24px;
  bottom: 28px;
  color: #FF701D;
  border: none;
  background: transparent;
  font-size: 32px;
  cursor: pointer;
  padding: 12px;
  display: flex;
  outline: none;
  z-index: 33;
}

#mute:hover {
  color: #FF701D;
}

/* add new */
.video-bg-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.video-bg-player,
.video-bg-overlay,
.video-bg iframe {
  position: absolute;
}
.video-bg-player,
.video-bg iframe {
  /* pointer-events: none; */
  /* z-index: -1000 */
}
.video-bg-player {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0;
  padding-bottom: 66.25%;
  transform: translate(-50%, -50%);
}
.video-bg-overlay,
.video-bg iframe {
  width: 100%;
  height: 100%;
}
.video-bg-overlay {
  transition: all 0.25s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.video-bg-overlay:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: url('../images/ajax_loader.gif') center no-repeat;
  background-size: 60px auto;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}
.video-bg-overlay--fadeOut {
  visibility: hidden;
  opacity: 0;
}
.video-bg iframe {
  top: 0;
  left: 0;
}
.transparentMask{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 22;
  background: transparent;
}
@media screen and (max-width:992px){ 
} 
@media screen and (max-width:768px){   
  .video-bg-container {
    height: 424px;
  }
  .video-bg-overlay:after {
    background-size: 40px auto;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
  }
}
@media screen and (max-width:540px){  
  #section1 {
    background: #fff;
  }
  .video-bg-container {
    height: 310px;
    background: #031420;
  }
  .video-bg-overlay, 
  .video-bg iframe{
    height: 310px;
  }
  .video-bg-player{
    padding-bottom: 57%;
  }
  #mute{
    bottom: 0
  }
}

@media screen and (max-width:479px){  
  .section0 .slogan img {
    width: 160px;
  }
  .video-bg-container {
    height: 234px;
    background: #031420;
  }
  .video-bg-overlay, 
  .video-bg iframe{
    height: 234px;
  }
}
@media screen and (max-width:390px){
  .video-bg-container,
  .video-bg-overlay, 
  .video-bg iframe{
    height: 212px;
  }
}