/* top nav */
.secondary-link{
    background: #B51A22;
}
.secondary-link a{
    color: rgba(255,255,255, 0.7);
}
/* style logo */
.nav-brand>.logo{
    position: relative;
    width: 106px;
    height: 70px;
}
.nav-brand>.logo img{
    display: none;
}
.nav-brand>.logo:after{
    content: '';
    position: absolute;
    background: url('../../img/noel/2022/xmas-top-icon.svg') top left no-repeat;
    background-size: 116px auto;
    top: 15px;
    left: -4px;
    width: 116px;
    height: 42px;
    z-index: 9;
}
.nav-brand>.logo::before{
    content: '';
    position: absolute;
    background: url('../../img/noel/2022/xmas-bottom-icon.svg') top center no-repeat;
    background-size: 166px auto;
    top: 12px;
    left: -14px;
    width: 152px;
    height: 46px;
    z-index: 7;
}
/* style noel banner */
.custom-banner{
    position: relative;
}
.custom-banner:after{
    content: '';
    position: absolute;
    background: url('../../img/noel2022/theme-noel-01.png') no-repeat top center;
    background-size:  156px auto;
    top: -8px;
    left: 0px;
    width: 100%;
    height: 156px;
}
/* //style noel banner */
/* footer.footer */
footer.footer{
    padding-top: 280px;
    background: #B51A22 url('../../img/noel/2022/snow-background-foot.svg') center top repeat;
    background-size: 70%;
    position: relative;
}
footer.footer::before{
    content: '';
    width: 100%;
    height: 278px; 
    background: url('../../img/noel/2022/xmas-foot.svg') center top repeat-x;
    background-size: 160%;
    position: absolute;
    left: 0;
    top: 0;
}
footer.footer .row-fptlogo{
    border-bottom: 0px solid transparent;
}
.owl-carousel.slide-logo .owl-next, .owl-carousel.slide-logo .owl-prev{
    color: #fff;
}
/* banner trang khách hàng doanh nghiệp */
.slider .slide_viewer{
    position: relative;
}
.slider .slide_viewer:after {
    content: '';
    position: absolute;
    background: url('../../img/noel2022/theme-noel-01.png') no-repeat top center;
    background-size: auto 156px;
    top: -8px;
    left: 0px;
    width: 100%;
    height: 156px;
}
/* //banner trang khách hàng doanh nghiệp */
.link-footer a, .accordion-link-foot-content a{
    color: #fff;
}
.link-footer a:hover, .accordion-link-foot-content a:hover{
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255, 0.8);
}
.title-footer-item{
    color: #fff;
    font-weight: 600;
}
.accordion-link-foot a,
.license-text p,
.foot-hotline,
footer.footer .row-link-foot div:first-child p{
    color: #fff;
}

.foot-hotline:hover{
    color: rgba(255,255,255, 0.7);
}
[id*="open-accordion"]:after, [id*="close-accordion"]:after{
    width: 16px;
    height: 17px;
    margin-left: 8px;
    display: inline-block;
    background: none;
    background-color: #fff; /* defines the background color of the image */
    mask: url('../../../assetv2/images/arrow.svg') no-repeat center / contain;
    -webkit-mask: url('../../../assetv2/images/arrow.svg') no-repeat center / contain;
}

#back-to-top.show::after{
    content: '';
    position: absolute;
    left: 11px;
    top: 6px;
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255,255,255, 0.7);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.logo-fpt-footer,
.logo-fpt-footer:hover{
    width: 118px;
    height: 40px;
    background: none;
    display: block;
    display: inline-block;
    background-color: #fff !important; /* defines the background color of the image */
    mask: url('../../../../assets/frontend/img/footer_logo.svg') no-repeat center / contain;
    -webkit-mask: url('../../../../assets/frontend/img/footer_logo.svg') no-repeat center / contain;
}
.logo-fpt-footer img{
    opacity: 0;
}
footer.footer .row-fptlogo{
    margin-bottom: 0;
}
.secondary-link .row-headmenu{
    position: relative;
}
@media screen and (min-width: 2560px){
    footer.footer {
        padding-top: 290px;
    }
}
@media screen and (min-width: 1920px){
    .secondary-link .row-headmenu::after{
        content: '';
        position: absolute;
        width: 70px;
        height: 39px;
        background: url('../../img/noel/2022/snow-head.svg') center no-repeat;
        background-size: 100%;
        left: -110px;
        top: -8px;
    }
    .secondary-link .row-headmenu::before{
        content: '';
        position: absolute;
        width: 70px;
        height: 39px;
        background: url('../../img/noel/2022/snow-head.svg') center no-repeat;
        background-size: 100%;
        right: -110px;
        top: -8px;
    }
    footer.footer{
        padding-top: 270px;
    }
    footer.footer::before{
        background-size: 139%;
        height: 440px;
    }
}
@media screen and (max-width: 1919px){
    .secondary-link .row-headmenu::after{
        content: '';
        position: absolute;
        width: 70px;
        height: 39px;
        background: url('../../img/noel/2022/snow-head.svg') center no-repeat;
        background-size: 100%;
        left: -110px;
        top: -8px;
    }
    .secondary-link .row-headmenu::before{
        content: '';
        position: absolute;
        width: 70px;
        height: 39px;
        background: url('../../img/noel/2022/snow-head.svg') center no-repeat;
        background-size: 100%;
        right: -110px;
        top: -8px;
    }
}

@media screen and (max-width: 1960px){
    .secondary-link .row-headmenu::after{
        left: -96px;
    }
    .secondary-link .row-headmenu::before{
        right: -96px;
    }
}
@media(max-width:1366px) {
    .secondary-link .row-headmenu{
        width: calc(100% - 150px);
    }
    .secondary-link .row-headmenu::after{
        left: -84px;
    }
    .secondary-link .row-headmenu::before{
        right: -84px;
    }
    footer.footer {
        padding-top: 240px;
    }
}
@media(max-width:1280px) {
    footer.footer {
        padding-top: 210px;
    }
}
@media(max-width:1024px) {
    .nav-brand>.logo::before{
        left: -25px;
    }
    footer.footer {
        padding-top: 166px;
    }
}
@media(max-width:768px) {
}
@media(max-width:540px) {
    .nav-brand>.logo:after{
        left: -6px;
    }
    footer.footer {
        padding-top: 290px;
    }
    footer.footer::before{
        background: url('../../img/noel/2022/xmas-foot-m.svg') left top no-repeat;
        background-size: 100%;
        height: 496px;
        /* content: '';
        width: 100%;
        height: 278px;
        background: url('../../img/noel/2022/xmas-foot.svg') center top repeat-x;
        background-size: 160%;
        position: absolute;
        left: 0;
        top: 0; */
    }
    .license-text {
        border-top: 1px solid rgba(255,255,255, 0.5);
        border-bottom: 0px;
    }
}   
@media(max-width:479px) {
    footer.footer {
        padding-top: 260px;
    }
}
@media(max-width:375px) {
    footer.footer {
        padding-top: 192px;
    }
}
@media(max-width:320px) {
    footer.footer {
        padding-top: 170px;
    }
}
/* Noel 2022 - 21/12/2022 */