@charset "UTF-8";
.sec3GoiGiaDinh .rowfull {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 30px;
  padding-bottom: 40px;
}
@media screen and (max-width: 1440px) {
  .sec3GoiGiaDinh .rowfull {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .sec3GoiGiaDinh .rowfull {
    margin: 50px 0 24px;
    padding-bottom: 0;
    padding-top: 0;
  }
}
@media screen and (max-width: 540px) {
  .sec3GoiGiaDinh .rowfull {
    margin: 0px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.sec3GoiGiaDinh .div-title {
  text-align: center;
}
.sec3GoiGiaDinh .div-title .title {
  color: #3D3D3D;
  font-weight: 700;
  font-size: 44px;
  line-height: 64px;
}
@media screen and (max-width: 1366px) {
  .sec3GoiGiaDinh .div-title .title {
    font-size: 46px;
    line-height: 55px;
  }
}
@media screen and (max-width: 1200px) {
  .sec3GoiGiaDinh .div-title .title {
    font-size: 33px;
    line-height: 42px;
  }
}
@media screen and (max-width: 884px) {
  .sec3GoiGiaDinh .div-title .title {
    font-size: 26px;
    line-height: 33px;
  }
}
@media screen and (max-width: 820px) {
  .sec3GoiGiaDinh .div-title .title {
    font-size: 24px;
    line-height: 31px;
  }
}
.sec3GoiGiaDinh .div-title .title span {
  font-weight: 900;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8F4B), to(#FF5C00));
  background-image: linear-gradient(180deg, #FF8F4B 0%, #FF5C00 100%);
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
}
.sec3GoiGiaDinh .div-title .title p {
  display: inline-block;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .sec3GoiGiaDinh .div-title .title p {
    display: block;
  }
}
.sec3GoiGiaDinh .div-title .desc {
  color: #3D3D3D;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 38px;
}
.sec3GoiGiaDinh .div-title .desc span {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .sec3GoiGiaDinh .div-title .desc {
    font-size: 19px;
    line-height: 26px;
    margin-top: 12px;
  }
}
@media screen and (max-width: 540px) {
  .sec3GoiGiaDinh .div-title .desc {
    font-size: 14px;
    line-height: 21px;
    margin-top: 8px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .sec3GoiGiaDinh .div-title {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.secPackageFamily .rowfull {
  margin: 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1440px) {
  .secPackageFamily .rowfull {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .secPackageFamily .rowfull {
    margin: 0px 0 10px;
  }
}
@media screen and (max-width: 540px) {
  .secPackageFamily .rowfull {
    margin: 20px 0 20px;
  }
}
.secPackageFamily .about__package-family {
  background: #fff;
  padding: 60px 0 40px;
}
.secPackageFamily .about__package-family .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px 50px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.secPackageFamily .about__package-family .content .left {
  -webkit-box-flex: 1.1;
      -ms-flex: 1.1;
          flex: 1.1;
  min-width: 500px;
  position: relative;
}
.secPackageFamily .about__package-family .content .left h4.title {
  margin-bottom: 24px;
  color: #3D3D3D;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
}
.secPackageFamily .about__package-family .content .left h4.title .highlight {
  padding-bottom: 10px;
  font-weight: 700;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8F4B), to(#FF5C00));
  background-image: linear-gradient(180deg, #FF8F4B 0%, #FF5C00 100%);
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
}
.secPackageFamily .about__package-family .content .left h4.title p {
  margin: 8px 0 0;
  line-height: 48px;
}
@media screen and (max-width: 1200px) {
  .secPackageFamily .about__package-family .content .left h4.title p {
    line-height: 38px;
    margin-top: 0;
  }
}
@media screen and (max-width: 1024px) {
  .secPackageFamily .about__package-family .content .left h4.title p {
    line-height: 33px;
  }
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .content .left h4.title p {
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (max-width: 1200px) {
  .secPackageFamily .about__package-family .content .left h4.title {
    font-size: 36px;
    line-height: 47px;
  }
}
@media screen and (max-width: 1024px) {
  .secPackageFamily .about__package-family .content .left h4.title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .secPackageFamily .about__package-family .content .left h4.title {
    text-align: center;
  }
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .content .left h4.title {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
}
.secPackageFamily .about__package-family .content .left h4.title .p-text-inline {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .secPackageFamily .about__package-family .content .left h4.title .p-text-inline {
    display: block;
  }
}
.secPackageFamily .about__package-family .content .left .services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.secPackageFamily .about__package-family .content .left .services .service {
  background: url("../images/package-family-box.png") 110% -45px no-repeat;
  background-size: auto 200px;
  padding: 24px;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(16, 24, 40, 0.08);
          box-shadow: 0px 2px 12px 0px rgba(16, 24, 40, 0.08);
  display: block;
  border-radius: 16px;
}
.secPackageFamily .about__package-family .content .left .services .service img {
  width: 58px;
  height: 58px;
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .content .left .services .service img {
    width: 42px;
    height: 42px;
  }
}
.secPackageFamily .about__package-family .content .left .services .service h4 {
  margin: 16px 0 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .content .left .services .service h4 {
    font-size: 16px;
    line-height: 22px;
  }
}
.secPackageFamily .about__package-family .content .left .services .service p {
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  color: #3D3D3D;
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .content .left .services .service p {
    font-size: 14px;
    line-height: 20px;
  }
}
.secPackageFamily .about__package-family .content .left .services .service .ul-list {
  margin: 20px 0;
  padding-left: 12px;
}
.secPackageFamily .about__package-family .content .left .services .service .ul-list li {
  position: relative;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 12px;
  color: #3D3D3D;
}
.secPackageFamily .about__package-family .content .left .services .service .ul-list li:nth-last-of-type(1) {
  margin-bottom: 0;
}
.secPackageFamily .about__package-family .content .left .services .service .ul-list li::before {
  content: "";
  background: url("../images/tick-green-16x16.svg") no-repeat center left;
  background-size: 16px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  left: 0;
  font-weight: 600;
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .content .left .services .service .ul-list li::before {
    top: 2px;
  }
}
.secPackageFamily .about__package-family .content .left .services .service .ul-list li b {
  font-weight: 700;
  color: #FF730A;
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .content .left .services .service .ul-list li {
    font-size: 14px;
    line-height: 20px;
  }
}
.secPackageFamily .about__package-family .content .left .services .service .link-seemore {
  color: #FF730A;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  background: url("../images/arrow-right-orange-16x16.svg") center right no-repeat;
  background-size: 16px;
  padding-right: 24px;
}
.secPackageFamily .about__package-family .content .left .services .service .link-seemore:hover {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .secPackageFamily .about__package-family .content .left .services .service {
    padding: 16px;
  }
}
.secPackageFamily .about__package-family .content .left .services.one_row {
  grid-template-columns: 1fr;
}
@media screen and (max-width: 820px) {
  .secPackageFamily .about__package-family .content .left .services.one_row {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .content .left .services {
    grid-template-columns: 1fr;
  }
}
.secPackageFamily .about__package-family .content .left .cta-btn {
  width: 184px;
  background: #f60;
  color: #fff;
  padding: 0 24px;
  line-height: 54px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: -92px;
  bottom: 0;
  text-align: center;
  border-radius: 8px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.secPackageFamily .about__package-family .content .left .cta-btn:hover {
  background: #ff9100;
}
@media screen and (max-width: 1100px) {
  .secPackageFamily .about__package-family .content .left .cta-btn {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .secPackageFamily .about__package-family .content .left {
    min-width: 600px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .content .left {
    min-width: 100%;
  }
}
.secPackageFamily .about__package-family .content .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 500px;
}
.secPackageFamily .about__package-family .content .right .main-img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .secPackageFamily .about__package-family .content .right .main-img {
    max-width: 500px;
  }
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .content .right .main-img {
    max-width: 100%;
  }
}
.secPackageFamily .about__package-family .content .right .row-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 28px;
}
.secPackageFamily .about__package-family .content .right .row-btn .cta-btn {
  width: 184px;
  background: #f60;
  color: #fff;
  padding: 0 24px;
  line-height: 46px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  display: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.secPackageFamily .about__package-family .content .right .row-btn .cta-btn:hover {
  background: #ff9100;
}
@media screen and (max-width: 1100px) {
  .secPackageFamily .about__package-family .content .right .row-btn .cta-btn {
    display: block;
  }
}
@media screen and (max-width: 1100px) {
  .secPackageFamily .about__package-family .content .right {
    min-width: 600px;
  }
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .content .right {
    min-width: 100%;
  }
}
.secPackageFamily .about__package-family .content .row-btn-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.secPackageFamily .about__package-family .content .row-btn-desktop .cta-btn {
  width: 184px;
  background: #f60;
  color: #fff;
  padding: 0 24px;
  line-height: 54px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.secPackageFamily .about__package-family .content .row-btn-desktop .cta-btn:hover {
  background: #ff9100;
}
@media screen and (max-width: 1100px) {
  .secPackageFamily .about__package-family .content .row-btn-desktop {
    display: none;
  }
}
.secPackageFamily .about__package-family .content.row_2 {
  padding-top: 60px;
}
.secPackageFamily .about__package-family .content.row_2 .left .cta-btn {
  width: 184px;
  background: #f60;
  color: #fff;
  padding: 0 24px;
  line-height: 54px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  left: -92px;
  right: unset;
  bottom: 0;
  text-align: center;
  border-radius: 8px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.secPackageFamily .about__package-family .content.row_2 .left .cta-btn:hover {
  background: #ff9100;
}
@media screen and (max-width: 1100px) {
  .secPackageFamily .about__package-family .content.row_2 .left .cta-btn {
    display: block;
    position: unset;
    margin: 24px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .secPackageFamily .about__package-family .content.row_2 {
    padding-top: 20px;
  }
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .content.row_2 {
    padding-top: 0;
  }
}
.secPackageFamily .about__package-family .content.content__family .left {
  min-width: 400px;
}
@media screen and (max-width: 920px) {
  .secPackageFamily .about__package-family .content.content__family .left {
    min-width: 300px;
  }
}
@media screen and (max-width: 820px) {
  .secPackageFamily .about__package-family .content.content__family .left {
    min-width: 400px;
  }
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .content.content__family .left {
    min-width: 300px;
  }
}
.secPackageFamily .about__package-family .content.content__family .right {
  min-width: 400px;
}
@media screen and (max-width: 920px) {
  .secPackageFamily .about__package-family .content.content__family .right {
    min-width: 300px;
  }
}
@media screen and (max-width: 820px) {
  .secPackageFamily .about__package-family .content.content__family .right {
    min-width: 400px;
  }
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .content.content__family .right {
    min-width: 300px;
  }
}
@media screen and (max-width: 820px) {
  .secPackageFamily .about__package-family .content.content__family .img-desktop {
    display: none;
  }
}
.secPackageFamily .about__package-family .content.content__family .div-img-mobile {
  width: 100%;
  display: none;
}
@media screen and (max-width: 820px) {
  .secPackageFamily .about__package-family .content.content__family .div-img-mobile {
    display: block;
  }
}
@media screen and (max-width: 820px) and (max-width: 820px) {
  .secPackageFamily .about__package-family .content.content__family .div-img-mobile .img-mobile {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
  }
}
@media screen and (max-width: 820px) and (max-width: 768px) {
  .secPackageFamily .about__package-family .content.content__family .div-img-mobile .img-mobile {
    max-width: 500px;
  }
}
@media screen and (max-width: 820px) and (max-width: 540px) {
  .secPackageFamily .about__package-family .content.content__family .div-img-mobile .img-mobile {
    max-width: 100%;
  }
}
.secPackageFamily .about__package-family .content.content__family .row-btn-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.secPackageFamily .about__package-family .content.content__family .row-btn-desktop .cta-btn {
  width: 184px;
  background: #f60;
  color: #fff;
  padding: 0 24px;
  line-height: 54px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.secPackageFamily .about__package-family .content.content__family .row-btn-desktop .cta-btn:hover {
  background: #ff9100;
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .content.content__family .row-btn-desktop .cta-btn {
    line-height: 40px;
  }
}
@media screen and (max-width: 768px) {
  .secPackageFamily .about__package-family {
    padding: 20px 0 40px;
  }
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family {
    padding: 0px 0 20px;
  }
}
.secPackageFamily .content__family {
  position: relative;
}
.secPackageFamily .content__family .right {
  position: sticky !important;
  top: 106px;
}
@media screen and (max-width: 991px) {
  .secPackageFamily .content__family .right {
    top: 102px;
  }
}
.secPackageFamily .about__package-family .row-btn-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}
@media screen and (max-width: 820px) {
  .secPackageFamily .about__package-family .row-btn-desktop {
    margin-top: 24px;
  }
}
.secPackageFamily .about__package-family .row-btn-desktop .cta-btn {
  width: 184px;
  background: #f60;
  color: #fff;
  padding: 0 24px;
  line-height: 54px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.secPackageFamily .about__package-family .row-btn-desktop .cta-btn:hover {
  background: #ff9100;
}
@media screen and (max-width: 540px) {
  .secPackageFamily .about__package-family .row-btn-desktop .cta-btn {
    line-height: 40px;
  }
}
@media screen and (max-width: 820px) {
  .secPackageFamily .about__package-family {
    padding-top: 20px;
  }
}

.secGoiGiaDinh_sw_large .rowfull {
  margin: 0 auto;
  max-width: 1440px;
  padding-bottom: 40px;
}
@media screen and (max-width: 1440px) {
  .secGoiGiaDinh_sw_large .rowfull {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .secGoiGiaDinh_sw_large .rowfull {
    margin: 0px 0 50px;
    padding: 0;
  }
}
@media screen and (max-width: 540px) {
  .secGoiGiaDinh_sw_large .rowfull {
    margin: 20px 0 40px;
  }
}
.secGoiGiaDinh_sw_large .rowfull .content {
  padding: 0 0 40px;
}
@media screen and (max-width: 768px) {
  .secGoiGiaDinh_sw_large .rowfull .content {
    padding: 0;
  }
}

.secBuffetHead .rowfull {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 30px;
}
@media screen and (max-width: 1440px) {
  .secBuffetHead .rowfull {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 820px) {
  .secBuffetHead .rowfull {
    padding-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .secBuffetHead .rowfull {
    margin: 50px 0 50px;
  }
}
@media screen and (max-width: 540px) {
  .secBuffetHead .rowfull {
    margin: 40px 0 0px;
    margin: 0 auto;
  }
}
.secBuffetHead .about__package-buffet {
  background: #fff;
  padding: 0 0 40px;
}
.secBuffetHead .about__package-buffet .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.secBuffetHead .about__package-buffet .content .left {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  min-width: 450px;
  position: relative;
  min-height: 200px;
  padding-top: 105px;
}
.secBuffetHead .about__package-buffet .content .left .group-buffet-bg {
  width: 100%;
  background: url("../images/group-buffet-bg.png") no-repeat center 76%;
  background-size: 85%;
}
.secBuffetHead .about__package-buffet .content .left .group-buffet-bg .img {
  width: 100%;
  max-width: 749px;
}
@media screen and (max-width: 1366px) {
  .secBuffetHead .about__package-buffet .content .left .group-buffet-bg .img {
    max-width: 94%;
  }
}
@media screen and (max-width: 820px) {
  .secBuffetHead .about__package-buffet .content .left .group-buffet-bg .img {
    display: none;
  }
}
.secBuffetHead .about__package-buffet .content .left .div-title {
  position: absolute;
  width: 100%;
  top: 0;
}
.secBuffetHead .about__package-buffet .content .left .div-title .title {
  color: #3D3D3D;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
}
@media screen and (max-width: 1366px) {
  .secBuffetHead .about__package-buffet .content .left .div-title .title {
    font-size: 46px;
    line-height: 55px;
  }
}
@media screen and (max-width: 1200px) {
  .secBuffetHead .about__package-buffet .content .left .div-title .title {
    font-size: 33px;
    line-height: 42px;
  }
}
@media screen and (max-width: 884px) {
  .secBuffetHead .about__package-buffet .content .left .div-title .title {
    font-size: 26px;
    line-height: 33px;
  }
}
@media screen and (max-width: 884px) {
  .secBuffetHead .about__package-buffet .content .left .div-title .title {
    font-size: 24px;
    line-height: 31px;
  }
}
.secBuffetHead .about__package-buffet .content .left .div-title .title span {
  font-weight: 900;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8F4B), to(#FF5C00));
  background-image: linear-gradient(180deg, #FF8F4B 0%, #FF5C00 100%);
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
}
.secBuffetHead .about__package-buffet .content .left .div-title .desc {
  color: #3D3D3D;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: 12px;
  margin-bottom: 38px;
}
.secBuffetHead .about__package-buffet .content .left .div-title .desc span {
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .secBuffetHead .about__package-buffet .content .left .div-title .desc {
    font-size: 19px;
    line-height: 26px;
    margin-top: 12px;
  }
}
@media screen and (max-width: 540px) {
  .secBuffetHead .about__package-buffet .content .left .div-title .desc {
    font-size: 14px;
    line-height: 21px;
    margin-top: 8px;
  }
}
@media screen and (max-width: 820px) {
  .secBuffetHead .about__package-buffet .content .left .div-title {
    position: relative;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .secBuffetHead .about__package-buffet .content .left .div-title {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .secBuffetHead .about__package-buffet .content .left {
    min-width: 52%;
  }
}
@media screen and (max-width: 820px) {
  .secBuffetHead .about__package-buffet .content .left {
    min-width: 55%;
    padding-top: 0;
    min-height: unset;
  }
}
@media screen and (max-width: 540px) {
  .secBuffetHead .about__package-buffet .content .left {
    min-width: 100%;
  }
}
.secBuffetHead .about__package-buffet .content .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 450px;
  min-height: 200px;
}
.secBuffetHead .about__package-buffet .content .right .card-price {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
  border: 1px solid #f5f5f5;
  padding: 40px 32px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 22px 18px -26px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 22px 18px -26px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 2px 12px 0px rgba(16, 24, 40, 0.08);
          box-shadow: 0px 2px 12px 0px rgba(16, 24, 40, 0.08);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* Đảm bảo nội dung bên trong giãn đều */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.secBuffetHead .about__package-buffet .content .right .card-price:hover {
  -webkit-box-shadow: 0px 6px 26px -20px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 6px 26px -20px rgba(0, 0, 0, 0.55);
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-price .package-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}
@media screen and (max-width: 540px) {
  .secBuffetHead .about__package-buffet .content .right .card-price .row-price .package-name {
    font-size: 16px;
    line-height: 22px;
  }
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-price .price {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #3D3D3D;
  margin-top: 24px;
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-price .price span {
  font-weight: 700;
  font-size: 40px;
  line-height: 23px;
  color: #4564ED;
}
@media screen and (max-width: 540px) {
  .secBuffetHead .about__package-buffet .content .right .card-price .row-price .price span {
    font-size: 24px;
    line-height: 22px;
  }
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-price .price p {
  margin: 12px 0 0;
  line-height: 1;
}
@media screen and (max-width: 540px) {
  .secBuffetHead .about__package-buffet .content .right .card-price .row-price .price p {
    margin-top: 8px;
  }
}
@media screen and (max-width: 540px) {
  .secBuffetHead .about__package-buffet .content .right .card-price .row-price .price {
    font-size: 12px;
    margin-top: 12px;
  }
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-speed {
  padding: 28px 0 16px;
  margin: 16px 0 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #3D3D3D;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-speed div {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-speed div span {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
@media screen and (max-width: 540px) {
  .secBuffetHead .about__package-buffet .content .right .card-price .row-speed div span {
    font-size: 28px;
    line-height: 40px;
  }
}
@media screen and (max-width: 540px) {
  .secBuffetHead .about__package-buffet .content .right .card-price .row-speed {
    margin: 16px 0;
    padding: 12px 0 8px;
    font-size: 14px;
    line-height: 20px;
  }
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-devices .head-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-devices .list-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0 16px;
  padding-bottom: 8px;
  gap: 12px;
  width: 100%;
  overflow: auto;
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-devices .list-image li img {
  width: 92px;
  height: 92px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #E7E7E7;
  border-radius: 8px;
}
@media screen and (max-width: 1024px) {
  .secBuffetHead .about__package-buffet .content .right .card-price .row-devices .list-image li img {
    width: 72px;
    height: 72px;
  }
}
@media screen and (max-width: 540px) {
  .secBuffetHead .about__package-buffet .content .right .card-price .row-devices .list-image li img {
    width: 48px;
    height: 48px;
  }
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-devices .ul-list li {
  position: relative;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 8px;
  color: rgb(61, 61, 61);
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-devices .ul-list li:nth-last-of-type(1) {
  margin-bottom: 0;
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-devices .ul-list li::before {
  content: "";
  background: url("../images/tick-green-16x16.svg") no-repeat center left;
  background-size: 16px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5px;
  left: 0;
  font-weight: 600;
}
@media screen and (max-width: 540px) {
  .secBuffetHead .about__package-buffet .content .right .card-price .row-devices .ul-list li::before {
    top: 1px;
  }
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-devices .ul-list li b {
  font-weight: 700;
  color: #4564ED;
}
@media screen and (max-width: 540px) {
  .secBuffetHead .about__package-buffet .content .right .card-price .row-devices .ul-list li {
    font-size: 14px;
    line-height: 20px;
  }
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-register {
  margin-top: 40px;
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-register .button {
  line-height: 54px;
  text-align: center;
  display: block;
  background: #FF730A;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.secBuffetHead .about__package-buffet .content .right .card-price .row-register .button:hover {
  background: #ff9100;
}
@media screen and (max-width: 540px) {
  .secBuffetHead .about__package-buffet .content .right .card-price .row-register .button {
    line-height: 40px;
  }
}
@media screen and (max-width: 540px) {
  .secBuffetHead .about__package-buffet .content .right .card-price .row-register {
    margin-top: 24px;
  }
}
@media screen and (max-width: 768px) {
  .secBuffetHead .about__package-buffet .content .right .card-price {
    padding: 34px 30px;
  }
}
@media screen and (max-width: 540px) {
  .secBuffetHead .about__package-buffet .content .right .card-price {
    padding: 30px 20px 20px;
  }
}
@media screen and (max-width: 1024px) {
  .secBuffetHead .about__package-buffet .content .right {
    min-width: 48%;
  }
}
@media screen and (max-width: 820px) {
  .secBuffetHead .about__package-buffet .content .right {
    min-width: 55%;
  }
}
@media screen and (max-width: 540px) {
  .secBuffetHead .about__package-buffet .content .right {
    min-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .secBuffetHead .about__package-buffet {
    padding: 0;
  }
}

.card-price .puplar-pink,
.card_info .puplar-pink {
  background: url("../images/puplar-pink.svg") no-repeat center left;
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 24px;
  font-weight: 590;
  font-size: 12px;
  line-height: 24px;
  padding-left: 22px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .card-price .puplar-pink,
  .card_info .puplar-pink {
    height: 20px;
    line-height: 20px;
    background-size: auto 20px;
    font-size: 10px;
  }
}

.parents_goi_giadinh {
  position: relative;
}
.parents_goi_giadinh .swiper-button-next,
.parents_goi_giadinh .swiper-button-prev {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  border-radius: 90px;
  background: rgba(255, 255, 255, 0.7) url("../images/owl-arrow-right.svg") no-repeat center center/26px;
  right: calc(50% - 770px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.parents_goi_giadinh .swiper-button-next::after,
.parents_goi_giadinh .swiper-button-prev::after {
  display: none;
}
.parents_goi_giadinh .swiper-button-prev {
  right: unset;
  left: calc(50% - 720px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.7) url("../images/owl-arrow-left.svg") no-repeat center center/26px;
}
.parents_goi_giadinh .swiper-button-next.swiper-button-disabled,
.parents_goi_giadinh .swiper-button-prev.swiper-button-disabled {
  pointer-events: unset;
  display: none;
}
.parents_goi_giadinh .swiper-button-disabled.swiper-button-lock {
  display: none !important;
}
@media screen and (max-width: 1500px) {
  .parents_goi_giadinh .swiper-button-next {
    right: -3.3vw;
  }
  .parents_goi_giadinh .swiper-button-prev {
    left: 1.2vw;
  }
}

.swiper.sw_goi_giadinh {
  max-width: 1460px;
  height: auto;
  min-height: 100px;
  margin: 0 auto;
}
.swiper.sw_goi_giadinh .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; /* Căng đều các slide theo chiều cao */
  -webkit-transition: all 0.2s ease-out 0.05s;
  transition: all 0.2s ease-out 0.05s;
}
.swiper.sw_goi_giadinh .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.swiper.sw_goi_giadinh .swiper-slide .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  padding: 10px 7px 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; /* Kéo dài để lấp đầy chiều cao của slide */
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh .swiper-slide .cards {
    padding: 10px 6px 20px;
  }
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info {
  position: relative;
  background: #fff;
  border: 1px solid #f5f5f5;
  overflow: hidden;
  padding: 32px 28px 106px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 22px 18px -26px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 22px 18px -26px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 2px 12px 0px rgba(16, 24, 40, 0.08);
          box-shadow: 0px 2px 12px 0px rgba(16, 24, 40, 0.08);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; /* Đảm bảo nội dung bên trong giãn đều */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info:hover {
  -webkit-box-shadow: 0px 6px 26px -20px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 6px 26px -20px rgba(0, 0, 0, 0.55);
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-price .package-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-price .package-name {
    font-size: 16px;
    line-height: 22px;
  }
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-price .price {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #3D3D3D;
  margin-top: 24px;
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-price .price span {
  font-weight: 700;
  font-size: 32px;
  line-height: 23px;
  color: #4564ED;
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-price .price span {
    font-size: 24px;
  }
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-price .price p {
  margin: 12px 0 0;
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-price .price p {
    margin-top: 8px;
  }
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-price .price {
    margin-top: 12px;
  }
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-speed {
  padding: 20px 0 16px;
  margin: 16px 0 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #3D3D3D;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-speed div {
  margin-top: 8px;
  font-weight: 500;
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-speed div span {
  line-height: 44px;
  font-weight: 700;
  font-size: 32px;
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-speed div span {
    font-size: 28px;
    line-height: 40px;
  }
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-speed {
    margin: 12px 0 16px;
    padding: 12px 0 8px;
  }
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-devices .head-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-devices .list-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0 16px;
  padding-bottom: 8px;
  gap: 12px;
  width: 100%;
  overflow: auto;
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-devices .list-image li img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #E7E7E7;
  border-radius: 8px;
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-devices .list-image li img {
    width: 48px;
    height: 48px;
  }
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-devices .ul-list li {
  position: relative;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 4px;
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-devices .ul-list li::before {
  content: "";
  background: url("../images/tick-green-16x16.svg") no-repeat center left;
  background-size: 16px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  left: 0;
  font-weight: 600;
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-devices .ul-list li::before {
    top: 2px;
  }
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-devices .ul-list li b {
  font-weight: 700;
  color: #4564ED;
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-devices .ul-list li {
    font-size: 14px;
    line-height: 20px;
  }
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-register {
  position: absolute;
  width: calc(100% - 56px);
  bottom: 32px;
  left: 28px;
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-register .button {
  line-height: 54px;
  text-align: center;
  display: block;
  background: #FF730A;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-register .button:hover {
  background: #ff9100;
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh .swiper-slide .cards .card_info .row-register .button {
    line-height: 40px;
  }
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh .swiper-slide .cards .card_info {
    padding: 24px 20px 90px;
  }
}
.js_customer_reviews_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 12px;
}

@media screen and (max-width: 1439px) {
  .swiper.sw_goi_giadinh {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .parents_goi_giadinh .swiper-button-next,
  .parents_goi_giadinh .swiper-button-prev {
    display: none;
  }
  .js_customer_reviews_center {
    padding-left: 8px;
  }
}
@media screen and (max-width: 884px) {
  .swiper.sw_goi_giadinh .swiper-slide {
    width: 42vw;
  }
}
@media screen and (max-width: 834px) {
  .swiper.sw_goi_giadinh .swiper-slide {
    width: 45vw;
  }
}
@media screen and (max-width: 820px) {
  .swiper.sw_goi_giadinh .swiper-slide {
    width: 46vw;
  }
}
@media screen and (max-width: 768px) {
  .parents_goi_giadinh .swiper-button-next,
  .parents_goi_giadinh .swiper-button-prev {
    display: none;
  }
  .swiper.sw_goi_giadinh .swiper-slide {
    width: 47vw;
  }
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh .swiper-slide {
    width: 75vw;
  }
}
.parents_goi_giadinh_large {
  position: relative;
}
.parents_goi_giadinh_large .swiper-button-next,
.parents_goi_giadinh_large .swiper-button-prev {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  border-radius: 90px;
  background: rgba(255, 255, 255, 0.7) url("../images/owl-arrow-right.svg") no-repeat center center/26px;
  right: calc(50% - 770px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.parents_goi_giadinh_large .swiper-button-next::after,
.parents_goi_giadinh_large .swiper-button-prev::after {
  display: none;
}
.parents_goi_giadinh_large .swiper-button-prev {
  right: unset;
  left: calc(50% - 720px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.7) url("../images/owl-arrow-left.svg") no-repeat center center/26px;
}
.parents_goi_giadinh_large .swiper-button-next.swiper-button-disabled,
.parents_goi_giadinh_large .swiper-button-prev.swiper-button-disabled {
  pointer-events: unset;
  display: none;
}
.parents_goi_giadinh_large .swiper-button-disabled.swiper-button-lock {
  display: none !important;
}
@media screen and (max-width: 1500px) {
  .parents_goi_giadinh_large .swiper-button-next {
    right: -3.3vw;
  }
  .parents_goi_giadinh_large .swiper-button-prev {
    left: 1.2vw;
  }
}

.swiper.sw_goi_giadinh_large {
  max-width: 1460px;
  height: auto;
  min-height: 100px;
  margin: 0 auto;
}
.swiper.sw_goi_giadinh_large .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; /* Căng đều các slide theo chiều cao */
  -webkit-transition: all 0.2s ease-out 0.05s;
  transition: all 0.2s ease-out 0.05s;
}
.swiper.sw_goi_giadinh_large .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.swiper.sw_goi_giadinh_large .swiper-slide .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; /* Kéo dài để lấp đầy chiều cao của slide */
  display: flex;
  flex-direction: column;
}
.swiper.sw_goi_giadinh_large .swiper-slide .cards .card_info {
  position: relative;
  background: #fff;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; /* Đảm bảo nội dung bên trong giãn đều */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh_large .swiper-slide .cards .card_info {
    border-radius: 10px;
  }
}
.swiper.sw_goi_giadinh_large .swiper-slide .cards .card_info img {
  max-width: 100%;
  max-height: 578px;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper.sw_goi_giadinh_large .swiper-slide .cards .card_info .row-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - 48px);
  padding: 17px 24px;
}
.swiper.sw_goi_giadinh_large .swiper-slide .cards .card_info .row-text span {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  min-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.swiper.sw_goi_giadinh_large .swiper-slide .cards .card_info .row-text h4 {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
}
.swiper.sw_goi_giadinh_large .swiper-slide .cards .card_info .row-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  margin: 4px 0 12px;
}
.swiper.sw_goi_giadinh_large .swiper-slide .cards .card_info .row-text a {
  color: #FF730A;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  background: url("../images/arrow-right-orange-16x16.svg") center right no-repeat;
  background-size: 16px;
  padding-right: 24px;
}
.swiper.sw_goi_giadinh_large .swiper-slide .cards .card_info .row-text a:hover {
  opacity: 0.8;
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh_large .swiper-slide .cards .card_info .row-text {
    padding: 16px;
    width: calc(100% - 32px);
  }
  .swiper.sw_goi_giadinh_large .swiper-slide .cards .card_info .row-text h4 {
    font-size: 14px;
    line-height: 20px;
  }
  .swiper.sw_goi_giadinh_large .swiper-slide .cards .card_info .row-text p {
    font-size: 14px;
    line-height: 20px;
    margin: 4px 0 8px;
  }
  .swiper.sw_goi_giadinh_large .swiper-slide .cards .card_info .row-text a {
    font-size: 14px;
  }
}

.js_customer_reviews_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 12px;
}

@media screen and (max-width: 1439px) {
  .swiper.sw_goi_giadinh_large {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .parents_goi_giadinh_large .swiper-button-next,
  .parents_goi_giadinh_large .swiper-button-prev {
    display: none;
  }
  .js_customer_reviews_center {
    padding-left: 8px;
  }
}
@media screen and (max-width: 820px) {
  .swiper.sw_goi_giadinh_large .swiper-slide {
    width: 39vw;
  }
}
@media screen and (max-width: 768px) {
  .parents_goi_giadinh_large .swiper-button-next,
  .parents_goi_giadinh_large .swiper-button-prev {
    display: none;
  }
  .swiper.sw_goi_giadinh_large .swiper-slide {
    width: 60%;
  }
}
@media screen and (max-width: 540px) {
  .swiper.sw_goi_giadinh_large .swiper-slide {
    width: 68vw;
  }
}/*# sourceMappingURL=goi-gia-dinh.css.map */