// transition: all 0.2s ease-out 0.05s;
:root {
    --news-cate: #181D27;
    --color_black: #181D27;
    --news-title: #3D3D3D;
    --color_3D3: #3D3D3D;
    --news-decs: #888;
    --color_888: #888;
}

.sec--news-list {
    &.rowfull-margin {
        padding-bottom: 56px;

        @media screen and (max-width: 1024px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        @media screen and (max-width: 820px) {
            padding-bottom: 40px;
        }
    }
}


.news-container {
    width: 1440px;
    margin: 0 auto 56px;

    @media screen and (max-width: 1440px) {
        width: 100%;
    }

    .category-label {
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 16px;
        color: var(--news-cate);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .view-more {
            color: var(--primaryBlue);
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            background: url('../images/arrow-right.png') center right no-repeat;
            background-size: 12px;
            padding-right: 16px;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
        @media screen and (max-width: 820px) {
            font-size: 24px;
            line-height: 32px;
        }
    }
}

// block new head 
.news-features {
    display: flex;
    gap: 32px;
    max-width: 100%;
    margin: auto;

    .main-article {
        flex: 1;
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            height: 419px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            object-fit: cover;
            object-position: 50% 50%;

            @media screen and (max-width: 540px) {
                height: 240px;
            }
        }

        .author {
            color: var(--primaryBlue);
            font-size: 14px;
            font-weight: 600;
            margin-top: 24px;
            margin-bottom: 12px;

            @media screen and (max-width: 540px) {
                margin-top: 20px;
                margin-bottom: 8px;
            }
        }

        .title {
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            color: var(--primary);
            margin-bottom: 12px;
            max-height: 64px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            @media screen and (max-width: 540px) {
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 8px;
            }
        }

        .summary {
            font-size: 16px;
            line-height: 22px;
            color: var(--news-decs);
            margin-bottom: 0;

            max-height: 70px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .tag {
            margin-top: 20px;
            display: inline-block;

            .link {
                span {
                    background: #e0e7ff;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    color: #3b82f6;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16px;
                    padding: 5px 8px;
                }
            }
            span {
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                font-size: 12px;
                line-height: 16px;
                padding: 4px 8px;
                font-weight: 500;
                background: #F0F3FE;
                color: #4564ED;
            }
            &.tag-blue {
                span {
                    background: #F0F3FE;
                    color: #4564ED;
                    // border: 1px solid #4564ED;
                }
            }
            &.tag-green {
                span {
                    background: #F1FDF6;
                    color: #17BA58;
                    // border: 1px solid #17BA58;
                }
            }
            &.tag-red {
                span {
                    background: #FFF3F6;
                    color: #FF2156;
                    // border: 1px solid #FF2156;
                }
            }
            &.tag-orange {
                span {
                    background: #FFF7EC;
                    color: #FF730A;
                    // border: 1px solid #FF730A;
                }
            }
            
        }
    }

    .side-articles {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;


        .article {
            // display: flex;
            // flex-direction: column;
            padding: 0;

            .thumb-link {
                display: inline-block;
                width: 100%;
                margin-bottom: 20px;

                .thumb-img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    object-position: 50% 50%;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    border-radius: 8px;

                    @media screen and (max-width: 679px) {
                        height: 150px;
                    }

                    @media screen and (max-width: 540px) {
                        height: 96px;
                    }
                }
            }


            .author {
                color: var(--primaryBlue);
                font-size: 14px;
                font-weight: 600;
                line-height: 20px;
                display: block;

                @media screen and (max-width: 540px) {
                    font-size: 12px;
                    line-height: 16px;
                }
            }

            .title {
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
                color: var(--primary);
                margin: 8px 0 12px;

                display: block;
                height: 44px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                @media screen and (max-width: 768px) {
                    height: auto;
                    max-height: 48px;
                }
                @media screen and (max-width: 540px) {
                    font-size: 14px;
                    line-height: 20px;
                    margin: 8px 0;
                    height: auto;
                    max-height: 44px;
                }
            }

            .tag {
                font-size: 12px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                font-weight: 500;

                span {
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    border-radius: 4px;
                    font-size: 12px;
                    line-height: 16px;
                    padding: 4px 8px;
                    font-weight: 500;
                    background: #F0F3FE;
                    color: #4564ED;
                }
                &.tag-blue {
                    span {
                        background: #F0F3FE;
                        color: #4564ED;
                        // border: 1px solid #4564ED;
                    }
                }
                &.tag-green {
                    span {
                        background: #F1FDF6;
                        color: #17BA58;
                        // border: 1px solid #17BA58;
                    }
                }
                &.tag-red {
                    span {
                        background: #FFF3F6;
                        color: #FF2156;
                        // border: 1px solid #FF2156;
                    }
                }
                &.tag-orange {
                    span {
                        background: #FFF7EC;
                        color: #FF730A;
                        // border: 1px solid #FF730A;
                    }
                }
                
            }

            .sale {

                span {
                    background: #FFF7EC;
                    color: #FF730A;
                    padding: 5px 8px;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16px;

                }
            }

            .entertainment {
                span {
                    background: #fee2e2;
                    color: #ef4444;
                    padding: 5px 8px;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 16px;
                }
            }

            .div-smartads {
                .smartads {
                    background: url('../images/smartads-icon.png') left center no-repeat;
                    background-size: 11px;
                    padding-left: 15px;
                    color: var(--text888);
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;
                    -webkit-filter: grayscale(100%); // Safari 6.0 - 9.0
                    filter: grayscale(100%);
                }

                &:hover {
                    .smartads {
                        -webkit-filter: none; // Safari 6.0 - 9.0
                        filter: none;
                    }
                }

            }

            @media (max-width: 768px) {
                display: flex;
                gap: 16px;

                .thumb-link {
                    margin-bottom: 0;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                }

                div {
                    flex: 1.2;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }



    @media (max-width: 768px) {

        flex-direction: column;

        .side-articles {
            grid-template-columns: 1fr;
            gap: 16px;
        }
    }

}

// end block new head 

.hotproducts-container {
    width: 1440px;
    margin: 0 auto 56px;

    @media screen and (max-width: 1440px) {
        width: 100%;
    }

    .category-label {
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 16px;
        color: var(--news-cate);

        @media screen and (max-width: 820px) {
            font-size: 24px;
            line-height: 32px;
        }
    }

    @media screen and (max-width: 540px) {
        flex-direction: column;
        display: flex;
    }
    .hotproduct-content {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        justify-content: start;

        .hotproduct-item {
            // flex: 1 1 calc(25% - 32px);
            width: calc(25% - 24px);
            background: #fff;
            overflow: hidden;
            transition: all 0.2s ease-out 0.05s;

            img {
                width: 100%;
                height: 200px;
                display: block;
                object-fit: cover;
                object-position: 50% 50%;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
            }

            .article-count {
                display: block;
                color: var(--primaryBlue);
                margin: 20px 0 8px;
                font-weight: 600;
                font-size: 14px;
                line-height: 20px;

            }

            .article-link {
                margin: 0;
                color: var(--primary);
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                margin: 20px 0 8px;
                height: 44px;
                max-height: 44px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: all 0.2s ease-out 0.05s;
                @media screen and (max-width: 540px) {
                    margin-top: 0;
                }

            }

            .article-viewmore {
                display: block;
                color: var(--primaryBlue);
                // margin: 20px 0 8px;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                background: url('../images/arrow-right.png') right 4px no-repeat;
                background-size: 12px;
                padding-right: 16px;
                display: inline-block;
                @media screen and (max-width: 540px) {
                    background-position: 72px 4px;
                }
            }

            &:hover {
                .article-link {
                    color: #000;
                }

            }
            @media (max-width: 1024px) {
                // flex: 1 1 calc(50% - 32px);
                flex: 1 1;
            }
            @media (max-width: 768px) {
                flex: unset;
                width: 48%;
            }
        }

        /* Tablet: 2 bài viết trên một hàng */
        @media (max-width: 1024px) {
            // .hotproduct-item {
            //     // flex: 1 1 calc(50% - 32px);
            //     flex: 1 1;
            // }
        }

        @media (max-width: 768px) {
            display: flex;
            gap: 22px;
        }

        /* Mobile: 1 bài viết trên một hàng */
        @media (max-width: 540px) {
            flex: 1;
            gap: 16px;
            display: grid;
            grid-template-columns: 1fr;

            .hotproduct-item {
                display: flex;
                gap: 16px;
                width: 100%;
                align-items: flex-start;

                .article-img {
                    margin-bottom: 0;
                    flex: 1;
                    display: flex;
                    flex-direction: column;

                    img {
                        width: 100%;
                        height: 96px;
                    }
                }
                div {
                    flex: 1.2;
                    display: grid;
                    grid-template-columns: 1fr;
                }
            }
        }
    }










}


.sec-promotions {
    width: 100%;
    background: #F7F7F8;

    .promotions-container {
        width: 1440px;
        margin: 0 auto;
        padding: 56px 0;

        @media screen and (max-width: 1440px) {
            width: calc(100% - 30px);
        }

        .category-label {
            font-weight: 700;
            font-size: 32px;
            line-height: 44px;
            margin-bottom: 16px;
            color: var(--news-cate);
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }
}

.news--category-block {
    display: flex;
    gap: 32px;
    max-width: 100%;
    margin: auto;

    .news--category-contains {
        flex: 1;
        display: grid;
        grid-template-columns: 3.2fr 1fr;
        gap: 32px;

        .block-left {

            .block-items {
                display: flex;
                gap: 32px;
                max-width: 100%;

                .large-item {
                    flex: 2.1;
                    display: flex;
                    flex-direction: column;
                    @media screen and (max-width: 540px) {
                        margin-bottom: 24px;
                    }
                    img {
                        width: 100%;
                        height: 419px;
                        border-radius: 8px;
                        object-fit: cover;
                        object-position: 50% 50%;

                        @media screen and (max-width: 1200px) {
                            height: 350px;
                        }

                        @media screen and (max-width: 820px) {
                            height: 300px;
                        }

                        @media screen and (max-width: 540px) {
                            height: 236px;
                        }
                    }

                    .author {
                        color: var(--primaryBlue);
                        font-size: 14px;
                        font-weight: 600;
                        margin-top: 24px;
                        margin-bottom: 12px;
                    }

                    .title {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 32px;
                        color: var(--primary);
                        margin-bottom: 12px;

                        max-height: 64px;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        @media screen and (max-width: 820px) {
                            font-size: 20px;
                            line-height: 30px;
                            max-height: 57px;
                        }
                    }

                    .summary {
                        font-size: 16px;
                        line-height: 22px;
                        color: var(--news-decs);
                        margin-bottom: 0;
                        max-height: 66px;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        @media screen and (max-width: 540px) {
                            // display: none;

                        }
                    }

                    @media screen and (max-width: 1200px) {
                        flex: 1.9;
                    }

                }

                .medium-item {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 32px;

                    @media screen and (max-width: 820px) {
                        gap: 24px;
                    }
                    @media screen and (max-width: 540px) {
                        grid-template-columns: 1fr;
                        display: grid;
                        gap: 15px 20px;
                    }
                    .article {
                        padding: 0;

                        @media screen and (max-width: 540px) {
                            display: grid;
                            grid-template-columns: 1fr 1.1fr;
                            gap: 15px;
                        }
                        .thumb-link {
                            display: inline-block;
                            width: 100%;
                            margin-bottom: 20px;

                            @media screen and (max-width: 820px) {
                                margin-bottom: 13px;
                            }
                            @media screen and (max-width: 540px) {
                                margin-bottom: 0;
                            }
                        }

                        .thumb-img {
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                            object-position: 50% 50%;
                            -webkit-border-radius: 8px;
                            -moz-border-radius: 8px;
                            border-radius: 8px;

                            @media screen and (max-width: 1200px) {
                                height: 176px;
                            }

                            @media screen and (max-width: 820px) {
                                height: 150px;
                            }
                            @media screen and (max-width: 540px) {
                                height: 96px;
                            }
                        }

                        .author {
                            color: var(--primaryBlue);
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 20px;
                            display: block;

                            @media screen and (max-width: 540px) {
                                font-size: 12px;
                                line-height: 16px;
                            }
                        }

                        .title {
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 22px;
                            color: var(--primary);
                            margin: 8px 0 0;

                            display: block;
                            height: 42px;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            @media screen and (max-width: 540px) {
                                font-size: 14px;
                                line-height: 20px;
                            }
                        }
                    }
                }

                @media screen and (max-width: 540px) {
                    display: block;
                }
            }

        }

        .block-right {

            .category-label-small {
                color: var(--news-cate);
                font-weight: 700;
                font-size: 20px;
                line-height: 1;
                height: 44px;
                padding-top: 17px;

                @media screen and (max-width: 820px) {
                    font-size: 24px;
                    line-height: 32px;
                    padding-top: 0;
                }
                @media screen and (max-width: 540px) {
                    font-size: 24px;
                    line-height: 32px;
                    padding-top: 0;
                    
                }
            }

            .best-view--items {
                margin-top: 16px;

                .item {
                    display: flex;
                    gap: 12px;
                    margin-bottom: 16px;

                    &:nth-last-of-type(1) {
                        margin-bottom: 0;
                    }

                    img {
                        width: 161px;
                        height: 96px;
                        object-fit: cover;
                        object-position: 50% 50%;
                        -webkit-border-radius: 8px;
                        -moz-border-radius: 8px;
                        border-radius: 8px;

                        @media screen and (max-width: 1200px) {
                            width: 140px;
                            height: 84px;
                        }

                        @media screen and (max-width: 540px) {
                            width: 100%;
                            height: 96px;
                        }
                    }

                    .author-small {
                        color: var(--primaryBlue);
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px;
                    }

                    .title-small {
                        color: var(--news-title);
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        max-height: 44px;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        @media screen and (max-width: 540px) {
                            max-height: 44px;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }


                    }

                    @media screen and (max-width: 820px) {
                        margin-bottom: 0;
                    }

                    @media screen and (max-width: 768px) {
                        margin-bottom: 0;
                    }

                    @media screen and (max-width: 540px) {
                        align-items: center;
                        display: grid;
                        grid-template-columns: 1fr 1.1fr;
                        gap: 15px;
                    }

                }

                @media screen and (max-width: 820px) {
                    // ipad air
                    grid-template-columns: 1fr 1fr;
                    display: grid;
                    gap: 15px 20px;
                    margin-top: 0;
                }

                @media screen and (max-width: 768px) {
                    grid-template-columns: 1fr 1fr;
                    /* flex: 1; */
                    display: grid;
                    gap: 15px 20px;
                }

                @media screen and (max-width: 540px) {
                    grid-template-columns: 1fr;
                }
            }
        }

        @media screen and (max-width: 1200px) {
            grid-template-columns: 2.8fr 1fr;
        }

        @media screen and (max-width: 820px) {
            // ipad air
            grid-template-columns: 1fr;
        }

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
        @media screen and (max-width: 540px) {
            gap: 40px;
        }
    }
}

.sec-hotnews {
    width: 100%;

    .hotnews-container {
        width: 1440px;
        margin: 0 auto;
        padding: 56px 0;

        @media screen and (max-width: 1440px) {
            width: calc(100% - 30px);
        }
        @media screen and (max-width: 820px) {
            padding: 40px 0;
        }
        .category-label {
            font-weight: 700;
            font-size: 32px;
            line-height: 44px;
            margin-bottom: 16px;
            color: var(--news-cate);
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .hotnews-content {
            display: flex;
            flex-wrap: wrap;
            gap: 32px;
            justify-content: space-between;

            .hotnews-item {
                width: calc(50% - 16px);
                // overflow: hidden;
                display: flex;
                gap: 20px;
                max-width: 100%;

                .img {
                    // flex: 1;
                    width: 258px;
                    height: 154px;
                    display: flex;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: 50% 50%;
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                        border-radius: 6px;
                    }

                    @media screen and (max-width: 768px) {
                        width: 50%;
                        height: 110px;
                    }

                    @media screen and (max-width: 540px) {
                        width: 49%;
                        height: 96px;
                    }
                }

                .text {
                    // flex: 2.1;
                    width: calc(100% - 258px);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // padding: 18px 0;


                    .author {
                        color: var(--primaryBlue);
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 20px;
                        margin-bottom: 8px;
                        @media screen and (max-width: 540px) {
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }

                    .title {
                        p {
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 22px;
                            color: var(--primary);
                            margin-bottom: 8px;
                            max-height: 46px;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            @media screen and (max-width: 768px) {
                                margin-bottom: 0;
                                max-height: 66px;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                font-size: 15px;
                            }
                            @media screen and (max-width: 540px) {
                                font-size: 14px;
                                line-height: 20px;
                                max-height: 45px;
                                -webkit-line-clamp: 2;
                            }
                        }

                        span {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            color: var(--news-decs);
                            margin-bottom: 0;
                            max-height: 58px;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            @media screen and (max-width: 768px) {
                                display: none;
                            }
                        }
                    }

                    @media screen and (max-width: 768px) {
                        width: 50%;
                        justify-content: flex-start;
                    }

                }

                @media screen and (max-width: 768px) {
                    width: calc(50% - 16px);
                }

                @media screen and (max-width: 540px) {
                    width: 100%;
                    gap: 15px;
                }
            }

            @media screen and (max-width: 820px) {
                gap: 20px;
            }

            @media screen and (max-width: 768px) {
                gap: 15px;
            }
        }

        .no-article {
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
            text-align: center;
            padding-bottom: 56px;

            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                color: var(--color_3D3);
                margin: 16px 0 4px;
            }

            span {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: var(--color_888);
            }
        }

    }
}

.news-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 40px;
    @media screen and (max-width: 540px) {
        gap: 1px;
    }

    .page-btn {
        background: #fff;
        color: var(--color_888);
        padding: 8px 12px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;
        transition: 0.3s;
        min-width: 40px;
        width: auto;
        height: 40px;
        text-align: center;

        &:hover {
            background: #f8f8f8;
        }

        &.active {
            color: var(--news-title);
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            border: 1px solid #E7E7E7;
            width: auto;
            min-width: 40px;

            @media screen and (max-width: 540px) {
                font-size: 14px;
                padding-left: 9px;
                padding-right: 9px;
            }
        }

        @media screen and (max-width: 540px) {
            font-size: 14px;
            padding-left: 9px;
            padding-right: 9px;
            // width: 32px;
            // height: 32px;
            // padding: 5px;
        }


    }

    .arrow-left {
        background: #fff url('../images/page-arr-left.svg') center no-repeat;
        background-size: 16px;
        border: 1px solid #E7E7E7;
        margin-right: 14px;

        &:hover {
            background: #fff url('../images/page-arr-left.svg') center no-repeat;

        }

        &.disabled {
            cursor: not-allowed;
            background: #F5F5F5 url('../images/page-arr-left-disable.svg') center no-repeat;
            border: 1px solid #d4d4d4;
            pointer-events: none;
        }

        @media screen and (max-width: 540px) {
            margin-right: 2px;
        }
    }

    .arrow-right {
        background: #fff url('../images/page-arr-right.svg') center no-repeat;
        background-size: 16px;
        border: 1px solid #E7E7E7;
        margin-left: 14px;

        &:hover {
            background: #fff url('../images/page-arr-right.svg') center no-repeat;

        }

        &.disabled {
            cursor: not-allowed;
            background: #F5F5F5 url('../images/page-arr-right-disable.svg') center no-repeat;
            border: 1px solid #d4d4d4;
            pointer-events: none;
        }

        @media screen and (max-width: 540px) {
            margin-left: 2px;
        }
    }

    .dots {
        padding: 8px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.8px;
        color: var(--color_888);
    }
}

.sec-promotions {
    width: 100%;
    background: #F7F7F8;

    .promotions-container {
        width: 1440px;
        margin: 0 auto;
        padding: 56px 0;

        @media screen and (max-width: 1440px) {
            width: calc(100% - 30px);
        }

        @media screen and (max-width: 820px) {
            padding: 40px 0;
        }
        .category-label {
            font-weight: 700;
            font-size: 32px;
            line-height: 44px;
            margin-bottom: 16px;
            color: var(--news-cate);
            display: flex;
            align-items: center;
            justify-content: space-between;

            a.link-viewmore {
                color: var(--primaryBlue);
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                background: url('../images/arrow-right.png') center right no-repeat;
                background-size: 12px;
                padding-right: 16px;
                // &::after {
                //     position: absolute;
                //     content: '';
                //     width: 20px;
                //     height: 12px;
                // }
            }
            @media screen and (max-width: 820px) {
                font-size: 24px;
                line-height: 32px;
            }
        }

    }
}

// page chủ đề (tag)
.sec-hotnews {
    &.sec-tags {
        .hotnews-container {
            padding-top: 0;

            .hotnews-content .hotnews-item .text {
                justify-content: start
            }

            .pagination {
                // custom pagination bootstrap
                display: flex;
                justify-content: center;

                li {
                    display: inline-block;
                    margin: 0 2px;
                    a,
                    span {
                        border: none;
                        background: #fff;
                        color: var(--color_888);
                        padding: 9px 12px;
                        border-radius: 6px;
                        cursor: pointer;
                        font-size: 16px;
                        transition: 0.3s;
                        min-width: 40px;
                        height: 40px;
                        text-align: center;
    
                        &:hover {
                            background: #f8f8f8;
                        }
    
                        &.active {
                            color: var(--news-title);
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 22px;
                            text-align: center;
                            border: 1px solid #E7E7E7;
    
                            @media screen and (max-width: 540px) {
                                font-size: 14px;
                            }
                        }
    
                        @media screen and (max-width: 540px) {
                            font-size: 14px;
                            // width: 32px;
                            // height: 32px;
                            // padding: 5px;
                        }
                    }
                    &.active {
                        a, span {
                            color: var(--news-title);
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 22px;
                            text-align: center;
                            border: 1px solid #E7E7E7;
                        }
                    }

                    // icon left
                    &:first-child a,
                    &:first-child span {
                        background: #fff url('../images/page-arr-left.svg') center no-repeat;
                        background-size: 16px;
                        border: 1px solid #E7E7E7;
                        margin-right: 14px;
                        font-size: 0;

                        &:hover {
                            background: #fff url('../images/page-arr-left.svg') center no-repeat;

                        }

                        @media screen and (max-width: 540px) {
                            margin-right: 2px;
                        }
                    }

                    // icon right 
                    &:last-child a,
                    &:last-child span {
                        background: #fff url('../images/page-arr-right.svg') center no-repeat;
                        background-size: 16px;
                        border: 1px solid #E7E7E7;
                        margin-left: 14px;
                        font-size: 0;

                        &:hover {
                            background: #fff url('../images/page-arr-right.svg') center no-repeat;

                        }

                        @media screen and (max-width: 540px) {
                            margin-left: 2px;
                        }
                    }

                    &.disabled {
                        font-size: 16px;
                        font-weight: 600;
                        letter-spacing: 0.8px;
                        color: var(--color_888);
                        span {
                            padding: 6px 12px;
                        }

                        // disabled icon left
                        &:first-child a,
                        &:first-child span {
                            cursor: not-allowed;
                            background: #F5F5F5 url('../images/page-arr-left-disable.svg') center no-repeat;
                            border: 1px solid #d4d4d4;
                        }

                        // disabled icon right
                        &:last-child a,
                        &:last-child span {
                            cursor: not-allowed;
                            background: #F5F5F5 url('../images/page-arr-right-disable.svg') center no-repeat;
                            border: 1px solid #d4d4d4;
                        }
                    }
                }

            }
        }


    }
}

// page video list 
.hotproducts-container {
    &.playlist-videos {
        .hotproduct-content {
            @media screen and (max-width: 1024px) {
                gap: 15px;
            }
            .hotproduct-item {
                .thumb-link {
                    display: block;
                    position: relative;

                    .icon_yt {
                        position: absolute;
                        width: 30px;
                        height: 20px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            background: url(../images/youtube_full_color_icon.png) center no-repeat;
                            width: 100%;
                            height: 100%;
                            background-size: 29px;
                            display: block;
                        }
                    }
                }

                .article-link {
                    margin-bottom: 0px;
                }
                @media screen and (max-width: 1024px) {
                    flex: unset;
                    width: calc(25% - 12px);
                    .article-img {
                        img {
                            height: 150px;
                        }
                    }
                }
                @media screen and (max-width: 820px) {
                    
                    .article-img {
                        img {
                            height: 115px;
                        }
                    }
                }
                @media screen and (max-width: 768px) {
                    flex: unset;
                    width: 48%;
                    .article-img {
                        img {
                            height: 200px;
                        }
                    }
                }
                @media screen and (max-width: 540px) {
                    display: grid;
                    grid-template-columns: 1fr 1.1fr;
                    gap: 15px;
                    width: 100%;

                    .article-img {
                        img {
                            width: 100%;
                            height: 96px;
                        }
                    }
                }
            }
        }

        .button-viewmore {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 53px;

            .button {
                padding: 12px 24px;
                width: 126px;
                border: 1px solid #E7E7E7;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
                background: #fff;

                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                color: var(--color_3D3);
                transition: all 0.2s ease-out 0.05s;

                &:hover {
                    color: #000;
                }
            }
        }
    }
}

.hotproducts-container .hotproduct-content .hotproduct-item {}

.sec--news-list {
    padding: 0 0 24px;
    .news-container {
        margin-bottom: 0;
        @media screen and (max-width: 1440px) {
            width: calc(100% - 30px);
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media screen and (max-width: 820px) {
        padding-bottom: 0;
    }
}
.sec-hotproducts {
    padding: 56px 0;
    .hotproducts-container {
        margin-bottom: 0;
        @media screen and (max-width: 1440px) {
            width: calc(100% - 30px);
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media screen and (max-width: 820px) {
        padding: 40px 0 0;
    }
}
.sec-telecom {
    padding: 56px 0 44px;
    .news-container {
        margin-bottom: 0;
        @media screen and (max-width: 1440px) {
            width: calc(100% - 30px);
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media screen and (max-width: 820px) {
        padding: 40px 0;
    }
}
.sec-entertainment {
    padding: 56px 0 44px;
    .news-container {
        margin-bottom: 0;
        @media screen and (max-width: 1440px) {
            width: calc(100% - 30px);
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media screen and (max-width: 820px) {
        padding: 40px 0;
    }
}
.sec-sport {
    padding: 56px 0 44px;
    .news-container {
        margin-bottom: 0;
        @media screen and (max-width: 1440px) {
            width: calc(100% - 30px);
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media screen and (max-width: 820px) {
        padding: 40px 0;
    }
}
.sec-game {
    background: #F7F7F8;
    padding: 56px 0 44px;
    .news-container {
        margin-bottom: 0;
        @media screen and (max-width: 1440px) {
            width: calc(100% - 30px);
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media screen and (max-width: 820px) {
        padding: 40px 0;
    }
}
.sec-newsfpt {
    background: #F7F7F8;
    padding: 56px 0 44px;
    .news-container {
        margin-bottom: 0;
        @media screen and (max-width: 1440px) {
            width: calc(100% - 30px);
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media screen and (max-width: 820px) {
        padding: 40px 0;
    }
}

@import "./import/news-breadcrumb"; // breadcrumb news
@import "./import/news-tagsearch"; //tag

@import "../plugin/swiper/news-video"; // slide video
@import "../plugin/swiper/promotion"; // slide khuyến mãi

@import "../plugin/youtube/yt-modal.css"; // modal youtube