@media screen and (min-width: 1920px){
    .custom-banner{
        width: 1920px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .rowfull-margin{
        width: 1902px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
@media screen and (max-width: 1680px){
    .rowfull-margin{
        padding: 0 30px 60px;
    }
}
@media screen and (max-width: 1440px){
    .rowfull-margin{
        padding: 0 15px 50px;
    }
}
@media screen and (max-width: 1024px){
    .rowfull-margin{
        padding-left: 10px;
        padding-right: 10px;
    }
    .rowfull-margin .row{
        margin-right: -10px;
        margin-left: -10px;
    }    
    .cols-3links-underbanner > [class*="col-"]>a{
        padding: 15px 17px;
    }
    .custom-banner .carousel-indicators {
        text-align: center;
        padding-left: 0;
        bottom: 15px;
    }
}
/* end 1024px */
/* 991px */
@media screen and (max-width: 991px){
    .language-link{
        display: block;
        margin: 25px 0 15px 20px;
    }
    .language-link a {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        color: #2d2d2d;
        background: var(--neutral300);
        padding: 4px 10px 2px;
        font-weight: 500;
        margin-top: 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        font-size: 14px;
        line-height: 20px;
    }

    .language-link a:focus,
    .language-link a:hover,
    .language-link a.active{
        color: var(--neutral100);
        background: var(--BrandOrange);
        text-decoration: none;
    }
}
/* end 991px */
/* 768px */
@media screen and (max-width: 834px){
    .cols-3links-underbanner [class*="col-"] {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 768px){
    .row-main-banner {
        padding-top: 68px;
    }
    .carousel-indicators{
        margin: 0 15px;
        justify-content: center;
        bottom: 0px;
    }
    .cols-3links-underbanner [class*="col-"] {
        margin-bottom: 15px;
        padding-left: 0;
        padding-right: 0;
    }
    .cols-3links-underbanner {
        padding-left: 15px;
        padding-right: 15px;
    }
    .secondary-link{
        display: none;
    }
    .nav-menu > li.secondary-link_mobile{
        display: block;
    }
    .secondary-link_mobile .megamenu-list > li{
        padding-left: 20px;
    }
    .secondary-link_mobile .megamenu-list > li.language{
        margin-top: 0;
    }
    .secondary-link_mobile .megamenu-list li.language a {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        background: var(--neutral300);
        padding: 4px 10px;
        font-weight: 500;
        margin-top: 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .secondary-link_mobile .megamenu-list > li{
        margin-top: 10px;
    }
    .secondary-link_mobile .megamenu-list > li:first-child{
        margin-top: 0;
    }
    .link-footer-mobile{
        display: block;
        padding: 20px 15px 0;
    }
    .link-footer-desktop{
        display: none;
    }
    .rowfull-margin{
        padding-bottom: 30px;
    }
    .box-product-full > a > .contain-img{
        height: 490px;
    }    
    .box-product-2{
        width: 100%;
        padding-right: 15px;
    }
    .box-product-3{
        width: 100%;
        padding-left: 15px;
    }
    .box-product-full > a > .detail-link{
        bottom: 30px;
    }
    .text-pro-title{
        bottom: 75px;
    }
    .text-categories{
        bottom: 152px;
    }
    .cols-3links-underbanner > [class*="col-"]>a {
        padding: 25px 45px;
    }

    .news-items div .box-news{
        font-size: 17px;
        padding: 0;
    }
    .news-items div .box-news .box-news-gradient{
        padding-top: 308px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .box-news .box-news-gradient>.news-title{
        line-height: 23px;
        display: -webkit-box;
        max-width: 100%;
        height: 70px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .custom-banner .carousel-indicators{
        text-align: center;
        padding-left: 0;
        bottom: 15px;
    }
    .text-pro-title{
        padding: 0 36px;
    }
    .box-product-1 .text-pro-title {
        padding: 0 40px;
    }
    .news-items div .box-news {
        font-size: 18px;
    }

    /* xu ly logo o giua */
    .nav-header{
        width: 100%;
        margin: 0;
    }
    .navigation-portrait{
        position: relative;
    }
    .navigation-portrait .nav-brand{
        text-align: center;
        width: 106px;
        margin: 0 auto;
    }
    .nav-toggle{
        top: 33px;
    }
    .nav-search, .registry{
        position: absolute;
        top: 0;
    }
    .navigation-portrait .nav-search{
        padding-left: 0;
        padding-right: 0;
        left: -4px;
    }
    .nav-search > form{
        position: relative;
        top: -70px;
        width: calc(100vw - 98px);
    }
    /* //xu ly logo o giua */
    
    /* xu ly banner trang trong */
    .box-intro-large {
        margin-top: 70px;
    }
    .slider .slide_viewer{
        top: 70px;
        margin-bottom: 83px;
    }
    #back-to-top {
        bottom: 42px;
    }
    .always-on {
        bottom: 110px;
    }
    .custom-banner .carousel-indicators li {
        width: 9px;
        height: 9px;
    }
    .custom-banner .carousel-indicators li.active {
        width: 30px;
    }
}/* end 768px */

@media only screen and (min-width:640px) and (max-width:736px){
    .text-categories {
        bottom: 115px;
    }
    .text-pro-title {
        font-size: 26px;
        height: 86px;
        bottom: 45px;
        padding: 0 40px;
    }
    .text-pro-title>p {
        height: 33px;
        line-height: 33px;
    }
    
    .tab__content.tab-news [class*="col-"]:nth-of-type(1) {
        width: 100%;        
        padding-left: 10px;
        padding-right: 10px;
    }
    .tab__content.tab-news [class*="col-"]:nth-of-type(2),
    .tab__content.tab-news [class*="col-"] {
        width: calc(50% - 2px);        
        display: inline-block;
    }
    .tab__content.tab-news .box-news-2,
    .tab__content.tab-news .box-news-4{
        padding-right: 5px;
        padding-left: 10px
    }
    .tab__content.tab-news .box-news-3,
    .tab__content.tab-news .box-news-5{
        padding-left: 5px;
        padding-right: 10px;
    }
    .news-items div.box-news-2 .box-news,
    .news-items div.box-news-3 .box-news,
    .news-items div.box-news-4 .box-news,
    .news-items div.box-news-5 .box-news{
        height: 222px;
    }
    .news-items div .box-news .box-news-gradient {
        padding-top: 158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .news-items div.box-news-1 .box-news .box-news-gradient{
        padding-top: 308px
    }
    .news-items div.box-news-1 .box-news .box-news-gradient>.news-title{
        font-size: 20px;
        line-height: 27px;
        height: 54px;
        -webkit-line-clamp: 4;
    }
    .cols-3links-underbanner > [class*="col-"]>a {
        padding: 28px 70px;
    }
    .box-product-full > a > .contain-img {
        height: 396px;
    }
    .text-pro-title {
        bottom: 30px;
    }

    .slider .slide_viewer{
        top: 70px;
        margin-bottom: 83px;
    }
}
/* //736px */
/* 540px */
@media screen and (max-width: 540px){
    .tab__content.tab-news [class*="col-"]:nth-of-type(1),
    .tab__content.tab-news [class*="col-"]:nth-of-type(2),
    .tab__content.tab-news [class*="col-"]:nth-of-type(3),
    .tab__content.tab-news [class*="col-"]:nth-of-type(4),
    .tab__content.tab-news [class*="col-"]:nth-of-type(5){
        max-width: 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .cols-3links-underbanner {
        padding-left: 10px;
        padding-right: 10px;
    }
    .box-products [class*="box-product-"]{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100% - 10px);
    }
    .tab__content.tab-news [class*="col-"]:nth-of-type(1),
    .tab__content.tab-news [class*="col-"]:nth-of-type(2){
        width: 100%;
    }
    .news-items div:nth-of-type(1) .box-news{
        height: 340px;
    }
    .news-items div .box-news {
        height: 145px;
    }
    .news-items div .box-news>a>span{
        display: inline-block;
        width: 220px;
        height: 100%;
    }
    .news-items div:nth-of-type(1) .box-news>a>span{
        width: 100%;
    }

    .news-items div .box-news .box-news-gradient {
        padding-top: 0px;
        background: none;
        color: var(--neutral900);
        left: 220px;
        width: auto;
        padding-left: 12px;
        padding-right: 0px;
    }
    .news-items div:nth-of-type(1) .box-news .box-news-gradient {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent, rgba(0,0,0,.8)) no-repeat bottom;
        background-size: 100% 50%;
        padding-top: 270px;
        padding-left: 20px;
        padding-right: 20px;
        color: var(--neutral100);
    }
    .news-items div .box-news>a img{
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    /* sau khi them font mÆ¡i */
    .news-items div .box-news .box-news-gradient .labe-category-m,
    .news-items div .box-news .box-news-gradient .labe-new-m{
        display: inline-block;
    }
    .news-items div .box-news .box-news-gradient .labe-category,
    .news-items div .box-news .box-news-gradient .labe-new{
        display: none;
    }
    .news-items div:nth-of-type(1) .box-news .box-news-gradient .labe-category,
    .news-items div:nth-of-type(1) .box-news .box-news-gradient .labe-new{
        /* display: inline-block; */
        display: none;
    }
    .box-news .box-news-gradient>.news-title{
        height: 64px;
        margin-bottom: 10px
    }
    .news-items div .box-news .box-news-gradient .labe-category-m{
        background: var(--neutral300);
        padding: 5px 6px;
    }
    .news-items div .box-news .box-news-gradient .labe-new-m{
        padding: 5px 6px;
    }
    .custom-banner {
        /* margin-top: 70px; */
    }
    .news-items div .box-news .box-news-gradient>.news-title {
        line-height: 21px;
        font-size: 17px;
    }
    .news-items div:first-child .box-news .box-news-gradient>.news-title {
        line-height: 26px;
        font-size: 18px;
        -webkit-line-clamp: 4;
        height: 50px;
    }
    .box-product-full > a > .contain-img {
        height: 500px;
    }
    .text-categories{
        bottom: 147px;
    }
    .box-product-1 .text-pro-title,
    .text-pro-title {
        padding: 0 20px;
        font-size: 27px;
        height: 82px;
        bottom: 73px;
    }
    .box-product-1 .text-pro-title>p,
    .text-pro-title>p {
        height: 188px;
        line-height: 35px;
        max-height: 67px;
    }
    .always-on {
        bottom: 105px;
    }
    #back-to-top{
        bottom: 37px
    }
    .cols-3links-underbanner > [class*="col-"]>a {
        padding: 23px 40px;
    }
    .box-product-full > a > .detail-link {
        bottom: 18px;
    }
    .link-footer-mobile {
        padding: 20px 10px 0;
    }
    .slider .slide_viewer{
        top: 70px;
        margin-bottom: 83px;
    }
}/* end 540px */
/* 479 */
@media screen and (max-width: 479px){
    .rowfull-margin {
        padding-left: 0;
        padding-right: 0;
    }
    .rowfull-margin .row{
        margin-left: 0;
        margin-right: 0;
    }
    .carousel-indicators{
        margin-left: 20px;
        margin-right: 20px;
        justify-content: center;
        bottom: 0px;
        margin-bottom: 0;
    }
    .row-headmenu.headmenu{
        margin-left: 10px;
        margin-right: 10px;
    }
    .cols-3links-underbanner,
    .row-rs{
        margin-left: 0;
        margin-right: 0;
    }
    .cols-3links-underbanner [class*="col-"]{
        margin-bottom: 15px;
        padding-left: 0;
        padding-right: 0;
    }
    .box-product-2,
    .box-product-3{
        padding-left: 15px;
        padding-right: 15px;
    }
    .box-product-full > a > .contain-img {
        height: 450px;
    }

    /* .tab__content.tab-news [class*="col-"]:nth-of-type(2) */
    .tab__content.tab-news [class*="col-"]:nth-of-type(1){
        width: 100%;
    }

    .tab_header_news>div{
        font-size: 15px;
        width: auto;
        padding: 6px 16px;
        margin-left: 2px;
        margin-right: 2px;
        font-weight: 500;
    }
    .tab-news .row{
        margin-left: 0;
        margin-right: 0;
    }

    .box-products>[class*="box-product-"]{
        /* padding-left: 10px;
        padding-right: 10px; */
    }
    .news-items div:first-child .box-news{
        height: 230px;
    }
    .news-items div .box-news{
        height: 115px;
    }
    .news-items div:first-child .box-news .box-news-gradient{
        padding-top: 145px;
        padding-left: 15px;
        padding-right: 15px;
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, transparent, rgba(0,0,0,.8)) no-repeat bottom;
        color: var(--neutral100);
    }
    
    .news-items div .box-news .box-news-gradient{
        padding-top: 0px;
        background: none;
        color: var(--neutral900);
        left: 165px;
        width: auto;
        padding-left: 12px;
        padding-right: 0px;
    }
    .box-news-1,
    .box-news-2,
    .box-news-3,
    .box-news-4,
    .box-news-5{
        padding-left: 10px;
        padding-right: 10px;
    }
    .news-items div:first-child .box-news>a>span{
        width: 100%;
        height: 100%;
        display: block;
    }
    .news-items div .box-news>a>span{
        display: inline-block;
        width: 165px;
        height: 115px;
    }
    .news-items div:first-child .box-news .box-news-gradient>.news-title {
        line-height: 23px;
        font-size: 18px;
    }
    .news-items div .box-news .box-news-gradient>.news-title {
        line-height: 21px;
        font-size: 17px;
        padding-bottom: 8px;
        height: 63px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .news-items div:first-child .box-news .box-news-gradient .labe-category,
    .news-items div:first-child .box-news .box-news-gradient .labe-new{
        /* display: inline-block; */
        display: none;
    }
    .news-items div .box-news .box-news-gradient .labe-category,
    .news-items div .box-news .box-news-gradient .labe-new{
        display: none;
    }
    .news-items div .box-news .box-news-gradient .labe-category-m,
    .news-items div .box-news .box-news-gradient .labe-new-m{
        display: inline-block;
        color: var(--neutral100);
        font-weight: 500;
        margin-top: 10px;
    }
    .news-items div .box-news .box-news-gradient .labe-category-m{
        background: var(--gray5);
        color: var(--gray2);
    }
    .news-items div:first-child .box-news img{
        border-radius: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        -ms-border-radius: unset;
        -o-border-radius: unset;
    }
    .news-items div .box-news>a img{
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .box-news .box-news-gradient>.news-title{
        height: 62px;
    }
    .news-items div:first-child .box-news .box-news-gradient>.news-title{
        height: 70px;
    }
    
    #back-to-top{
        bottom: 44px;
        right: 10px;
        width: 52px;
        height: 52px;
    }
    #back-to-top>img {
        width: 30px;
    }
    .always-on{
        position: fixed;
        bottom: 100px;
    }
    .always-on>div.group-cart,
    .always-on>div.group-call,
    .always-on>div.group-chat {
        position: unset;
        border-radius: 50%;
    }
    .always-on>div img {
        width: 30px;
    }
    /* xu ly logo o giua */
    .nav-header{
        width: 100%;
        margin: 0;
    }
    .navigation-portrait{
        position: relative;
    }
    .navigation-portrait .nav-brand{
        text-align: center;
        width: 106px;
        margin: 0 auto;
    }
    .nav-toggle{
        top: 33px;
    }
    .nav-search, .registry{
        position: absolute;
        top: 0;
    }
    .navigation-portrait .nav-search{
        padding-left: 0;
        padding-right: 0;
        left: -4px;
    }
    .nav-search > form{
        position: relative;
        top: -70px;
        width: calc(100vw - 12px);
    }
    /* //xu ly logo o giua */
    .cols-3links-underbanner > [class*="col-"]>a {
        padding: 20px 20px;
    }

    .text-categories {
        bottom: 135px;
    }
    .box-product-1 .text-pro-title,
    .text-pro-title {
        padding: 0 20px;
        font-size: 27px;
        height: 82px;
        bottom: 63px;
    }
    .box-product-1 .text-pro-title>p,
    .text-pro-title>p {
        height: 67px;
        line-height: 34px;
        max-height: 67px;
        font-size: 26px;
    }

}

/* end 479 */