@charset "UTF-8";

:root {
  --Primary: #3D3D3D;
  --BluePrimary: #4564ED;
  --Blue100: #DDE4FC;
  --Blue900: #191E67;
  --Orange: #FF701D;
}

.disable_scroll_body {
  overflow: hidden;
}

.header-menu {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 1px 2px 0 rgba(66, 66, 66, 0.3);
}

.header-menu .header-top {
  background: #191E67;
  height: 36px;
}

.header-menu .header-top .head-top--contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-menu .header-top .head-top--contain .links-top {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 32px;
}

.header-menu .header-top .head-top--contain .links-top li {
  list-style: none;
  margin: 0;
}

.header-menu .header-top .head-top--contain .links-top li a {
  color: #dde4fc;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.header-menu .header-top .head-top--contain .links-top li a.active,
.header-menu .header-top .head-top--contain .links-top li a:hover,
.header-menu .header-top .head-top--contain .links-top li a:active {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.header-menu .header-top .head-top--contain .col-head-login {
  position: relative;
  width: 60%;
  height: 100%;
}

.header-menu .header-top .head-top--contain .login {
  border-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: right;
  line-height: 36px;
}

.header-menu .header-top .head-top--contain .login a {
  color: var(--Blue100);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.header-menu .header-top .head-top--contain .login a:hover {
  text-decoration: none;
}

.header-menu .header-top .head-top--contain .login a .icon-profile {
  margin-right: 8px;
  width: 20px;
}

.header-menu .header-top .head-top--contain .login._has-login {
  position: absolute;
  right: 0;
  line-height: 36px;
  z-index: 100000;
  top: -12px;
}

.header-menu .header-top .head-top--contain .login._has-login .dropdown-toggle,
.header-menu .header-top .head-top--contain .login._has-login .dropdown-toggle:hover,
.header-menu .header-top .head-top--contain .login._has-login .dropdown-toggle:focus {
  text-decoration: none;
  border-bottom: 0px;
  margin-right: 0;
  display: flex;
  align-items: center;
  height: 57px;
  background: none;
  color: var(--Blue100);
}

.header-menu .header-top .head-top--contain .login._has-login .dropdown-toggle .caret {
  width: 20px;
  height: 20px;
  background: url(../images/menu-arrow-white.svg) no-repeat center 2px/20px 20px;
  display: inline-block;
  border: none;
  margin: 0 0 0 8px;
}

.header-menu .header-top .head-top--contain .login._has-login .fid {
  left: unset;
  position: absolute;
  right: 0;
  margin: 0;
  border-radius: 0px 0px 16px 16px;
  border: 1px solid #EAECF0;
  background: #FFF;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  width: 400px;
  padding: 0;
  top: 48px;
  padding: 24px;
}

.header-menu .header-top .head-top--contain .login._has-login .fid .fid--info {
  margin-bottom: 20px;
  text-align: left;
}

.header-menu .header-top .head-top--contain .login._has-login .fid .fid--info div {
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid #D1D1D1;
  line-height: 22px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  color: #3D3D3D;
  width: 100%;
  display: block;
}

.header-menu .header-top .head-top--contain .login._has-login .fid .fid--info p,
.header-menu .header-top .head-top--contain .login._has-login .fid .fid--info span {
  line-height: 22px;
  font-weight: 400;
  color: #888888;
  padding-bottom: 8px;
  margin: 0;
}

.header-menu .header-top .head-top--contain .login._has-login .fid li {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
}

.header-menu .header-top .head-top--contain .login._has-login .fid li a {
  padding: 0px 24px;
  line-height: 46px;
  color: #3D3D3D;
  border: 1.5px solid #D1D1D1;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
}

.header-menu .header-top .head-top--contain .login._has-login .fid li a.logout {
  background: #F5F5F5;
  border: 1.5px solid #F5F5F5;
}

.header-menu .header-top .head-top--contain .login._has-login .fid li a.info-acc {
  background: #4564ED;
  color: #fff;
  border: 1px solid #4564ED;
}

.header-menu .header-top .head-top--contain .login._has-login .fid li:nth-last-child(1) {
  margin-bottom: 0;
}

.menu-links .login-mobiles {
  display: none;
}

.menu-links .logout-mobiles {
  display: none;
}

.div_logout-mobile .logout-mobiles {
  display: none;
}

.nav>li.dropdown.open {
  position: static;
}

.nav>li.dropdown.open .dropdown-menu {
  display: flex;
  flex-wrap: wrap;
  border-radius: 0px;
  width: 100%;
  left: 0;
  right: 0;
}

.headmenu-width {
  width: 1440px;
  margin: 0 auto;
}

.headmenu-width .menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
  max-width: 100%;
  height: 70px;
  position: relative;
  background: transparent;
}

.headmenu-width .menu-container .nav-logofpt .navbar-brand {
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

.headmenu-width .menu-container .nav-logofpt .navbar-brand a img {
  height: 36px;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li.second-link_mobile {
  display: none;
}

.headmenu-width .menu-container .menu-links.collapsing {
  transition: 0ms;
}

.headmenu-width .menu-container .menu-links.navbar-collapse {
  border-top: 0;
  margin: 0 auto;
  padding: 0;
  height: auto;
}

.headmenu-width .menu-container .menu-links.navbar-collapse.in {
  transition-duration: 0s;
  background: #fff;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li>.dropdown-menu {
  padding: 40px 40px 0;
  border: 0;
  background-color: #fdfdfd;
  top: 100%;
  border-top: 1px solid #f0f0f0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.075);
  -webkit-border-bottom-right-radius: 16px;
  -webkit-border-bottom-left-radius: 16px;
  -moz-border-radius-bottomright: 16px;
  -moz-border-radius-bottomleft: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li>.dropdown-menu>li {
  min-height: 50px;
  line-height: 50px;
  padding-bottom: 40px;
  flex: 0 0 25%;
  box-sizing: border-box;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li>.dropdown-menu>li a {
  padding: 0;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li>.dropdown-menu>li a:focus,
.headmenu-width .menu-container .menu-links .navbar-nav>li>.dropdown-menu>li a:hover {
  background: none;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li>.dropdown-menu>li a.title-product-mn {
  font-weight: 600;
  width: 100%;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #3D3D3D;
  margin-bottom: 24px;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li>.dropdown-menu>li a.title-product-mn .title-product {
  font-size: 16px;
  font-weight: 600;
  color: #3D3D3D;
  padding-left: 18px;
  line-height: 28px;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li>.dropdown-menu>li a.title-product-mn .icon-product img {
  width: 28px;
  height: 28px;
  -o-object-fit: contain;
  object-fit: contain;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li>.dropdown-menu>li .list-child-menu {
  padding: 0;
  margin: 0;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li>.dropdown-menu>li .list-child-menu li {
  list-style: none;
  line-height: 22px;
  padding: 0px 15px 0px 0;
  margin-bottom: 12px;
  padding-left: 46px;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li>.dropdown-menu>li .list-child-menu li:nth-last-child(1) {
  margin-bottom: 0;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li>.dropdown-menu>li .list-child-menu li a {
  color: #2d2d2d;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li>.dropdown-menu>li .list-child-menu li a:hover,
.headmenu-width .menu-container .menu-links .navbar-nav>li>.dropdown-menu>li .list-child-menu li a:active {
  color: var(--Orange);
  text-decoration: none;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li a {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  color: var(--Primary);
}

.headmenu-width .menu-container .menu-links .navbar-nav>li a .icon-dropdown-mn {
  background: url("../images/icon-drop-menu.svg") left 2px no-repeat;
  background-size: 40px;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  display: inline-block;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li.active>a,
.headmenu-width .menu-container .menu-links .navbar-nav>li a:focus,
.headmenu-width .menu-container .menu-links .navbar-nav>li a:hover,
.headmenu-width .menu-container .menu-links .navbar-nav>li.open>a,
.headmenu-width .menu-container .menu-links .navbar-nav>li.open>a:focus,
.headmenu-width .menu-container .menu-links .navbar-nav>li.open>a:hover {
  color: #000;
  background: none;
  box-shadow: none;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li.active>a .icon-dropdown-mn,
.headmenu-width .menu-container .menu-links .navbar-nav>li a:focus .icon-dropdown-mn,
.headmenu-width .menu-container .menu-links .navbar-nav>li a:hover .icon-dropdown-mn,
.headmenu-width .menu-container .menu-links .navbar-nav>li.open>a .icon-dropdown-mn,
.headmenu-width .menu-container .menu-links .navbar-nav>li.open>a:focus .icon-dropdown-mn,
.headmenu-width .menu-container .menu-links .navbar-nav>li.open>a:hover .icon-dropdown-mn {
  background: url("../images/icon-drop-menu.svg") right 2px no-repeat;
}

.headmenu-width .menu-container .nav--search-menu {
  padding: 5px 0;
  right: 0;
  z-index: 10;
  height: 70px;
  display: flex;
  align-items: center;
}

.headmenu-width .menu-container .nav--search-menu #toggle-search {
  background: #eee;
  background: url("../images/icon-search.svg") -5px center no-repeat;
  background-size: auto 44px;
  width: 30px;
  height: 50px;
  border: 0;
}

.headmenu-width .menu-container .nav--search-menu #toggle-search.btn-search-close {
  background: url("../images/icon-search.svg") calc(100% + 8px) center no-repeat;
  background-size: auto 44px;
  width: 44px;
  width: 30px;
  height: 50px;
}

.headmenu-width .menu-container .search-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.headmenu-width .menu-container .search-bar .text-search {
  width: calc(100% - 38px);
  height: 100%;
  border: none;
  font-size: 26px;
  color: #343a40;
  text-align: center;
  font-weight: 500;
}

.headmenu-width .menu-container .search-bar .text-search:focus {
  border: none;
  outline: none;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li.other-link {
  position: relative;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li.other-link .dropdown-menu li {
  padding: 0;
  line-height: 26px;
  min-height: auto;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li.other-link .dropdown-menu li .title-product-mn {
  padding: 6px 0;
  line-height: 26px;
  margin-bottom: 0;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li.other-link .dropdown-menu li .title-product-mn .icon-product {
  display: none;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li.other-link .dropdown-menu li .title-product-mn .title-product {
  padding-left: 0;
}

.headmenu-width .menu-container .menu-links .navbar-nav>li.other-link .dropdown-menu li .title-product-mn .title-product:hover,
.headmenu-width .menu-container .menu-links .navbar-nav>li.other-link .dropdown-menu li .title-product-mn .title-product:active,
.headmenu-width .menu-container .menu-links .navbar-nav>li.other-link .dropdown-menu li .title-product-mn .title-product:focus {
  color: var(--Orange);
}

.headmenu-width .menu-container .menu-links .navbar-nav>li.other-link.dropdown.open .dropdown-menu {
  padding: 16px 24px;
  display: block;
  width: 250px;
  left: auto;
  right: 0;
  top: calc(100% - 0px);
}

@media screen and (max-width: 991px) {
  .headmenu-width .menu-container .menu-links .navbar-nav>li.other-link.dropdown.open .dropdown-menu {
    padding: 0 0 0 20px;
  }

  .headmenu-width .menu-container .menu-links .navbar-nav>li.other-link.dropdown.open .dropdown-menu li:nth-of-type(1) a {
    padding-top: 0;
  }
}

.menu-head.navbar-default {
  background: none;
  box-shadow: none !important;
  border-bottom: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .header-top {
    display: none;
  }

  .menu-links .login-mobiles {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    display: inline-block;
    background: #fff;
  }

  .menu-links .login-mobiles a.login {
    display: flex;
    align-items: center;
    color: var(--primary);
    font-size: 16px;
    font-weight: 600;
    line-height: 70px;
  }

  .menu-links .login-mobiles a.login img {
    margin-right: 7px;
    width: 22px;
  }

  .menu-links .login-mobiles a.login:hover,
  .menu-links .login-mobiles a.login:focus {
    text-decoration: none;
  }

  .menu-links .login-mobiles::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 1px;
    width: calc(100% - 30px);
    bottom: 0;
    background: #E7E7E7;
  }

  .menu-links .login-mobiles .mobile-fid--info {
    padding-top: 20px;
    border-top: 1px solid #E7E7E7;
  }

  .menu-links .login-mobiles .mobile-fid--info p,
  .menu-links .login-mobiles .mobile-fid--info span {
    line-height: 22px;
    font-weight: 400;
    color: #888888;
    padding-bottom: 8px;
    margin: 0;
  }

  .menu-links .login-mobiles .mobile-fid--info a.link-contracts,
  .menu-links .login-mobiles .mobile-fid--info a.link-contracts:focus,
  .menu-links .login-mobiles .mobile-fid--info a.link-contracts:active,
  .menu-links .login-mobiles .mobile-fid--info a.link-contracts:hover {
    padding: 0px 24px;
    line-height: 46px;
    color: #3D3D3D;
    border: 1px solid #D1D1D1;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    text-decoration: none;
  }

  .menu-links .login-mobiles .mobile-fid--info a.link-contracts.btn_blue {
    background: #4564ED;
    color: #fff;
    border: 1px solid #4564ED;
  }

  .menu-links .logout-mobiles {
    position: fixed;
    bottom: 0;
    width: calc(100% - 30px);
    z-index: 20001;
    background: #fff;
    display: block;
  }

  .menu-links .logout-mobiles .row-logout-mobile {
    margin-bottom: 0;
    margin-top: 0;
  }

  .menu-links .logout-mobiles .row-logout-mobile a {
    line-height: 70px;
    width: calc(100% - 26px);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E7E7E7;
    color: var(--Primary);
    font-weight: 600;
    font-size: 16px;
  }

  .menu-links .logout-mobiles .row-logout-mobile a:hover,
  .menu-links .logout-mobiles .row-logout-mobile a:active,
  .menu-links .logout-mobiles .row-logout-mobile a:focus {
    text-decoration: none;
    color: #000;
  }

  .div_logout-mobile .logout-mobiles {
    position: fixed;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
    z-index: 20001;
    background: #fff;
  }

  .div_logout-mobile .logout-mobiles .row-logout-mobile {
    margin-bottom: 0;
    margin-top: 0;
  }

  .div_logout-mobile .logout-mobiles .row-logout-mobile a {
    line-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E7E7E7;
    color: var(--Primary);
    font-weight: 600;
    font-size: 16px;
  }

  .div_logout-mobile .logout-mobiles .row-logout-mobile a:hover,
  .div_logout-mobile .logout-mobiles .row-logout-mobile a:active,
  .div_logout-mobile .logout-mobiles .row-logout-mobile a:focus {
    text-decoration: none;
    color: #000;
  }

  .div_logout-mobile .logout-mobiles.show_logout {
    display: block;
  }
}

@media screen and (min-width: 1441px) {
  .header-menu .header-top .head-top--contain {
    width: 1440px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1440px) {
  .header-menu .header-top {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-menu .header-top .head-top--contain {
    width: 100%;
  }

  .headmenu-width {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1120px) {
  .headmenu-width .menu-container .menu-links .navbar-nav>li a {
    padding-left: calc(3vw - 5px);
    padding-right: calc(3vw - 5px);
  }
}

@media (max-width: 991px) {
  .headmenu-width {
    padding: 0;
  }

  .headmenu-width .menu-container .menu-links .navbar-nav>li.second-link_mobile {
    display: block;
  }

  .headmenu-width .menu-container .menu-links .navbar-nav>li a {
    padding: 15px 5px 15px 0;
    line-height: 1;
    position: relative;
  }

  .headmenu-width .menu-container .menu-links .navbar-nav>li a .icon-dropdown-mn {
    position: absolute;
    right: 0px;
    background-position: left 2px;
  }

  .headmenu-width .menu-container .menu-links .navbar-nav>li.open a .icon-dropdown-mn {
    transform: rotate(-90deg);
  }

  .nav-logofpt .navbar-brand {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-logofpt .navbar-toggle .icon-hamburger {
    background: url("https://fpt.vn/fontend_v2.0_2024/assets/images/nav-toggle-icon.svg") center 5px no-repeat;
    /* Đường dẫn icon hamburger */
    background-size: cover;
    width: 24px;
    height: 24px;
    margin: 0;
  }

  .nav-logofpt .navbar-toggle .icon-close {
    background: url("../images/icon-search.svg") calc(100% + 8px) -4px no-repeat;
    /* icon close */
    background-size: auto 44px;
    width: 30px;
    height: 44px;
    margin: 0;
  }

  .nav-logofpt .navbar-toggle:focus,
  .nav-logofpt .navbar-toggle:hover {
    background-color: transparent;
  }

  .headmenu-width .menu-container .nav--search-menu {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 62px;
  }

  .headmenu-width .menu-container .nav--search-menu #toggle-search {
    width: 50px;
    background-position: 2px center;
  }

  .headmenu-width .menu-container .search-bar {
    left: 47px;
    width: calc(100% - 55px);
  }

  .headmenu-width .menu-container .menu-links .navbar-nav {
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding: 20px 15px 0;
    position: relative;
    margin: 0 0 260px;
  }

  .headmenu-width .menu-container .menu-links .navbar-nav::after {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 30vh;
    left: 0;
    background: #fff;
  }

  .headmenu-width .menu-container .menu-links .navbar-nav li>.dropdown-menu {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    padding: 0 0 0 15px;
    background: #fff;
    border-top: 0;
  }

  .headmenu-width .menu-container .menu-links .navbar-nav li>.dropdown-menu>li {
    flex: 0 0 100%;
    padding-bottom: 10px;
  }

  .headmenu-width .menu-container .menu-links.navbar-collapse.collapse.in {
    height: 100vh !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    position: relative;
  }

  .headmenu-width .menu-container .menu-links.navbar-collapse.collapse.in::-webkit-scrollbar {
    height: 0px;
    width: 0px;
  }

  .headmenu-width .menu-container .menu-links.navbar-collapse.collapse.in::-webkit-scrollbar-track {
    background-color: rgba(209, 213, 219, 0);
  }

  .headmenu-width .menu-container .menu-links.navbar-collapse.collapse.in::-webkit-scrollbar-thumb {
    background: rgba(231, 231, 231, 0);
    border-radius: 12px;
  }

  .headmenu-width .menu-container .menu-links.navbar-collapse.collapse.in:hover::-webkit-scrollbar-thumb {
    background: rgba(231, 231, 231, 0.5);
  }
}

@media screen and (max-width: 767px) {
  .dropdown-menu>li {
    display: block;
  }

  .headmenu-width .menu-container {
    display: block;
  }

  .headmenu-width .menu-container .menu-links.navbar-collapse.collapse.in {
    overflow-x: hidden;
  }

  .menu-head.navbar-default .navbar-nav>.open>a,
  .menu-head.navbar-default .navbar-nav>.open>a:focus,
  .menu-head.navbar-default .navbar-nav>.open>a:hover {
    background: transparent;
  }

  .menu-head .container-fluid>.navbar-collapse,
  .menu-head .container-fluid>.navbar-header,
  .menu-head .container>.navbar-collapse,
  .menu-head .container>.navbar-header {
    margin: 0;
  }
}

@media (max-width: 991px) {
  .navbar-header.nav-logofpt {
    float: none;
    border-bottom: 1px solid #E7E7E7;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .nav-logofpt .navbar-toggle {
    display: block;
    height: 54px;
    margin-right: 0;
    background-color: transparent;
    border: none;
    padding-right: 13px;
    display: flex;
    justify-content: right;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav>li {
    float: none;
  }

  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }

  .headmenu-width .menu-container {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .dropdown-menu>li {
    display: block;
  }
}