
/* end 647px */
@media screen and (min-height: 600px) and (max-height: 647px) {
    
    .flex-options._sec_3 div.s3_row_1 {
        padding: 12px 0 20px;
    }
    .options .option {
        /* width: 22%; */
    }
    .text-highlight.sec3_head_title{
        font-size: 36px;
    }
    .text-highlight.sec3_head_title small::after{
        background-size: 130px;
    }

    .flex-options._sec_3 div.s3_row_1{
        height: 10vh;
        padding: 8px 0 16px;
    }
    .flex-options._sec_3 div.s3_row_2 {
        
    }
    .options {
        height: calc(76vh - 94px);
        margin-top: 3vh;
    }
    .options .option {
        /* width: 24%; */
    }
    .options .option .label_s p{
        font-size: 25px;
        line-height: 1.2;
    }
    
    .animated-accordion .accordion-image-wrap .image-slide.active .img-1, 
    .animated-accordion .accordion-image-wrap .image-slide.active .img-2 {
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -o-transform: scale(.8);
        -ms-transform: scale(.8);
        transform: scale(.8)
    }
    .animated-accordion .accordion-image-wrap .image-slide.active .img-1, 
    .animated-accordion .accordion-image-wrap .image-slide.active .img-2 {
        left: calc(50% - 168px);
        top: calc(50% - 259px);
    }
    @keyframes move_icon1 {
        to {
          left: calc(50% + 100px);
          top: calc(50% - 330px);
          transform:translate(0%, 0%) rotateZ(-15deg);
          -webkit-transform: scale(.7);
            -moz-transform: scale(.7);
            -o-transform: scale(.7);
            -ms-transform: scale(.7);
            transform: scale(.7)
        }
        
    }
    @keyframes move_icon2 {
        to {
          left: calc(50% - 300px);
          top: calc(50% - 75px);
          transform:translate(0%, 0%) rotateZ(-60deg);
          -webkit-transform: scale(.7);
            -moz-transform: scale(.7);
            -o-transform: scale(.7);
            -ms-transform: scale(.7);
            transform: scale(.7)
        }
    }
    @keyframes move_icon3 {
        to {
          left: calc(50% + 120px);
          top: calc(50% + 170px);
          transform:translate(0%, 0%) rotateZ(0deg);
          -webkit-transform: scale(.7);
          -moz-transform: scale(.7);
          -o-transform: scale(.7);
          -ms-transform: scale(.7);
          transform: scale(.7)
        }
    }

    .text-highlight-1.sec4_title {
        font-size: 26px;
        line-height: 32px;
        padding-bottom: 10px;
    }
    .sec4 .heading-1 {
        padding-top: 20px;
    }
    ._sec4.heading-1 p.p_description {
        line-height: 22px;
        padding-bottom: 4px;
    }
    .sec4.animated-accordion .accordion-sections li {
        padding: 0px 14px;
        margin-bottom: 10px;
    }
    .sec4 .accordion-sections .acc-content p {
        padding-bottom: 6px;
        line-height: 16px;
    }
    .sec4.animated-accordion .accordion-sections {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .text-highlight-1.sec4_title small::after {
        background-size: 120px;
        top: calc(50% - 39px);
    }
    .animated-accordion .accordion-image-wrap .image-slide.active .img-1, 
    .animated-accordion .accordion-image-wrap .image-slide.active .img-2 {
        left: calc(50% - 168px);
        top: calc(50% - 284px);
    }

    .pad-heading.row-huong-dan{
        /* padding-left: 7%;
        padding-right: 7%; */
        padding-bottom: 30px;
    }
    .text-highlight._step3{
        font-size: 36px;
        line-height: 46px;
    }
    .text-highlight._step3 small::after {
        background-size: 127px;
    }
    .title-center h4{
        font-size: 38px;
    }
    .animated-accordion .accordion-sections li .acc-title {
        padding: 8px 0;
    }
    .animated-accordion .accordion-sections li.active .acc-title {
        padding-bottom: 6px;
    }
    .animated-accordion .accordion-sections li .acc-title::after{
        top: 13px
    }
}
@media (max-height: 790px), screen and (orientation: portrait) {
/* @media screen and (min-height: 645px) and (max-height: 780px) { */
    
}
@media screen and (min-height: 648px) and (max-height: 790px) {
    .text-highlight-1.sec4_title {
        font-size: 26px;
        line-height: 32px;
        padding-bottom: 10px;
    }

    .flex-options._sec_3 div.s3_row_1 {
        height: 12vh;
        padding: 16px 0;
        align-items: center;
    }
    .flex-options._sec_3 div.s3_row_2 {
    }
    .options {
        height: calc(82vh - 78px);
        width: calc(100% - 70px);
    }
    .options .option.active .label_s {
        /* height: 230px; */
        /* height: 34%; */
    }
    .options .option{
        /* width: 21%; */
    }
    .options .option .label_s p{
        font-size: 25px;
    }



    .animated-accordion .accordion-image-wrap .image-slide.active .img-1, 
    .animated-accordion .accordion-image-wrap .image-slide.active .img-2 {
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -o-transform: scale(.8);
        -ms-transform: scale(.8);
        transform: scale(.8)
    }
    .block-heading._sec_1_head .head-content div:nth-of-type(2) {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    /* .text-highlight-1.sec4_title {
        font-size: 32px;
        line-height: 36px;
        padding-bottom: 12px;
    } */
    .text-highlight-1.sec4_title {
        font-size: 26px;
        line-height: 32px;
        padding-bottom: 10px;
    }
    .animated-accordion .accordion-sections li .acc-title {
        padding: 8px 0;
    }
    .sec4 .heading-1 {
        padding-top: 22px;
        padding-bottom: 4px;
    }
    .sec4 .heading-1 p {
        line-height: 20px;
    }
    .text-highlight-1.sec4_title small::after{
        background-size: 140px;
        top: calc(50% - 39px);
    }
    .sec4.animated-accordion .accordion-sections {
        padding-top: 16px;
        padding-bottom: 12px;
    }
    .sec4.animated-accordion .accordion-sections li {
        padding: 0px 16px;
        margin-bottom: 8px;
    }
    .accordion-sections .acc-content div {
        margin-bottom: 4px;
    }
    .animated-accordion .accordion-image-wrap .image-slide.active .img-1, 
    .animated-accordion .accordion-image-wrap .image-slide.active .img-2 {
        top: calc(50% - 272px);
    }

    @keyframes move_icon1 {
        to {
          left: calc(50% + 100px);
          top: calc(50% - 320px);
          transform:translate(0%, 0%) rotateZ(-15deg);
          -webkit-transform: scale(.7);
          -moz-transform: scale(.7);
          -o-transform: scale(.7);
          -ms-transform: scale(.7);
          transform: scale(.7)
        }
    }
    @keyframes move_icon2 {
        to {
          left: calc(50% - 300px);
          top: calc(50% - 105px);
          transform:translate(0%, 0%) rotateZ(-60deg);
          -webkit-transform: scale(.9);
            -moz-transform: scale(.9);
            -o-transform: scale(.9);
            -ms-transform: scale(.9);
            transform: scale(.9)
        }
    }
    @keyframes move_icon3 {
        to {
          left: calc(50% + 120px);
          top: calc(50% + 180px);
          transform:translate(0%, 0%) rotateZ(0deg);
          -webkit-transform: scale(.7);
          -moz-transform: scale(.7);
          -o-transform: scale(.7);
          -ms-transform: scale(.7);
          transform: scale(.7)
        }
      }
}
@media screen and (min-height: 980px) {
    .block-heading._sec_1_head{
        height: calc(65vh - 150px);
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .section--fullscreen .img_youtube{
        height: 35vh;
    }
    .flex-options._sec_3 div.s3_row_1 {
        padding-bottom: 80px;
        padding-top: 0;
    }
}

@media screen and (max-height: 647px) {
    .block-heading{
        height: calc(62vh - 70px);
        padding: 0;
    }
    .block-heading._sec_1_head .title-heading{
        /* font-size: 44px; */
        line-height: 1.2;
    }
    .title-highlight-1 small::after {
        background-size: 164px;
    }
    .block-heading._sec_1_head .p_description{
        font-size: 15px;
    }
    .block-heading._sec_1_head .head-content div:nth-of-type(2) {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .section--fullscreen .img_youtube{
        height: 38vh;
    }
    .video-foreground {
        height: 119%;
        top: -120px;
    }

    .text-highlight.sec3_head_title{
        line-height: 1.1;
    }
    .text-highlight.sec3_head_title small::after{
        background-size: 140px;
        top: calc(50% - 39px);
    }


    .flex-options._sec_3 div.s3_row_1{
        height: 12vh;
        padding: 20px 0 32px;
        align-items: center;
        /* background: red; */
    
    }
    .options {
        width: 100%;
        height: calc(82vh - 94px);
    }
    .options .option.active .label_s {
        /* height: 34%; */
        /* height: 44%; */
    }
    .options .option{
        /* width: 22.5%; */
    }
    
}
@media screen and (max-height: 980px) and (max-width: 1919px){
    .options {
        height: calc(70vh - 32px);
        margin-top: 0vh;
        margin-bottom: 32px;
    }
    .flex-options._sec_3 div.s3_row_1 {
        padding-top: 20px;
        padding-bottom: 28px;
    }
    ._font_label{
        font-size: 150% !important;
    }
}
@media screen and (max-height: 647px) and (max-width: 1280px){
    .options{
        width: 1080px
    }
    .flex-options._sec_3 div.s3_row_1{
        width: 1100px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1366px) {
    .sec-huongdan .container{
        max-width: 90%;
    }
}
