/* sec1 desktop */
.block-heading._sec_1_head{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 16px;
}
.block-heading._sec_1_head > div{
    flex: 1 0 100%;
}
.block-heading._sec_1_head .title-heading{
    padding-top: 0;
    padding-bottom: 0;
}
.block-heading._sec_1_head .p_description{
    padding-bottom: 0;
}
.block-heading._sec_1_head > div:first-child{
    padding-top: 16px;
    padding-bottom: 16px;
}

.block-heading._sec_1_head .head-content div:nth-of-type(2){
    padding-top: 28px;
    padding-bottom: 36px;
}
/* sec3 desktop */
.sec3_content{
    width: 100%;
}
.box>div.flex-options {
    height: calc(100vh - 70px);
    margin-top: 70px;
    display: flex;
    align-items: center;
}
.flex-options._sec_3 div.s3_row_1{
    padding-bottom: 48px;
    /* height: 22vh;
    margin-top: 70px;
    padding: 100px 0;
    align-items: center; */

}
.flex-options._sec_3 div.s3_row_2{
    /* height: calc(52vh - 194px);
    padding-bottom: 100px; */
}
@media (max-height: 647px), screen and (orientation: landscape) {
    .video-foreground {
        height: 119%;
        top: -120px;
    }
}
