@font-face {
    font-family: 'UTM Neo Sans Intel';
    src: url('UTMNeoSansIntelBold.eot');
    src: url('UTMNeoSansIntelBold.eot?#iefix') format('embedded-opentype'),
        url('UTMNeoSansIntelBold.woff2') format('woff2'),
        url('UTMNeoSansIntelBold.woff') format('woff'),
        url('UTMNeoSansIntelBold.ttf') format('truetype'),
        url('UTMNeoSansIntelBold.svg#UTMNeoSansIntelBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UTM Neo Sans Intel';
    src: url('UTMNeoSansIntel-BoldItalic.eot');
    src: url('UTMNeoSansIntel-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('UTMNeoSansIntel-BoldItalic.woff2') format('woff2'),
        url('UTMNeoSansIntel-BoldItalic.woff') format('woff'),
        url('UTMNeoSansIntel-BoldItalic.ttf') format('truetype'),
        url('UTMNeoSansIntel-BoldItalic.svg#UTMNeoSansIntel-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'UTM Neo Sans Intel';
    src: url('UTMNeoSansIntel.eot');
    src: url('UTMNeoSansIntel.eot?#iefix') format('embedded-opentype'),
        url('UTMNeoSansIntel.woff2') format('woff2'),
        url('UTMNeoSansIntel.woff') format('woff'),
        url('UTMNeoSansIntel.ttf') format('truetype'),
        url('UTMNeoSansIntel.svg#UTMNeoSansIntel') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UTM Neo Sans Intel';
    src: url('UTMNeoSansIntel-Italic.eot');
    src: url('UTMNeoSansIntel-Italic.eot?#iefix') format('embedded-opentype'),
        url('UTMNeoSansIntel-Italic.woff2') format('woff2'),
        url('UTMNeoSansIntel-Italic.woff') format('woff'),
        url('UTMNeoSansIntel-Italic.ttf') format('truetype'),
        url('UTMNeoSansIntel-Italic.svg#UTMNeoSansIntel-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

