
/*col-azure-products*/
@media (max-width: 1200px){
	.col-azure-products>div{width: 15%;}
}
@media (min-width: 800px){
	.img-vidyo{
		margin-left: -5px;
	}
}
@media (max-width: 1200px) and (min-width: 1024px){
	.img-vidyo{
		margin-left: -93px;
	}
}
@media (max-width: 1024px){
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(1).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(2).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(3).item-hgc p.en {
		height: 585px;
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(4).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(5).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(6).item-hgc p.en {
		height: 480px;
	}
}
@media (max-width: 768px){
	.col-azure-products>div{width: 20%;}
	.package-services .pad-box-buy:nth-of-type(1) .box-buy-online .description ul,
	.package-services .pad-box-buy:nth-of-type(2) .box-buy-online .description ul{
		min-height: 296px
	}
	.package-services .pad-box-buy:nth-of-type(3) .box-buy-online .description ul,
	.package-services .pad-box-buy:nth-of-type(4) .box-buy-online .description ul{
		min-height: 348px
	}
	.row-bule-light-right, .row-bule-light, 
	.row-orange-left, .row-orange,
	.row-green-light-right, .row-green-light
	{
		width: 100%
	}
	.row-bule-light, .row-orange, .row-green-light, .row-white_1{
		margin-top: 2px;
		height: auto;
		padding: 15px 40px;
	}
	.row-bule-light, .row-orange{
		margin-bottom: 15px
	}
	.list-about-cloud-wifi{
		padding-left: 0
	}
	.customer-service-list>div.col-xs-12:nth-of-type(1)>div>ul{
		margin-bottom: 15px
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(1).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(2).item-hgc p.en {
		height: 506px;
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(3).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(4).item-hgc p.en {
		height: 404px;
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(5).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(6).item-hgc p.en {
		height: 195px;
	}

	.col-xs-12.col-sm-6.col-md-4:nth-of-type(1).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(2).item-hgc p	{
		height: 506px;
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(3).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(4).item-hgc p	{
		height: 352px;
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(5).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(6).item-hgc p	{
		height: 222px;
	}
}
@media (max-width: 768px) and (min-width: 500px){
	.middle-follow_map{height: 310px}
}

@media (max-width: 500px){
	.col-azure-products>div{width: 30%; margin-left: 5px; margin-right: 5px}
	.things-we-bring{
		background: #4d9ba7 url(../../../storage/upload/images/pages/enterprise/infrastructure/hatangcongnghe-3-1.png) right bottom no-repeat;
		padding: 25px 0px;
	}
	.wrap-whyfpt-technology .things-we-bring ul{
		padding-bottom: 239px
	}
	.middle-follow_map{
		height: auto;
		padding-top: 15px
	}
	.wrap-partner-customer>div>div{
		margin-bottom: 5px
	}
	.box-buy-online .description ul{
		min-height: auto;
	}
	.row-bule-light, .row-orange, .row-green-light, .row-white_1{    
		margin-top: 2px;
		padding: 10px 15px;
		height: auto;
	}
	.row-bule-light, .row-orange{
		margin-bottom: 15px
	}
	.advantage-col{    min-height: 752px;
	}
	.customer-service-list div ul li, .list-ul-green ul li, ul.list-geen li{
		margin-left: 0px;
		width: 100%;
	}
	.box-buy-online .description .div-title.en, .box-buy-online .description ul.en{
		min-height: auto !important
	}
	.logo-customer a{
		margin: 10px 12px;
	}
	.logo-customer a img, .logo-customer span, .logo-customer img{
		max-height: 48px;
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(1).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(2).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(3).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(4).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(5).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(6).item-hgc p.en{
		height: auto;
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(1).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(2).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(3).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(4).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(5).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(6).item-hgc p{
		height: auto;
	}
}

@media (max-width: 400px){
	.col-azure-products>div{width: 45%; margin-left: 5px; margin-right: 5px}
}


