<!DOCTYPE html>
<html lang="vi">

<head>
    <title>FPT Telecom - Công ty Cổ phần Viễn thông FPT</title>
    <meta name="description"
        content="Website chính thức cung cấp đầy đủ, chính xác thông tin về Internet FPT, Truyền hình FPT, FPT Play, FPT Play Box, FPT Camera, Foxpay, Fshare, Hi FPT - Trang chủ">
    <meta name="keywords"
        content="Internet FPT, Truyền hình FPT, FPT Camera, FPT Play Box,  FPT Play, Thanh toán điện tử Foxpay, FPT Telecom">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="../../fontend_v2.0_2024/assets/css/normalize.min.css" rel="stylesheet">
    <link href="../../fontend_v2.0_2024/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../fontend_v2.0_2024/assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../fontend_v2.0_2024/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="../../fontend_v2.0_2024/assets/css/layout_v1.3.css?v=1.0" rel="stylesheet" type="text/css">
  
    <link href="../../fontend_v2.0_2024/assets/css/responsive_v1.3.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../fontend_v2.0_2024/assets/css/navbar.css?v=1.0">

    <!--****** CAI DAT APP HI FPT ******-->
    <meta name="smartbanner:title" content="Hi FPT">
    <meta name="smartbanner:author" content="FPT Telecom">
    <meta name="smartbanner:price" content="FREE">
    <meta name="smartbanner:price-suffix-apple" content=" - In the App Store">
    <meta name="smartbanner:price-suffix-google" content=" - In Google Play">
    <meta name="smartbanner:icon-apple"
        content="https://is4-ssl.mzstatic.com/image/thumb/Purple123/v4/b3/f9/56/b3f956d2-357c-5ae3-9d2c-d6f7abe92304/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/217x0w.png">
    <meta name="smartbanner:icon-google"
        content="https://lh3.googleusercontent.com/kjrGoTEjgsHSMBuQuMoEKOJEMxyBQD06uvSzvGd2cCvmYebBpoXM3abvv4YDhlhIg3M=s180-rw">
    <meta name="smartbanner:button" content="Mở App ngay">
    <meta name="smartbanner:rating-Itunes" content="70.654646489439%">
    <meta name="smartbanner:rating-Google" content="84.99462127686%">
    <meta name="smartbanner:button-url-apple" content="https://itunes.apple.com/vn/app/hi-fpt/id1144417173">
    <meta name="smartbanner:button-url-google" content="https://play.google.com/store/apps/details?id=com.rad.hifpt">
    <meta name="smartbanner:enabled-platforms" content="android,ios">

</head>

<body>
    <!-- footer -->
    <footer class="footer">
        <!-- start .container -->
        <div class="container link-footer-desktop">
            <div class="row row-fptlogo">
                <div class="col-sm-6"><span><img src="../../fontend_v2.0_2024/assets/images/fpt-logo.svg" alt="FPT Telecom"></span></div>
                <div class="col-sm-6">
                    <ul class="foot-social">
                        <li><a href=""><img src="../../fontend_v2.0_2024/assets/images/foot-hifpt.png" alt="Hi FPT"></a></li>
                        <li><a href=""><img src="../../fontend_v2.0_2024/assets/images/foot-youtube.png" alt="Youtube"></a></li>
                        <li><a href=""><img src="../../fontend_v2.0_2024/assets/images/foot-instagram.png" alt="Instagram"></a></li>
                        <li><a href=""><img src="../../fontend_v2.0_2024/assets/images/foot-facebook.png" alt="Facebook"></a></li>
                        <li><a href=""><img src="../../fontend_v2.0_2024/assets/images/foot-zalo.png" alt="Zalo"></a></li>
                    </ul>
                </div>
            </div>
            <div class="row row-link-foot">
                <div class="col-sm-7 col-left">
                    <p>Giấy chứng nhận ĐKDN số 0101778163 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp ngày
                        28/07/2005</p>
                    <p>Giấy phép cung cấp dịch vụ viễn thông số 255/GP-CVT do Cục Viễn Thông cấp ngày 07/11/2022</p>
                    <p class="space"><b>Công ty Cổ phần Viễn thông FPT</b></p>
                    <p><img src="../../fontend_v2.0_2024/assets/images/f-imap.svg" alt="">Tầng 9, Block A, tòa nhà FPT Cầu Giấy, số 10 Phạm
                        Văn Bạch, quận Cầu Giấy, TP.
                        Hà Nội</p>
                    <p><img src="../../fontend_v2.0_2024/assets/images/f-iemail.svg" alt=""><a href="">hotrokhachhang@fpt.com</a></p>
                    <p><img src="../../fontend_v2.0_2024/assets/images/f-iphone.svg" alt=""><a href="">024 7300 2222</a></p>
                    <p class="space">Người đại diện: Ông Hoàng Việt Anh</p>

                    <div class="online-gov-vn">
                        <a href="http://online.gov.vn/Home/WebDetails/35561" target="_blank" class="img">
                            <img alt="FPT Telecom"
                                src="https://fpt.vn/storage/upload/images/blocks/20150827110756-dathongbao.png">
                        </a>
                    </div>
                </div>
                <div class="col-sm-5 col-right">
                    <div class="col-sm-4">
                        <h3 class="foot-title">Về FPT Telecom</h3>
                        <ul class="link-footer">
                            <li>
                                <h4><a href="">Giới thiệu chung</a></h4>
                            </li>
                            <li>
                                <h4><a href="">Chất lượng dịch vụ</a></h4>
                            </li>
                            <li>
                                <h4><a href="">Công ty thành viên</a></h4>
                            </li>
                            <li>
                                <h4><a href="">Giải thưởng</a></h4>
                            </li>
                            <li>
                                <h4><a href="">Đối tác</a></h4>
                            </li>
                            <li>
                                <h4><a href="">Về tập đoàn FPT</a></h4>
                            </li>
                            <li>
                                <h4><a href="">Tuyển dụng</a></h4>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="foot-title">Khách hàng FPT Telecom</h3>
                        <ul class="link-footer">
                            <li>
                                <h4><a href="">Điều lệ công ty</a></h4>
                            </li>
                            <li>
                                <h4><a href="">Quản trị công ty</a></h4>
                            </li>
                            <li>
                                <h4><a href="">Đại hội đồng cổ đông</a></h4>
                            </li>
                            <li>
                                <h4><a href="">Liên hệ cổ đông</a></h4>
                            </li>
                            <li>
                                <h4><a href="">Thông báo chung</a></h4>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3 class="foot-title">Chưa là khách hàng</h3>
                        <ul class="link-footer">
                            <li>
                                <h4><a href="">Internet FPT</a></h4>
                            </li>
                            <li>
                                <h4><a href="">Truyền hình FPT</a></h4>
                            </li>
                            <li>
                                <h4><a href="">Dịch vụ online</a></h4>
                            </li>
                            <li>
                                <h4><a href="">Smart Home</a></h4>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- end /.row -->
        </div>

        <div class="link-footer-mobile">
            <div>
                <a class="logo-fpt-footer" title="FPT Telecom" href="https://fpt.vn">
                    <img class="" src="../../fontend_v2.0_2024/assets/images/fpt-logo.svg" alt="FPT Telecom">
                </a>
            </div>
            <div class="license-text-mobile">
                <p>Giấy chứng nhận ĐKDN số 0101778163 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp ngày
                    28/07/2005</p>
                <p>Giấy phép cung cấp dịch vụ viễn thông số 255/GP-CVT do Cục Viễn Thông cấp ngày 07/11/2022</p>
                <p class="space"><b>Công ty Cổ phần Viễn thông FPT</b></p>
                <p><img src="../../fontend_v2.0_2024/assets/images/f-imap.svg" alt="">Tầng 9, Block A, tòa nhà FPT Cầu Giấy, số 10 Phạm Văn
                    Bạch, quận Cầu Giấy, TP.
                    Hà Nội</p>
                <p><img src="../../fontend_v2.0_2024/assets/images/f-iemail.svg" alt=""><a href="">hotrokhachhang@fpt.com</a></p>
                <p><img src="../../fontend_v2.0_2024/assets/images/f-iphone.svg" alt=""><a href="">024 7300 2222</a></p>
                <p class="space">Người đại diện: Ông Hoàng Việt Anh</p>


            </div>
            <div class="accor-link-foot">
                <div class="tab">
                    <input type="checkbox" name="accordion-1" id="cb1" checked>
                    <label for="cb1" class="tab__label">Về FPT Telecom</label>
                    <div class="tab__content">
                        <ul>
                            <li><a href="">Giới thiệu chung</a></li>
                            <li><a href="">Chất lượng dịch vụ</a></li>
                            <li><a href="">Công ty thành viên</a></li>
                            <li><a href="">Giải thưởng</a></li>
                            <li><a href="">Đối tác</a></li>
                            <li><a href="">Về tập đoàn FPT</a></li>
                            <li><a href="">Tuyển dụng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" name="accordion-1" id="cb2">
                    <label for="cb2" class="tab__label">Khách hàng FPT Telecom</label>
                    <div class="tab__content">
                        <ul>
                            <li><a href="">Điều lệ công ty</a></li>
                            <li><a href="">Quản trị công ty</a></li>
                            <li><a href="">Đại hội đồng cổ đông</a></li>
                            <li><a href="">Liên hệ cổ đông</a></li>
                            <li><a href="">Thông báo chung</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab">
                    <input type="checkbox" name="accordion-1" id="cb3">
                    <label for="cb3" class="tab__label">Chưa là khách hàng </label>
                    <div class="tab__content">
                        <ul>
                            <li><a href="">Đăng ký Online</a></li>
                            <li><a href="">Sản phẩm dịch vụ</a></li>
                            <li><a href="">Khuyến mại</a></li>
                            <li><a href="">Tìm điểm giao dịch</a></li>
                            <li><a href="">Tin tức</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div>
                <ul class="foot-social social-mobile">
                    <li><a href=""><img src="../../fontend_v2.0_2024/assets/images/foot-hifpt.png" alt="Hi FPT"></a></li>
                    <li><a href=""><img src="../../fontend_v2.0_2024/assets/images/foot-youtube.png" alt="Youtube"></a></li>
                    <li><a href=""><img src="../../fontend_v2.0_2024/assets/images/foot-instagram.png" alt="Instagram"></a></li>
                    <li><a href=""><img src="../../fontend_v2.0_2024/assets/images/foot-facebook.png" alt="Facebook"></a></li>
                    <li><a href=""><img src="../../fontend_v2.0_2024/assets/images/foot-zalo.png" alt="Zalo"></a></li>
                </ul>
                <div class="online-gov-vn">
                    <a href="http://online.gov.vn/Home/WebDetails/35561" target="_blank" class="img">
                        <img alt="FPT Telecom"
                            src="https://fpt.vn/storage/upload/images/blocks/20150827110756-dathongbao.png">
                    </a>
                </div>
            </div>
        </div>
        <!-- end /.container -->
    </footer>

    <!-- //footer -->
    <script src="../../fontend_v2.0_2024/assets/js/jquery-2.2.3.min.js" type="text/javascript"></script>
    <script src="../../fontend_v2.0_2024/assets/js/bootstrap.min.js" type="text/javascript"></script>
</body>

</html>