/*emagazine*/

.fontNoto,
.eMagaz-article {
    font: 400 20px/30px 'Noto Serif', serif;
}

.fontNoto-b,
.eMagaz-article strong {
    font: 700 20px/30px 'Noto Serif', serif;
}

.eMagaz-article .main-article {
    padding-bottom: 30px;
    display: inline-block;
    width: 100%;
}

.main-article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.head-fix {
    background: #1A1A1A;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.em-back {
    height: 100%;
    display: table;
    background: #F27227;
    float: left;
}

.em-back a {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
}

.em-back i {
    color: #fff;
    font-size: 24px;
}

.em-logohead {
    position: absolute;
    left: calc(50% - 50px);
    top: 0px
}

.clear-head {
    margin-top: 50px;
    clear: both;
}

.img-head-eMagaz {
    width: 100%;
}

.eMagaz-pstyle p {
    margin: 0 0 20px;
}

.rowspace-eMagaz {
    clear: both;
    width: 100%;
    display: inline-block;
    height: 20px;
}

.img-eMagaz-d {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-eMagaz-m {
    display: none;
}

.center-block-emag {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 479px) {
    .title-emagazine {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .eMagaz-article .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .eMagaz-article .main-article {
        padding: 20px 15px 0 15px;
    }
    .img-eMagaz-d {
        display: none;
    }
    .img-eMagaz-m {
        display: block;
    }
    .main-article>div {
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-article p {
        margin: 0 0 20px;
    }
    .main-article img {
        /* display: block; */
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
}