
/*col-azure-products*/
@media (max-width: 1200px){
	.col-azure-products>div{width: 15%;}
}
@media (min-width: 800px){
	.img-vidyo{
		margin-left: -5px;
	}
}
@media (max-width: 1200px) and (min-width: 1024px){
	.img-vidyo{
		margin-left: -93px;
	}
}
@media (max-width: 1024px){
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(1).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(2).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(3).item-hgc p.en {
		height: 585px;
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(4).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(5).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(6).item-hgc p.en {
		height: 480px;
	}
	.block-service-oncall {
		padding-left: 3px;
		padding-right: 3px;
	}
	.block-service-oncall:nth-of-type(3) {
		padding-right: 3px;
	}
	.ihome-block-special {
		margin-left: 200px;
		padding-left: 295px;
	}
}
@media (max-width: 768px){
	.col-azure-products>div{width: 20%;}
	.package-services .pad-box-buy:nth-of-type(1) .box-buy-online .description ul,
	.package-services .pad-box-buy:nth-of-type(2) .box-buy-online .description ul{
		min-height: 296px
	}
	.package-services .pad-box-buy:nth-of-type(3) .box-buy-online .description ul,
	.package-services .pad-box-buy:nth-of-type(4) .box-buy-online .description ul{
		min-height: 348px
	}
	.row-bule-light-right, .row-bule-light, 
	.row-orange-left, .row-orange,
	.row-green-light-right, .row-green-light
	{
		width: 100%
	}
	.row-bule-light, .row-orange, .row-green-light, .row-white_1{
		margin-top: 2px;
		height: auto;
		padding: 15px 40px;
	}
	.row-bule-light, .row-orange{
		margin-bottom: 15px
	}
	.list-about-cloud-wifi{
		padding-left: 0
	}
	.customer-service-list>div.col-xs-12:nth-of-type(1)>div>ul{
		margin-bottom: 15px
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(1).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(2).item-hgc p.en {
		height: 506px;
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(3).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(4).item-hgc p.en {
		height: 404px;
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(5).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(6).item-hgc p.en {
		height: 195px;
	}

	.col-xs-12.col-sm-6.col-md-4:nth-of-type(1).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(2).item-hgc p	{
		height: 506px;
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(3).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(4).item-hgc p	{
		height: 352px;
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(5).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(6).item-hgc p	{
		height: 222px;
	}

	.advantage-col{
		min-height: 798px;
	}
	.block-service-oncall{
		width: 33.333%;
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 10px;
	}
	.block-service-oncall:nth-of-type(4){
		padding-left: 0px;
	}
	.block-service-oncall:last-child {
		padding-right: 5px;
	}
	.ihome-block-special {
		margin-left: 95px;
		padding-left: 210px;
	}
	.ihome-fpt-logo img{
		width: 100%;
	}
}
@media (max-width: 768px) and (min-width: 500px){
	.middle-follow_map{height: 310px}
}
@media (max-width: 500px){
	.col-azure-products>div{width: 30%; margin-left: 5px; margin-right: 5px}
	.things-we-bring{
		background: #4d9ba7 url(../../../storage/upload/images/pages/enterprise/infrastructure/hatangcongnghe-3-1.png) right bottom no-repeat;
		padding: 25px 0px;
	}
	.wrap-whyfpt-technology .things-we-bring ul{
		padding-bottom: 239px
	}
	.middle-follow_map{
		height: auto;
		padding-top: 15px
	}
	.wrap-partner-customer>div>div{
		margin-bottom: 5px
	}
	.box-buy-online .description ul{
		min-height: auto;
	}
	.row-bule-light, .row-orange, .row-green-light, .row-white_1{    
		margin-top: 2px;
		padding: 10px 15px;
		height: auto;
	}
	.row-bule-light, .row-orange{
		margin-bottom: 15px
	}
	.advantage-col{    min-height: 752px;
	}
	.customer-service-list div ul li, .list-ul-green ul li, ul.list-geen li{
		margin-left: 0px;
		width: 100%;
	}
	.box-buy-online .description .div-title.en, .box-buy-online .description ul.en{
		min-height: auto !important
	}
	.logo-customer a{
		margin: 10px 12px;
	}
	.logo-customer a img, .logo-customer span, .logo-customer img{
		max-height: 48px;
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(1).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(2).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(3).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(4).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(5).item-hgc p.en, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(6).item-hgc p.en{
		height: auto;
	}
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(1).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(2).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(3).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(4).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(5).item-hgc p, 
	.col-xs-12.col-sm-6.col-md-4:nth-of-type(6).item-hgc p{
		height: auto;
	}
	.bottom_pos{
		position: static;
	}
	.advantage-col{
		min-height: auto !important;
	}
	.advantage-col ul.padding{
		padding: 13px 10px 13px 0px;
	}
	.items-enterprise-new .col-xs-12.col-sm-4{
		padding-top: 10px;
		border: 0px;
		border-bottom: 1px solid #eaeaea;
	}
	.items-enterprise-new .col-xs-12.col-sm-4:nth-of-type(1){
		padding-top:0px;
	}
	.items-enterprise-new .col-xs-12.col-sm-4:nth-last-child(1){
		border-bottom: 0px;
	}
	.items-enterprise-new .col-xs-12.col-sm-4 h3{
		padding: 0px;
	}
	.microsoft-label.b-c{
		bottom: 25px;
	}
	.block-service-oncall{
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 10px;
	}
	.block-service-oncall:nth-of-type(3) {
		padding-right: 0;
	}
	.block-service-oncall:last-child {
		padding-right: 0px;
	}
	/*end 500px*/
}
@media (max-width: 479px){
	.ihome-fpt-logo{
		margin-bottom: 15px;
	}
	.ihome-block-special{
		display: none;
	}
	.circle-ihome{
		margin-bottom: 30px;
	}
	.ihome-block-special--m{
		border: 3px solid #a1cc00;
		display: inline-block;
		position: relative;
		min-height: 320px;
		margin-top: 80px;
		margin-bottom: 30px;
		padding: 260px 15px 20px
	}
	.ihome-block-special--m .ihome-img{
		position: absolute;
		top: -80px;
		left: calc(50% - 97px);
		-webkit-border-radius: 13px;
		-moz-border-radius: 13px;
		border-radius: 13px;
		padding: 15px;
		background: #fff;
		width: 200px;
	}
	.ihome-fpt-logo img{
		width: auto;
	}
	.box-buy-online .description .div-title{
		height: auto;
	}
	.package-services .pad-box-buy:nth-of-type(1) .box-buy-online .description ul,
	.package-services .pad-box-buy:nth-of-type(2) .box-buy-online .description ul
	.package-services .pad-box-buy:nth-of-type(3) .box-buy-online .description ul
	.package-services .pad-box-buy:nth-of-type(4) .box-buy-online .description ul{
		min-height: auto;
	}
}
@media (max-width: 400px){
	.col-azure-products>div{width: 45%; margin-left: 5px; margin-right: 5px}
}
@media (max-width: 320px){
	.circle-ihome>div.col-xs-6{
		width: 100%
	}
	.ihome-fpt-logo img{
		width: 80%;
	}
}
@media (max-width: 479px){
    .logo-footer{
        padding-bottom: 0;
    }
}