/* dùng riêng cho location */
:root {
    --option-height: 46px;
    --option-height-d: -46px;
    --font-size: 16px;
    --line-height: 22px;
    --border-radius: 8px;
    --loacation-box-height: 32px;
    --top-search-box: 30px;
    --popup-location-height: 388px;
}
.choose-location-btn{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: #DDE4FC;
    cursor: pointer;
    /* margin-right: 32px;
    position: absolute;
    right: 100px; */
    height: 36px;
    line-height: 36px;
    margin-left: 32px;
}
.popup-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}
.location-popup .wrap-popup{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.location-popup .popup-content {
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    width: 512px;
    max-width: 80%;
    min-height: 100px;
    text-align: left;
    position: relative;
    box-shadow: 0px 20px 24px -4px #0A0D1214;
    padding: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #181D27;
    letter-spacing: 0.8px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* max-height: var(--popup-location-height); */
    transition: top 0.3s ease;
}
.location-popup .popup-header-title{
    font-weight: 590;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8px;
}
.location-popup .popup-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 24px;
    font-weight: 300;
    color: #888888;
    transform: scaleX(1.2);
    padding: 20px 22px;
}
.location-popup form button,
.location-popup form input,
.location-popup form select,
.location-popup form textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin-top: 16px;
}
.location-popup form input,
.location-popup form select,
.location-popup form textarea{
    border: 1px solid #D1D1D1;
    color: #D1D1D1;
}
.location-popup form input:disabled,
.location-popup form select:disabled,
.location-popup form textarea:disabled{
    background: #F5F5F5;
}
.location-popup form button[type=submit],
.location-popup form button.btn-submit{
    background: #4564ED;
    color: #fff;
    text-align: center;
    margin-top: 32px;
    letter-spacing: 0.8px;
}
/* 
.location-popup .choices__list .choices__list{
    background: white;
    border-radius: 8px;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 12px 16px -4px #10182814;
    padding: 0;
}

.location-popup .choices{
    margin-top: 16px;
    margin-bottom: 0;
}
.location-popup .choices__list.choices__list--dropdown{
    background: none;
    border: 1px solid white;
    outline: none;
    box-shadow: none;
    background: white;
}
.location-popup select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.location-popup select:focus{
    outline: none;
    border: 1px solid #D1D1D1;
    color: #D1D1D1;
}
.location-popup select option,
.location-popup .choices__list--dropdown .choices__item,
.location-popup .choices__list .choices__item{
    height: 46px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.location-popup .choices__list--dropdown input[type='search']{
    padding: 12px 24px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid #4564ED;

}
.location-popup select option {
    border-radius: 8px;
    padding: 8px;
}
.choices[data-type*=select-one]::after{
    border: 0;
}

.location-popup form .choices__inner{
    padding: 0;
    border: 0;
    outline: none;
}
.location-popup .choices__list.choices__list--single{
    padding: 0
}
.location-popup .choices[data-type*=select-one] .choices__placeholder,
.location-popup .choices__inner .choices__item--selectable{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #D1D1D1;
    color: #D1D1D1;
    background: white;
    opacity: 1;
}
.location-popup .choices__inner .choices__item--selectable{
    color: #3D3D3D;
}

.choices[data-type*=select-one] .choices__inner{
    padding-bottom: 0;
}
.is-open .choices__list--dropdown{
    top: 0;
}

.is-open .choices__placeholder{
    display: none;
}
.location-popup .choices__list--dropdown .choices__item--selectable.is-highlighted{
    background-color: white;
}
.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input{
    background-color: white;
}
.location-popup .choices[data-type*=select-one].is-disabled .choices__placeholder,
.location-popup .choices.is-disabled .choices__inner .choices__item--selectable{
    background-color: #F5F5F5;
} */
#locationForm .error-massge{
    color: red;
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: 500;
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding: 12px 0px;
    margin-bottom: -14px;
}
#locationForm>div{
    margin-top: 16px;
    position: relative;
}
#locationForm .select2-container.select2-container--default.select2-container--open{
    top: var(--top-search-box)!important;
}
.location-popup  .form-control{
    width: 100%;
    padding: 12px;
    border-radius: var(--border-radius);
    border: 1px solid #D1D1D1;
    color: #D1D1D1;
    background: white;
    opacity: 1;
    height: var(--option-height);
    padding: 12px 24px;
    font-weight: 400;
    font-size: var(--font-size);
    line-height: var(--line-height);
}
.location-popup  .select2-container{
    width: 100% !important;
}
.select2-results__option .select2-results__message{
    font-size: var(--font-size);
    line-height: var(--line-height);
}
.location-popup .select2-container--default .select2-dropdown {
    border-radius: var(--border-radius);
    border: 1px solid #ccc;
    /* overflow: hidden; */
}
.location-popup select option,
.location-popup .select2-container--default .select2-results__option,
.location-popup .select2-container--default .select2-selection--single,
.location-popup .select2-container--default .select2-search--dropdown .select2-search__field{
    width: 100%;
    color: #3D3D3D;
    border: 1px solid #D1D1D1;
    background: white;
    opacity: 1;
    height: var(--option-height);
    padding: 12px 24px;
    border-radius: var(--border-radius);
    touch-action: manipulation;
}
.location-popup .select2-container--default .select2-selection--single,
.location-popup .select2-container--default .select2-search--dropdown .select2-search__field{
    padding: 12px;
}
.location-popup .select2-container--default .select2-selection--single{
    padding-right: 40px;
}
.location-popup .select2-container--default.select2-container--open .select2-selection--single{
    border: 0;
}
.location-popup select:disabled,
.select2-container--default.select2-container--disabled .select2-selection--single[aria-disabled]{
    background-color: #F5F5F5;
    color: #D1D1D1;
}
.select2-search--dropdown .select2-search__field[aria-controls="select2-location_province-results"]:focus,
.select2-search--dropdown .select2-search__field[aria-controls="select2-location_district-results"]:focus,
.select2-search--dropdown .select2-search__field[aria-controls="select2-location_ward-results"]:focus{
    border: 1px solid #4564ED;
}
.location-popup .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-weight: 400;
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding: 0;
}
.location-popup .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: var(--option-height);
}
.location-popup .select2-container--default .select2-selection--single .select2-selection__arrow b {
    width: 11px;
    height: 11px;
    border: solid #292D32;
    border-width: 0 1.8px 1.8px 0;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: auto;
    right: 0;
    margin-top: -9px;
    margin-right: 13px;
    background: none;
    border-bottom-right-radius: 2px;
}
.location-popup .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-width: 1.8px 0 0 1.8px;
    border-top-left-radius: 2px;
}
.select2-container:has(#select2-location_province-results) .select2-results,
.select2-container:has(#select2-location_district-results) .select2-results,
.select2-container:has(#select2-location_ward-results) .select2-results{
    padding-top: 8px;
}
#select2-location_province-results,
#select2-location_district-results,
#select2-location_ward-results{
    background: none;
    border: 1px solid #D1D1D1;
    outline: none;
    box-shadow: none;
    background: white;
    border-radius: var(--border-radius);
    max-height: 184px;
}

#select2-location_province-results::-webkit-scrollbar,
#select2-location_district-results::-webkit-scrollbar,
#select2-location_ward-results::-webkit-scrollbar{
    width: 10px;
    height: 8px;
}

#select2-location_province-results::-webkit-scrollbar-thumb,
#select2-location_district-results::-webkit-scrollbar-thumb,
#select2-location_ward-results::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 10px;
}
#select2-location_province-results::-webkit-scrollbar-track,
#select2-location_district-results::-webkit-scrollbar-track,
#select2-location_ward-results::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
#select2-location_province-results .select2-results__option,
#select2-location_district-results .select2-results__option,
#select2-location_ward-results .select2-results__option{
    border: 0;
    color: #3D3D3D;
}

#select2-location_province-results .select2-results__option--highlighted[aria-selected],
#select2-location_district-results .select2-results__option--highlighted[aria-selected],
#select2-location_ward-results .select2-results__option--highlighted[aria-selected]{
    background: #f1f1f1;
    color: #000;
    border-radius: 0;
}
.select2-container:has(#select2-location_province-results) .select2-search--dropdown,
.select2-container:has(#select2-location_district-results) .select2-search--dropdown,
.select2-container:has(#select2-location_ward-results) .select2-search--dropdown{
    padding: 0;
    margin-top: var(--option-height-d);
    width: 100%;
}
.select2-container:has(#select2-location_province-results) .select2-dropdown--below,
.select2-container:has(#select2-location_district-results) .select2-dropdown--below,
.select2-container:has(#select2-location_ward-results) .select2-dropdown--below{
    background: white;
    border: 0;
    outline: none;
    box-shadow: none;
    border-radius: var(--border-radius);
}
.location-popup .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.location-popup .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}


@media (min-width: 992px) {
    .wrap-location{
        display: none;
    }
}
@media (min-width: 769px) {
    .header-menu .header-top .head-top--contain .login{
        font-size: 14px;
    }
    .header-menu .header-top .head-top--contain .login img{
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }
    .header-menu .header-top .head-top--contain .login._has-login .choose-location-btn{
        /* position: relative;
        right: auto; */
    }
}

.wrap-location{
    width: 100%;
    height: var(--loacation-box-height);
    justify-content: space-between;
    padding: 8px 16px;
    /* border-top: 1px solid #E7E7E7; */
    color: #3D3D3D;
    background: #FFFFFF;
    position: relative;
}
.wrap-location .location-info{
    position:absolute;
    float: left;
    left: 0;
    min-width: 50%;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-left: 16px;
}
.wrap-location .choose-location-btn{
    position:absolute;
    float: right;
    right: 0;
    color: #3D3D3D;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    height: auto;
    margin-right: 16px;
    cursor: pointer;
}
.choose-location-btn img{
    margin-right: 10px;
    margin-bottom: 2px;
}
.wrap-location .location-info i,
.wrap-location .location-info img,
.wrap-location .choose-location-btn img{
    margin-right: 5px;
    margin-bottom: 2px;
}
.location-popup .select2-container--default .select2-selection--single .select2-selection__placeholder{
    color: #D1D1D1;
}

@media screen and (max-width: 991px) {
    .row-main-banner {
        padding-top: 102px !important;/*70+var(--loacation-box-height) 102*/ 
    }
    .box-intro-large{
        padding-top: 102px !important;
    }
    /* .location-popup .wrap-popup {
        width: 100vw;
        height: 100vh;
    } */
    .location-popup .popup-content{
        width: 90vw;
        max-width: 512px;
        height: auto;
        padding: 20px 16px;
        font-size: 12px;
        line-height: 16px;
    }
    .location-popup .popup-header-title{
        font-size: 16px;
        line-height: 22px;
    }
}
@media (max-width: 768px) {
    :root {
        --option-height: 36px;
        --option-height-d: -36px;
        --font-size: 14px;
        --line-height: 18px;
        --border-radius: 8px;
        --top-search-box: 20px;
        --popup-location-height: 305px
    }
     
    #locationForm>div{
        margin-top: 12px;
    }
    .location-popup form button[type=submit],
    .location-popup form button.btn-submit{
        margin-top: 20px;
        padding: 8px;
    }

    .location-popup .select2-container--default .select2-search--dropdown .select2-search__field,
    .location-popup .select2-container--default .select2-selection--single{
        padding-top: 8px;
        padding-bottom: 8px;
    }

    #select2-location_province-results,
    #select2-location_district-results,
    #select2-location_ward-results{
        max-height: 144px;
    }
    .location-popup .popup-close{
        padding: 14px;
        font-size: 20px;
        line-height: 18px;
    }
    .select2-container:has(#select2-location_province-results) .select2-results,
    .select2-container:has(#select2-location_district-results) .select2-results,
    .select2-container:has(#select2-location_ward-results) .select2-results{
        padding-top: 4px;
    }
    #locationForm .error-massge{
        padding: 8px 0px;
        margin-bottom: -8px;
    }
    .android .popup-overlay{
        top: 0;
        bottom: 0;
    }
    .android .location-popup .popup-content:has(.select2-container--open) {
        top: 10px;
        transform: translate(-50%, 0);
    }
}