/*other style*/
.form-inline.search .search-query.form-control{
    width: 79%;
    float: left;
}
.form-inline.search button.btn-search{
    width: 20%;
    position: relative;
    height: 34px;
    margin-left: 5px;
}
.line-search-results{
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}
.tab-content-d.line-search-results{
    padding: 7px 0px;
}
.table-responsive.line-search-results{
    padding: 0px;
}
.box-content-question.no-brdr-top{
    border-top: 0px !important;
    padding-top: 0px;
    padding-bottom: 0px;

}
.col-xs-12 .box-content-question.no-brdr-top:last-child {
    border-bottom: 0px !important;
}
.search-ajax{
    padding: 0 15px;
}
.line-search-results>.col-md-3{
    padding-left: 0px;
}
.line-search-results>.col-md-9{
    padding-right: 0px;
}
.box-content-question.no-brdr-top h2.text-f37021 {
    border-top: 0px !important;
}

.table-responsive .table-d h2 {
    font-size: 16px !important;
    font-weight: normal !important;
    font-family: 'Roboto-Regular';
}
.search-ajax table.table-d{
    margin-bottom: 0px;
}

.search-ajax table.table-d>tbody>tr>td{
    border-bottom: 0px !important;
    padding: 0px 15px 0px 0px !important;

    line-height: 0;
}
.search-ajax table.table-d>tbody>tr>td.td-breadcrumb{
    padding: 0px !important;
    height: 22px
}

.line-search-results .search-result-breadcrumb{
    opacity: .65;
    float: left;
    width: 100%;
}
.line-search-results .td-breadcrumb .search-result-breadcrumb{
    margin-bottom: 10px;
}
.line-search-results .search-result-breadcrumb a{
    font-size: 14px;
    color: #000
}
.line-search-results .search-result-breadcrumb a:hover{
    color: #e33400;
}

.table-responsive.line-search-results table.table-d h2{
    margin-top: 1px;
}
.title-item.search{
    margin-top: 0px;
    padding-top: 0px;
}
/*Vertically center image responsive*/
.img-center {
  /*width: 50%;*/
  height: 165px;
  margin: 0 auto;
  overflow: hidden;
  display: block;
}
.img-center img {
  position: relative;
  max-height: 100%;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* //Vertically center image responsive*/
@media only screen and (min-width: 768px) {
  .img-center img {
    top: 50%;
    left: 0;
    max-height: none;
    width: 100%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    }
}
@media only screen and  (max-width: 899px) and (min-width: 650px){
    .wrap-col-report>div.col-md-3{
        width: 30%
    }
    .wrap-col-report>div.col-md-9{
        width: 70%
    }
}
@media only screen and  (max-width: 479px) {
    .form-inline.search .search-query.form-control{
        width: 70%;
    }
    .form-inline.search button.btn-search{
        width: 28%;
        padding: 5px;
        font-size: 15px;
    }
    .line-search-results>.col-md-3,
    .line-search-results>.col-md-9{
        padding-left: 0px;
        padding-right: 0px;
    }
    .img-center{
        margin-bottom: 5px;
        height: auto;
    }
    .img-center img{
        width: 100%;
        height: auto;
    }
    .table-responsive.line-search-results{
            border-bottom: 1px solid #e5e5e5;
    }
    .search-ajax table.table-d>tbody>tr>td img{
        height: 30px;
    }
}