:root{
    --broder-radius-content-table: 12px;
    --gap-content-element: 12px;
    --gap-padding-block: 80px;
    --header-top-height: 121px; /* 106 + 15*/
    --padding-list-item: 24px;
    --line-height-gap: 4px;
}
.block-content-full{
    padding: 32px;
    height: 488px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 6px -2px #10182808,
                0px 0px 16px -4px #10182814;
    margin-bottom: var(--gap-padding-block);
}
.block-content-full.show{
    height: auto;
}

.block-content-full .box-content-header{
    width: 100%;
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 32px;
    margin-bottom: 32px;
}
.block-content-full .box-content-header .title{
    color: #3D3D3D;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    text-align: left;
}

.block-content-full .box-content-body{
    color: #3D3D3D;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.block-content-full .box-content-body img{
    max-width: 100%;
    border-radius: 8px;
}
.block-content-full ol,
.block-content-full ul{
    padding-left: 15px;
}
.block-content-full ul li{
    list-style: disc;
    list-style-position: inside;
}
.block-content-full ol li{
    list-style: decimal;
    list-style-position: inside;
}
.block-content-full .content-read-more{
    width: 100%;
    height: 201px;
    gap: 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40.18%, rgba(255, 255, 255, 0.5) 72.95%, #FFFFFF 100%);
    text-align: center;
    position: absolute;
    bottom: 0;
    z-index: 9;
    left: 0;
}
.block-content-full .content-read-more button{
    height: 48px;
    top: 113px;
    padding: 12px 13px 13px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #D1D1D1;
    background: #fff;
    font-size: 16px;
    font-weight: 510;
    line-height: 22px;
    text-align: center;
    color: #3D3D3D;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 126px;
}

.block-content-full.show .content-read-more button{
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 108px;
    top: auto;
}
.block-content-full.show .content-read-more{
    position: relative;
    height: 72px;
}

.block-content-full .box-content-body h2,
.block-content-full .box-content-body h3,
.block-content-full .box-content-body h4{
    margin-bottom: 16px;
    margin-top: 24px;
}
.block-content-full .box-content-body h2{
    margin-bottom: var(--gap-content-element);
}

.block-content-full .box-content-body p{
    margin-bottom: var(--gap-content-element);
}
.block-content-full .box-content-body table{
    margin-bottom: var(--gap-content-element);
}
.block-content-full .box-content-body strong,
.block-content-full .box-content-body b{
    font-weight: 600;
}
.block-content-full .box-content-body a{
    color: #4564ED;
}
.block-content-full table{
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border: 1px solid #E7E7E7;
    border-radius:  var(--broder-radius-content-table);
    table-layout: fixed;
}

.block-content-full .wap-table{
    width: 100%;
    overflow-x: hidden;
}

.block-content-full table>tbody>tr>td, 
.block-content-full table>tbody>tr>th, 
.block-content-full table>tfoot>tr>td, 
.block-content-full table>tfoot>tr>th, 
.block-content-full table>thead>tr>td, 
.block-content-full table>thead>tr>th{
    border-top: 0;
    border-left: 0;
    border-right:0;
    border-bottom: 1px solid #E7E7E7;
}
.block-content-full table th,
.block-content-full table td{
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.block-content-full table th{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.block-content-full table thead tr:first-child th:first-child {
  border-top-left-radius: var(--broder-radius-content-table); 
}
.block-content-full table thead tr:first-child th:last-child {
  border-top-right-radius:  var(--broder-radius-content-table);
}
.block-content-full table tbody tr:last-child td:first-child {
  border-bottom-left-radius:  var(--broder-radius-content-table);
}
.block-content-full table tbody tr:last-child td:last-child {
  border-bottom-right-radius:  var(--broder-radius-content-table);
}
.block-content-full table tr:first-child th,
.block-content-full table tr:first-child td {
  border-top: none;
}

.block-content-full .table tr:last-child td {
  border-bottom: none;
}

.block-content-full table tr td:first-child,
.block-content-full table tr th:first-child {
  border-left: none;
}

.block-content-full table tr td:last-child,
.block-content-full table tr th:last-child {
  border-right: none;
}
.block-content-full table a{
    color: #4564ED;
}
.block-content-full table a:hover{
    color: #4564ED;
    text-decoration: underline;
}
.block-content-full table th{
    background-color: #F7F7F8;
    text-align: left;
    vertical-align: middle;
    font-weight: 500;
}
.block-content-full table>thead>tr>th{
    border-right: none;
}


.block-fqa{
    padding-top: var(--gap-padding-block);
    padding-bottom: var(--gap-padding-block);
}
.block-fqa .wrap-content{
    width: 100%;
    position: relative;
    min-height: 650px;
}
.block-fqa .col-right{
    width: 100%;
    padding-left: 46%;
}
.block-fqa .col-left{
    width: 46%;
    padding-right: 40px;
    transition: top 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #3D3D3D;
}
.block-fqa .col-left.scoll{
    /* position: fixed; */
    top: var(--header-top-height,106px);
}
.block-fqa img{
    max-width: 100%;
}
.block-fqa .bg-img{
    padding-right: 60px;
    margin-top: 50px;
}

.block-fqa .col-left .block-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 8px;
}

.wap-fqa-list .item{
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #E7E7E7
}
.wap-fqa-list .item.active{
    padding-bottom: var(--padding-list-item);
}
.wap-fqa-list .item:last-child{
    border-bottom: none;
}
/* .wap-fqa-list .item.item.active{

} */
.wap-fqa-list .item .content {
    display: none;
    font-size: 16px;
    line-height: 24px;
    color: #888888;
    padding-top: 8px;
}
.wap-fqa-list .item .content p{
    margin-bottom: 0;
}
.wap-fqa-list .item.active .content {
    display: block;
}
.wap-fqa-list .item .header {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #3D3D3D;
    position: relative;
    padding-right: 35px;
    min-height: 28px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
    padding-top: var(--padding-list-item);
    padding-bottom: var(--padding-list-item);
}
.wap-fqa-list .item.active .header{
    padding-bottom: 0;
}
.wap-fqa-list .item:first-child .header{
    padding-top: 0;
}
.wap-fqa-list .item .header .icon {
    position: absolute;
    right: 8px;
    top: cal(var(--padding-list-item) + var(--line-height-gap));
    /* transform: translateY(-50%); */
    width: 24px;
    height: 24px;
    background: url('../../../images/internet/icon/add-circle.svg') no-repeat center center;
    background-size: 100%;
    pointer-events: none;
}
/* .wap-fqa-list .item.active .header .icon{
    top: calc(50% + var(--padding-list-item) / 2);
    transform: 0;
} */
.wap-fqa-list .item:first-child .header .icon{
    top: var(--line-height-gap);
}
.wap-fqa-list .item.active .header .icon {
    background: url('../../../images/internet/icon/minus-cirlce.svg') no-repeat center center;
}
.wap-fqa-list .item .header p{
    margin: 0;
}


@media (max-width: 1440px){
    .block-content-full{
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
    }
}
@media (max-width: 1024px){
    .block-fqa .col-left{
        font-size: 16px;
    }
    .block-fqa .col-left .block-title{
        font-size: 32px;
    }
    .block-fqa .bg-img{
        padding-right: 10px;
    }
}


@media (max-width: 767px){
    :root{
        --gap-padding-block: 40px;
        --line-height-gap: 3px;
    }
    .block-content-full .box-content-header{
        padding-bottom: 16px;
        margin-bottom: 16px;
    }
    .block-content-full{
        height: 300px;
        padding: 16px;
    }
    
    .block-content-full .content-read-more{
        height: 100px;
        gap: 0px;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40.18%, rgba(255, 255, 255, 0.5) 72.95%, #FFFFFF 100%);
    }
    .block-content-full .content-read-more button{
        top: 44px;
        padding: 8px;
        gap: 8px;
        border-radius: 8px;
        border: 1.5px solid #D1D1D1;
        font-size: 14px;
        font-weight: 510;
        line-height: 20px;
        height: 40px;
        width: 117px;
    }
    .block-content-full .box-content-header .title{
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
    }
    
    .block-content-full .box-content-body{
        font-size: 14px;
    }
    .block-content-full .wap-table{
        overflow-x: scroll;
    }
    .block-content-full table{
        max-width: none;
        width: auto!important;
    }
    .block-content-full .box-content-body h2,
    .block-content-full .box-content-body h3,
    .block-content-full .box-content-body h4{
        margin-bottom: 8px;
    }
    .block-fqa .col-left,
    .block-fqa .col-right{
        width: 100%;
        padding-left: 0;
    }
    .block-fqa .col-left{
        text-align: center;
        position: inherit;
        font-size: 16px;
        line-height: 24px;
    }
    .block-fqa .bg-img{
        padding-right: 0;
        margin-top: 24px;
    }
    .block-fqa .col-left.scoll{
        position: inherit;
    }
    .block-fqa .col-left .block-title{
        font-size: 24px;
        line-height: 32px;
    }

    .wap-fqa-list .item .header{
        font-size: 16px;
        line-height: 22px;
    }
    .wap-fqa-list .item .content{
        font-size: 14px;
        line-height: 24px;
    }
    .block-fqa .col-left p{
        padding-left: 16px;
        padding-right: 16px;
    }
    .block-fqa .wrap-content{
        min-height: 100px;
    }

}
@media screen and (max-width: 479px) {
    .block-fqa {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 768px) {
    .block-content-full{
        padding: 24px;
    }
}