@import url('./fontutm.css');

.primary-heading {
  font-family: 'UTM Neo Sans IntelBold';
  font-size: 120px;
  line-height: 140px;
  margin: 0;
}

.secondary-heading {
  font-family: 'UTMNeoSansIntel';
  font-size: 35px;
  line-height: 48px;
  margin: 0;
}

.section--fullscreen {
  height: 280vh;
  color: #ffffff;
  background-color: #0F1327;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-gradient {
  background: linear-gradient(90deg, #1BCD58 0%, #279FFF 100%),
    linear-gradient(90deg, #1BCD58 0%, #279FFF 100%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section--fullscreen .logo {
  position: relative;
}

.section--fullscreen .logo .ico {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes moveTopDown {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes moveTopDown {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes moveTopDownLeft {
  0% {
    transform: translateY(0) translateX(0);
  }

  33% {
    transform: translateY(15px) translateX(15px);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes moveTopDownLeft {
  0% {
    transform: translateY(0) translateX(0);
  }

  33% {
    transform: translateY(15px) translateX(15px);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes moveTopDownRight {
  0% {
    transform: translateY(0) translateX(0);
  }

  33% {
    transform: translateY(-15px) translateX(15px);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes moveTopDownRight {
  0% {
    transform: translateY(0) translateX(0);
  }

  33% {
    transform: translateY(-15px) translateX(15px);
  }

  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes stamp {
  0% {
    opacity: 0;
  }

  10% {
    opacity: .50;
    transform-origin: 50% 50%;
    transform: scale(5);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  90% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes stamp {
  0% {
    opacity: 0;
  }

  10% {
    opacity: .50;
    transform-origin: 50% 50%;
    transform: scale(5);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  90% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes stamp1 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: .50;
    transform-origin: 50% 50%;
    transform: scale(3);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes stamp1 {
  0% {
    opacity: 0;
  }

  10% {
    opacity: .50;
    transform-origin: 50% 50%;
    transform: scale(3);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.section--fullscreen .logo .ico--1 {
  top: -48px;
  left: 231px;
  -webkit-animation: stamp 0.75s ease-in-out;
  animation: stamp 0.75s ease-in-out;
}

.section--fullscreen .logo .ico--2 {
  bottom: -91px;
  left: 67px;
  -webkit-animation: stamp1 1s ease-in-out;
  animation: stamp1 1s ease-in-out;
}

.section--fullscreen .logo .ico--3 {
  top: -18px;
  left: 604px;
  -webkit-animation: stamp1 1.25s ease-in-out;
  animation: stamp1 1.25s ease-in-out;
}

.section--fullscreen .logo .ico--4 {
  bottom: -78px;
  right: 26px;
  -webkit-animation: stamp 0.75s ease-in-out;
  animation: stamp 0.75s ease-in-out;
}

.section--fullscreen.animate-moving.run-animate .swiper-slide-active .logo .ico--1 {
  -webkit-animation: moveTopDown 7s infinite ease-in-out;
  animation: moveTopDown 7s infinite ease-in-out;
}

.section--fullscreen.animate-moving.run-animate .swiper-slide-active .logo .ico--2 {
  -webkit-animation: moveTopDownLeft 7s infinite ease-in-out;
  animation: moveTopDownLeft 7s infinite ease-in-out;
}

.section--fullscreen.animate-moving.run-animate .swiper-slide-active .logo .ico--3 {
  -webkit-animation: moveTopDownRight 10s infinite ease-in-out;
  animation: moveTopDownRight 10s infinite ease-in-out;
}

.section--fullscreen.animate-moving.run-animate .swiper-slide-active .logo .ico--4 {
  -webkit-animation: moveTopDown 10s infinite ease-in-out;
  animation: moveTopDown 10s infinite ease-in-out;
}

.section--fullscreen .logo {
  width: 100%;
  max-width: 935px;
  margin: 0 auto 7px auto;
}

.section--fullscreen .logo .text-line img {
  width: auto;
  max-width: 100%;
}

.section--fullscreen .section__wrapper {
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
}

.section--fullscreen .section__content {
  position: relative;
  height: 100vh;
  width: 100%;
}

.overlay {
  transition: all 1.5s ease;
  opacity: 0;
}

.overlay--1 {
  position: absolute;
  width: 49.7395833%;
  height: auto;
  left: 0;
  top: 0;
  z-index: 10;
}

.overlay--2 {
  position: absolute;
  width: 53.0208333%;
  height: auto;
  right: 0;
  top: 0;
  z-index: 1;
}

.overlay--3 {
  width: 54.3229167%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 10.2604167%;
  z-index: 10;
}

.overlay--4 {
  width: 65.9375%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}

.overlay-top-left .overlay--1,
.overlay-top-left .overlay--2 {
  opacity: 1;
}

.overlay-left-center .overlay--3,
.overlay-left-center .overlay--4 {
  opacity: 1;
}

.overlay-top-left .dots {
  top: auto;
  bottom: 10%;
  transform: translate(-50%, 10%) scale(1);
  -webkit-transform: translate(-50%, 10%) scale(1);
  -moz-transform: translate(-50%, 10%) scale(1);
  -ms-transform: translate(-50%, 10%) scale(1);
  -o-transform: translate(-50%, 10%) scale(1);
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  pointer-events: none;
}

.overlay-left-center .overlay-image {
  opacity: 0;
}

.overlay-image img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-image::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(33.19% 104.5% at 53.26% 50%, rgba(12, 16, 36, 0) 0%, #0C1024 100%, #0C1024 100%);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.dots {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transition: all 1s ease;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
}

.scrolling-swiper {
  position: relative;
  z-index: 11;
}

.scrolling-swiper .swiper-slide .box {
  font-family: 'UTMNeoSansIntel';
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  opacity: 0;
  transition: all 0.65s ease;
  pointer-events: none;
  position: relative;
}

.scrolling-swiper .swiper-slide .box>div {
  width: 100%;
}

.scrolling-swiper::before {
  content: '';
  width: 100%;
  height: 38.9064143%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(12, 16, 36, 0) 0%, #0C1024 70.79%);
  pointer-events: none;
}

.main-btn {
  height: 52px;
  position: relative;
  padding: 0 16px;
  background-color: #01C27D;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  /* filter: drop-shadow(0px 2px 20px rgba(0, 206, 157, 0.7)); */
  font-family: 'SVN-Gilroy', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
  transition: 0.35s;
}

.main-btn:hover,
.main-btn:active,
.main-btn:focus {
  filter: drop-shadow(0px 2px 20px rgba(0, 206, 157, 0.7));
  text-decoration: none;
  color: #ffffff;
  transition: 0.35s;
}

.main-btn .icon {
  position: absolute;
  top: 0;
  width: 24px;
  height: auto;
}

.main-btn span {
  opacity: 0.65;
  margin: 0 3px;
  display: inline-block;
}

.main-btn .icon--left {
  left: -24px;
}

.main-btn .icon--right {
  right: -24px;
}

@-webkit-keyframes mqn-swipe-zoom-up {
  0% {
    opacity: 0
  }

  1% {
    opacity: 1;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
  }

  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes mqn-swipe-zoom-up {
  0% {
    opacity: 0
  }

  1% {
    opacity: 1;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
  }

  100% {
    opacity: 1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes flash {
  0% {
    opacity: 0
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 0
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.section--fullscreen.run-animate .flash-1 {
  animation: flash 2s infinite;
  animation-timing-function: ease-out;
}

.section--fullscreen.run-animate .flash-2 {
  animation: flash 3s infinite;
  animation-timing-function: ease-out;
}

.section--fullscreen.run-animate .flash-3 {
  animation: flash 1s infinite;
  animation-timing-function: ease-out;
}

.section--fullscreen.run-animate .flash-4 {
  animation: flash 2.5s infinite;
  animation-timing-function: ease-out;
}

.section--fullscreen.run-animate .flash-5 {
  animation: flash 1.5s infinite;
  animation-timing-function: ease-out;
}

.section--fullscreen.run-animate .flash-mb-1 {
  animation: flash 2s infinite;
  animation-timing-function: ease-out;
}

.section--fullscreen.run-animate .flash-mb-2 {
  animation: flash 3s infinite;
  animation-timing-function: ease-out;
}

.section--fullscreen.run-animate .flash-mb-3 {
  animation: flash 1s infinite;
  animation-timing-function: ease-out;
}

.section--fullscreen.run-animate .flash-mb-4 {
  animation: flash 2.5s infinite;
  animation-timing-function: ease-out;
}

.section--fullscreen.run-animate .flash-mb-5 {
  animation: flash 1.5s infinite;
  animation-timing-function: ease-out;
}

.aos-init .avatar-block {
  /*opacity: 0;
  */
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}

.aos-animate .avatar-block {
  opacity: 1;
}

.page-section.hover-out,
.page-section.hover-out.d-active {
  opacity: 0.35;
}

.page-section.hover-in,
.page-section.hover-in.d-active {
  opacity: 1;
}


/*.aos-animate .hover-out.avatar-block {
  opacity: 0.35;
}

.aos-animate .hover-in.avatar-block {
  opacity: 1;
}
*/
.aos-init .animate-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  /* yes or no?  */
}

.aos-init .animate-image:hover {
  opacity: 1;
}

.aos-animate .animate-image {
  -webkit-animation: 1.3s cubic-bezier(0.6, 0.05, 0.01, 0.99) 0s 1 normal forwards mqn-swipe-zoom-up;
  animation: 1.3s cubic-bezier(0.6, 0.05, 0.01, 0.99) 0s 1 normal forwards mqn-swipe-zoom-up;
  opacity: 1;
}

.scrolling-swiper .swiper-slide .box--has-overlay>div {
  position: relative;
  z-index: 10;
}

.scrolling-swiper .swiper-slide .desc {
  max-width: 790px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
}

.scrolling-swiper .swiper-slide .main-btn {
  margin-top: 99px;
}

.scrolling-swiper .swiper-slide.swiper-slide-prev .box {
  -webkit-transform: translateY(-200px);
  transform: translateY(-200px);
  will-change: transform;
}

.scrolling-swiper .swiper-slide.swiper-slide-active .box {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  pointer-events: all;
}

.scrolling-swiper .swiper-slide.swiper-slide-next .box {
  -webkit-transform: translateY(200px);
  transform: translateY(200px);
  will-change: transform;
}

.section--fullscreen .logo {
  text-align: center;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
    transform: translateX(-50%) translateY(10px);
  }

  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
    transform: translateX(-50%) translateY(10px);
  }

  100% {
    opacity: 0.5;
  }
}

.section--fullscreen .arrow-down {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  animation: pulse 2s ease-out;
  animation-iteration-count: infinite;
  z-index: 999;
  cursor: pointer;
}

.scollable .arrow-down,
.is-last-section .arrow-down {
  visibility: hidden;
}

.swiper-slide.slide-1 .box {
  position: relative;
  background: url('../images/slider-1.png') no-repeat center;
  background-size: cover;
}

.swiper-slide.slide-1 .box::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url('../images/vector-dot.png') no-repeat bottom center;

}

.swiper-slide.slide-1 .box .content {
  text-align: center;
  padding-bottom: 180px;
}

.swiper-slide.slide-2 .box {
  background-color: #0c1024;
  background-image: url('../images/ellipse5.png'), url('../images/ellipse6.png'), url('../images/vector-dot.png');
  background-position: 140% -39vh, bottom left, bottom center;
  background-repeat: no-repeat;
  background-size: 70%, 70%, 100%;
}

.swiper-slide.slide-2 .box .content {
  text-align: center;
  padding-bottom: 180px;
  font-size: 20px;
}

.swiper-slide.slide-3 .box {
  background-color: #0c1024;
  background-image: url('../images/ellipse5.png'), url('../images/ellipse6.png'), url('../images/vector-dot.png');
  background-position: 140% -39vh, bottom left, bottom center;
  background-repeat: no-repeat;
  background-size: 70%, 70%, 100%;
}

.swiper-slide.slide-3 .box .content {
  text-align: center;
  padding-bottom: 180px;
  font-size: 20px;
}

.swiper-slide.slide-4 .box {
  background-color: #0c1024;
  background-image: url('../images/ellipse5.png'), url('../images/ellipse6.png'), url('../images/vector-dot.png');
  background-position: 140% -39vh, bottom left, bottom center;
  background-repeat: no-repeat;
  background-size: 70%, 70%, 100%;
}

.swiper-slide.slide-4 .box .content {
  text-align: center;
  padding-bottom: 180px;
  font-size: 20px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  html, body {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }

  html.scollable,
  body.scollable {
    position: static;
    height: auto;
    overflow: auto;
    overflow-x: hidden;
  }

  .section--fullscreen {
    height: 100vh;
  }

  .primary-heading {
    font-size: 55px;
    line-height: 75px;
  }

  .secondary-heading {
    font-size: 30px;
    line-height: 41px;
  }

  .scrolling-swiper .swiper-slide .box {
    padding: 0 15px;
  }

  .scrolling-swiper .swiper-slide .desc {
    font-size: 16px;
    line-height: 24px;
    max-width: 76%;
    margin-top: 64px;
  }

  .dots {
    transform: translate(-50%, -50%) scale(3.5);
    -webkit-transform: translate(-50%, -50%) scale(3.5);
    -moz-transform: translate(-50%, -50%) scale(3.5);
    -ms-transform: translate(-50%, -50%) scale(3.5);
    -o-transform: translate(-50%, -50%) scale(3.5);
  }

  .overlay-top-left .dots {
    bottom: 40%;
    transform: translate(-50%, 40%) scale(3.5);
    -webkit-transform: translate(-50%, 40%) scale(3.5);
    -moz-transform: translate(-50%, 40%) scale(3.5);
    -ms-transform: translate(-50%, 40%) scale(3.5);
    -o-transform: translate(-50%, 40%) scale(3.5);
  }

  .section--fullscreen .arrow-down {
    bottom: 76px;
  }

  .overlay--2 {
    position: absolute;
    width: 495px;
    height: auto;
    right: -204px;
    top: 0;
    z-index: 1;
  }

  .overlay--3 {
    position: absolute;
    width: 508px;
    height: auto;
    left: -175px;
    bottom: -270px;
    z-index: 1;
  }
  
  .overlay--4 {
    position: absolute;
    width: 505px;
    height: auto;
    right: -189px;
    top: -180px;
    z-index: 1;
  }
}

@media screen and (max-width: 540px) {
  .scrolling-swiper .swiper-slide .desc {
    max-width: 96%;
    line-height: 26px;
  }

  .section--fullscreen .logo .ico--1 {
    top: -88px;
    left: 50px;
  }

  .section--fullscreen .logo .ico--2 {
    bottom: 0px;
    left: -30px;
    width: 50px;
    height: 50px;
  }

  .section--fullscreen .logo .ico--2 svg {
    width: 25px;
    height: 16px;
    transform: rotate(-20deg);
  }

  .section--fullscreen .logo .ico--3 {
    top: -65px;
    left: 235px;
    width: 45px;
    height: 45px;
  }

  .section--fullscreen .logo .ico--3 svg {
    width: 18px;
    height: 18px;
  }

  .section--fullscreen .logo .ico--4 {
    top: 175px;
    left: 310px;
    width: 50px;
    height: 50px;
  }

  .section--fullscreen .logo .ico--4 svg {
    width: 20px;
    height: 20px;
    transform: rotate(-20deg);
  }

  .flash-1,
  .flash-2,
  .flash-3,
  .flash-4,
  .flash-5 {
    animation: none;
  }
}

/* End of Responsive */
