#landingpage-fsafe-go #section-1 {
  padding: 100px 0;
}
#landingpage-fsafe-go #section-1 .section-wrapper {
  border-radius: 24px;
  background: #fff;
  padding: 32px;
}
#landingpage-fsafe-go #section-1 .section-wrapper .section-title {
  color: #333;
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}
#landingpage-fsafe-go #section-1 .section-wrapper .number-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}